<ng-switch on="itemController.in_mjs">
	<div class="add-wrapper" dropdown>
		<div class="add" ng-click="itemController.push_to_mjs()" ng-switch-when="false" dropdown-toggle>
			<div class="add__icon">
				<icon position="[-418, -87]" alt-text="{en: 'Add to My Story', he: 'הוסף לסיפור שלי'}"></icon>
			</div>
			<div class="add__text">
				<en>Add to My Story</en>
				<he>הוסף לסיפור שלי</he>
			</div>
		</div>
		<div class="add-dialog">
			<div class="add-dialog__title">Item added</div>
			<span class="add-dialog__view" ui-sref="mjs">
				<en>view in</en>
				<he>צפה ב</he>  
				<div class="mystory">
					<div class="mystory__icon">
						<icon alt-text="{en: 'My Story', he: 'הסיפור שלי'}" position="[-83, -24]"></icon>
					</div>
				</div>
				<en>My Story</en>
				<he>סיפור שלי</he>
			</span>
			<span ng-if="!(item_data.ugc)">
				<span class="add-dialog__separator">|</span> 
				<span class="add-dialog__remove" ng-click="itemController.remove_from_mjs()">
					<en>Remove Item</en>
					<he>הורד</he>
				</span>
			</span>
		</div>
	</div>
	<div class="add" ng-click="itemController.remove_from_mjs()" ng-switch-when="true">
		<div class="add__icon">
			<icon position="[-418, -115]" alt-text="{en: 'Add to My Story', he: 'הוסף לסיפור שלי'}"></icon>
		</div>
		<div class="add__text">
			<en>In My Story</en>
			<he>בסיפור שלי</he>
		</div>
	</div>
</ng-switch>