<div id="item-page-container">
	<div id="item-page" ng-show="itemController.content_loaded">
		<div class="related">
			<trees-preview ng-if="itemController.related_individuals" individuals="itemController.related_individuals" query-params="itemController.related_individuals_query_params"></trees-preview>
			<item-preview ng-repeat="r_data in itemController.related_data | limitTo: 3" preview-data="r_data"></item-preview>
		</div>
		<div class="item-container">
			<div class="item">
				<div class="item__header">
					<div class="text">
						<en>{{itemController.item_data.Header.En}}</en>
						<he>{{itemController.item_data.Header.He}}</he>
					</div>
				</div>
				<ng-include src="'templates/main/item/add.html'"></ng-include>
				<div class="item__type">
					<ng-switch on="itemController.item_type">
						<div ng-switch-when="familyNames">
							<div class="type-icon-container">
								<div class="surname-icon"></div>
							</div>
							<div class="type-desc-container">
								<en>Surname Origin</en>
								<he>פירוש שם משפחה</he>
							</div>
						</div>
						<div ng-switch-when="places">
							<div class="type-icon-container">
								<div class="place-icon"></div>
							</div>
							<div class="type-desc-container">
								<en>Place</en>
								<he>מקום</he>
							</div>
						</div>
						<div ng-switch-when="photoUnits">
							<div class="type-icon-container">
								<div class="photo-icon"></div>
							</div>
							<div class="type-desc-container">
								<en>Image</en>
								<he>תמונה</he>
							</div>
						</div>
					</ng-switch>
				</div>
				<div class="item__content">
					<div class="item__content__image-container" ng-if="itemController.item_data.thumbnail.data">
						<img src="data:image/jpeg;base64,{{itemController.item_data.thumbnail.data}}" alt="Item Image" />
					</div>
					<en>{{itemController.item_data.UnitText1.En}}</en>
					<he>{{itemController.item_data.UnitText1.He}}</he>
				</div>
				<div class="item__bottom-bar">
					<ng-include src="'templates/main/item/add.html'"></ng-include>
					<div class="flag">
						<icon position="[-372, -25]" hover-offset="[0, -33]"></icon>
					</div>
				</div>
			</div>
		</div>
		<div class="related">
			<item-preview ng-repeat="r_data in itemController.related_data.slice(3, 6)" preview-data="r_data"></item-preview>
		</div>
	</div>
</div>
