$images: 					'/images/';

$view-width: 				1150px;
$header-height: 			65px;
$notification-bar-height: 	45px;
$footer-height: 			80px;
$museum-color:              #47c3d3;
$shop-color:                #fbb034;
$mjs-color:                 #cb5947;