$images: 					'/images/';

$view-width: 				1150px;
$header-height: 			65px;
$notification-bar-height: 	45px;
$footer-height: 			80px;
$museum-color:              #47c3d3;
$shop-color:                #fbb034;
$mjs-color:                 #cb5947;


$gray1:               #333333;
$gray2:               #444444;
$gray3:               #666666;
$gray4:               #999999;
$gray5:               #c2c2c2;
$gray6:               #e6e6e6;
$gray7:               #f4f4f4;

$red1:                #90190b;
$red2:                #bf311a;
$red3:                #cb5947;
$red4:                #d98376;
$red5:                #efcdc7;
$red6:                #f5e1dd;
$red7:                #ffedeb;

$yellow1:             #c96e00;
$yellow2:             #ea8a0a;
$yellow3:             #fbb034;
$yellow4:             #fbbf61;
$yellow5:             #fdd085;
$yellow6:             #fee2b6;
$yellow7:             #fff8f0;

$blue1:               #028293;
$blue2:               #009db2;
$blue3:               #47c3d3;
$blue4:               #91dbe4;
$blue5:               #a7e2ea;
$blue6:               #daf3f6;
$blue7:               #f0feff;
$blue8:               #347bc1;


