%item-type {
	display: inline-block;
	width: auto;
	height: auto;
	background: #f5f5f5;
	color: #b4b4b4; 
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	font-size: 11px;

	.en & {
		padding-right: 5px;
		float: right;
	}

	.he & {
		padding-left: 5px;
		float: left;
	}

	.type-icon-container {
		display: inline-block;
		padding-top: 3px;

		.en & {
			padding-left: 5px;
		}

		.he & {
			padding-right: 5px;	
		}

		.surname-icon {
			position: relative;
			top: 0;
			width: 19px;
			height: 16px;
			@include icon(-28px -161px);
		}

		.place-icon {
			width: 19px;
			height: 17px;
			@include icon(-30px -106px);
		}

		.tree-icon {
			width: 19px;
			height: 17px;
			@include icon(-28px -68px);
		}
	}

	.type-desc-container {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 5px 0;
	}
}

%item-preview {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: auto;
	background: #ffffff;
	overflow: hidden;
	margin: 0 0 18px;
	padding: 0 10px 10px;
	@include item-bottom-border();
	@include border-radius(8px 8px 0 0);
	@include item-shadow();
	@include hover-pointer(); 
		
	.type {
		@extend %item-type;
	}

	.header {
		margin: 36px 0 12px;
		font-size: 12px;
		font-weight: bold;
		clear: both;
	}

	.text {
		color: #474747;
		overflow: hidden;
		font-size: 11px;
		height: 50px;
		line-height: 16px;
		margin: 0 0 15px;

		&--nothumb {
			height: 100px;
		}
	}	

	.thumbnail {
		position: relative;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		overflow: hidden;

		&--trees {
			width: 92px;
			height: 83px;
			margin-top: 35px;
			@include icon(-125px -225px);
		}

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
		}
	}

	.remove {
		width: 18px;
		height: 20px;	
		overflow: hidden;
		margin-top: 8px;

		.en & {
			float: right;
		}

		.he & {
			float: left;
		}
	}
}

%node-container {
	@include hover-pointer();
	display: inline-block;
	min-width: 52px;
	min-height: 76px;
	margin: 15px 10px;

	.node {
		position: relative;
		width: 100%;
		min-height: 53px;
		padding: 0 8px;
		background: #f5f5f5;
		border: 1px solid #f0f0f0;
		@include border-radius(4px);

		.individual {
			display: inline-block;
			vertical-align: top;
			margin-top: -11px;

			&__icon {
				margin: 0 auto;
				width: 31px;
				height: 31px;
				overflow: hidden;
			}

			&__name {
				max-width: 71px;
				text-align: center;
				font-size: 15px;
				font-weight: bold;
				word-wrap: break-word;
				word-spacing: 100px;
			}
		}

		.rings {
			position: absolute;
			left: 50%;
			top: 0;
			@include translate(-50%, -2px);

			&__icon {
				width: 16px;
				height: 15px;
				overflow: hidden;
				margin: 0 auto;
			}
		}
	}
}

%bhs-fieldset {
	
	.bhf {
		margin: 0;
		padding: 0;
		border: none;

		&--en {
			direction: ltr;

			label {
				left: 10px;
			}

			.bhf__field__error {
				left: 10px;
			}
		}

		&--he {
			direction: rtl;

			label {
				right: 10px;
			}

			.bhf__field__error {
				right: 10px;
			}
		}

		&__field {
			position: relative;

			label {
				opacity: 1;
				position: absolute;
				top: 10px;
				font-size: 14px;
				@include transition(all, 0.5s, linear);

				&.ng-hide {
					opacity: 0;
					top: 24px;
				}
			}

			input[type=text], 
			input[type=password],
			input[type=email],
			textarea {
				width: 100%;
				border: 2px solid #d4d6d5;
				@include border-radius(6px);
				margin-bottom: 6px;
				padding: 34px 10px 0;
				font-size: 25px;
			}

			&__error {
				opacity: 1;
				position: absolute;
				bottom: 12px;
				font-size: 24px;
				color: #c73420;
				@include transition(all, 0.5s, linear);

				&.ng-hide {
					opacity: 0;
					bottom: 0;
				}
			}
		}
	}
}

%submit-btn {
	padding: 0;
	margin: 0;
	color: #f9f9f9;
	font-size: 22px;
	text-align: center;
	background: #5dc2d4;
	border: none;
	@include border-radius(2px);
	@include hover-pointer();
}