<div id="header">
	<div id="lang-selector" class="lang-float {{mainController.lang}}">
		<en>
			<span ng-click="mainController.lang='he'">עברית</span>
		</en>
		<he>
			<span ng-click="mainController.lang='en'">English</span>
		</he>
	</div>
	<div id="logo-container">
		<en>
			<img src="images/logo-en-medium.png" alt="Logo" />
		</en>
		<he>
			<img src="images/logo-he-medium.png" alt="Logo" />
		</he>
	</div>
	<div id="search-area">
		<input type="text" />
		<button>
			<en>Search</en>
			<he>חפש</he>
		</button>
	</div>
	<div>{{mainController.signed_in_user}}</div>
</div>
