<div id="header-wrapper" ng-controller="HeaderCtrl as headerController">
	<div id="header-inner">
		<div id="dropdown-icons" class="lang-float {{mainController.lang}}">
			<div class="language-selector bh-pointer">
				<en ng-click="mainController.lang='he'">עב</en>
				<he ng-click="mainController.lang='en'">EN</he>
			</div>
		</div>
		<div id="logo-container" class="bh-pointer" ui-sref="start">
			<en>
				<img src="images/logo-en-medium.png" alt="Logo" />
			</en>
			<he>
				<img src="images/logo-he-medium.png" alt="Logo" />
			</he>
		</div>
		<div id="search-area">
			<form>
				<input type="text" />
				<button class="bh-pointer" need-auth="false">
					<en>Search</en>
					<he>חפש</he>
				</button>
			</form>
		</div>
	</div>
</div>
