.sass-cache
node_modules
bower_components
public
js/lib/gedcom-js-viewer
docs/.tmp/**
.idea
.tmp
dist
/venv
.DS_Store
/screenshot*
package-lock.json
.redirector-db
bh_entities.after_new_domains.txt
*.egg-info
*.pyc

