#header-wrapper {
	height: 70px;
	width: 100%;

	#header-inner {
		position: relative;
		margin: 0 auto;
		width: $view-width;
		height: 100%;

		#logo-container {
			position: relative;
			display: inline-block;
			height: 100%;
			padding: 3px 5px 0;
			z-index: 1;
		}

		#search-area {
			position: relative;
			top: -70px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 5px 0;
			vertical-align: top;
			z-index: 0;

			form {
				width: 365px;
				margin: 0 auto;

				input {
					height: 30px;
					width: 300px;

					.en & {
						padding: 0 70px 0 0;
					}

					.he & {
						padding: 0 0 0 70px;	
					}
				}

				button {
					position: relative;
					height: 30px;
					width: 60px;
					vertical-align: top;
					padding: 5px;

					.en & {
						left: -60px;
					}

					.he & {
						right: -60px;	
					}
				}
			}
		}

		#dropdown-icons {
			padding: 20px 0;
			position: absolute;
			top: 0;
			z-index: 1;

			.en & {
				right: 0;
			}

			.he & {
				left: 0;
			}

			.language-selector {
				height: 33px;
				width: 33px;
				color: #f9f9f9;
				font-weight: bold;
				border-radius: 50%;
				background: grey;
				text-align: center;
				
				.language-menu {
					display: none;
					position: relative;
					height: 40px;
					width: 20px;
					top: 20px;
					background: #ffffff;
					color: #333333;
				}
				
				&.open {

					.language-menu {
						display: block;
					}
				}

				.en & {
					padding: 6px 0;
					font-size: 17px;
				}

				.he & {
					padding: 7px 0;
					font-size: 17px;
				}
			}
		}
	}
}
