#header-wrapper {
	height: 70px;
	width: 100%;

	#header-inner {
		position: relative;
		margin: 0 auto;
		max-width: $view-width;
		height: 100%;

		#logo-container {
			position: relative;
			display: inline-block;
			top: 10px;
			z-index: 1;

			img {
				width: auto;
				height: 50px;
			}
		}

		#search-area {
			position: relative;
			top: -53px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 5px 0;
			vertical-align: top;
			z-index: 0;

			form {
				width: 425px;
				margin: 0 auto;

				input {
					height: 30px;
					width: 360px;
					font-size: 12px;

					.en & {
						padding: 0 45px 0 10px;
					}

					.he & {
						padding: 0 10px 0 45px;	
					}
				}

				.search-button {
					position: relative;
					height: 30px;
					width: 60px;
					vertical-align: top;
					padding: 5px;

					.en & {
						left: -50px;
					}

					.he & {
						right: -50px;	
					}
				}
			}
		}

		#dropdown-icons {
			padding: 20px 0;
			position: absolute;
			top: 0;
			z-index: 1;

			.en & {
				right: 0;
			}

			.he & {
				left: 0;
			}

			.language-selector {
				height: 33px;
				width: 33px;
				color: #f9f9f9;
				font-weight: bold;
				border-radius: 50%;
				background: grey;

				.en & {
					padding: 7px 0;
					font-size: 17px;
				}

				.he & {
					padding: 6px 0;
					font-size: 17px;
				}

				.selector {
					text-align: center;
				}

				.title {
					height: 44px;
				}

				.row {
					height: 42px;
					padding: 15px 15px 0;
					border-bottom: 2px solid #eceaea;
					font-size: 15px;

					.language-selector {
						position: relative;
						top: -50%;
						display: inline-block;
					}

					.language-desc {
						position: relative;
						top: -5px;
						display: inline-block;
						height: 100%;
						width: auto;
						vertical-align: top;

						.en & {
							right: -5px;
						}

						.he & {
							left: -5px;	
						}
					}
				}
				
				.language-menu {
					display: none;
					position: relative;
					height: 145px;
					width: 330px;
					top: 20px;
					background: #ffffff;
					color: #333333;
					border-bottom: 2px solid #5ecad8;

					.en & {
						left: -300px;
					}

					.he & {
						right: -300px;
					}
				}
				
				&.open {

					.language-menu {
						display: block;
					}
				}
			}
		}
	}
}
