#header-wrapper {
	position: relative;
	z-index: 1;
	height: $header-height;
	width: 100%;
	background: #ffffff;

	#header-inner {
		position: relative;
		margin: 0 auto;
		max-width: $view-width;
		height: 100%;

		#logo {
			position: relative;
			display: inline-block;
			top: 10px;
			width: 45px;
			height: 50px;
			z-index: 1;
			@include icon(-26px -14px);
		}

		#mystory-icon {
			position: relative;
			top: -8px;
			display: inline-block;
			vertical-align: middle;
			width: 86px;
			height: 24px;
			z-index: 1;
			@include icon(-83px -24px);

			.en & {
				margin-left: 20px;
			}

			.he & {
				margin-right: 20px
			}

			&:hover {
				@include icon(-83px -53px);				
			}
		}

		#search-area {
			position: relative;
			top: -53px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 5px 0;
			vertical-align: top;
			z-index: 0;

			form {
				width: 425px;
				margin: 0 auto;

				input {
					height: 30px;
					width: 360px;
					font-size: 12px;

					.en & {
						padding: 0 45px 0 10px;
					}

					.he & {
						padding: 0 10px 0 45px;	
					}
				}

				.search-button {
					position: relative;
					display: inline-block;
					height: 23px;
					width: 15px;
					vertical-align: top;
					@include icon(-350px -24px);

					.en & {
						left: -32px;
					}

					.he & {
						right: -32px;	
					}
				}
			}
		}

		#dropdown-icons {
			padding: 22px 0;
			position: absolute;
			top: 0;
			z-index: 1;

			.en & {
				right: 0;
			}

			.he & {
				left: 0;
			}

			.language-selector {
				width: 29px;
				color: #f9f9f9;
				font-weight: bold;

				.language-icon-en, .language-icon-he {
					display: inline-block;
					width: 29px;
					height: 29px;
				}

				.language-icon-en {
					@include icon(-312px -24px);
				
					&:hover {
						@include icon(-312px -54px);	
					}
				}

				.language-icon-he {
					@include icon(-312px -86px);
				
					&:hover {
						@include icon(-312px -116px);	
					}
				}

				.title, .row {
					height: 42px;
					padding: 8px 15px 0;
					border-bottom: 2px solid #eceaea;
					font-size: 15px;
				}

				.title {
					height: 44px;
				}

				.row {
			
					&:hover {
						color: #5dc2d4;

						.language-icon-en {
							@include icon(-312px -54px);	
						}

						.language-icon-he {
							@include icon(-312px -116px);	
						}
					}

					.language-desc {
						position: relative;
						top: -5px;
						display: inline-block;
						height: 100%;
						width: auto;
						vertical-align: middle;

						.en & {
							right: -5px;
						}

						.he & {
							left: -5px;	
						}
					}
				}
				
				.language-menu {
					display: none;
					position: relative;
					height: 145px;
					width: 330px;
					top: 15px;
					background: #ffffff;
					color: #333333;
					border-bottom: 2px solid #5ecad8;

					.en & {
						left: -300px;
					}

					.he & {
						right: -300px;
					}
				}
				
				&.open {

					.language-menu {
						display: block;
					}
				}
			}
		}
	}
}
