#item-page {
	width: $view-width;
	margin: 0 auto;
	padding: 50px 0 10px;

	.item-container, .related {
		display: inline-block;
		vertical-align: top;

		.item {
			@include item-bottom-border();
			@include item-shadow();
		}
	}

	.item-container {
		width: 560px;

		.item {
			position: relative;
			width: 560px;
			background: #ffffff;

			div {
				padding: 10px 20px;
			}

			&__header {
				width: 100%;
				height: 40px;
				background: #48c3d4;
				color: #ffffff;
				font-size: 20px;
			}

			&__top-bar {
				width: 100%;
				height: 55px;
				border-bottom: 1px solid #dfdfdf;
			} 

			&__content {
				width: 100%;
				padding-bottom: 70px !important;

				.thumbnail {
					width: 220px;
					height: 160px;

					.en & {
						float: left;
						margin-right: 8px;	
					}
					
					.he & {
						float: right;
						margin-left: 8px;
					}
				}
			}

			&__bottom-bar {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 60px;
				border-top: 1px solid #dfdfdf;
			}
		}
	}


	.related {
		width: 265px;
		height: 100%;

		.single-result {
			@extend %item-preview;
			display: block;  
		}
	}
}
