<div class="container container-404">
  <div class="bg-wrap">
    <div class="bg"></div>
  </div>
  <div class="row top-msg">
    <div>
      <div class="top-msg-title">
        e
        <span class="small">rror</span>
        =
        <span class="big">404</span>
        <span class="top">2</span>
      </div>
      <div class="top-msg-content">
        Without any doubt a mistake
        <br>
        was made...
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row bottom-msg">
    <div>
      <div class="bottom-msg-content">
        <h2>“Anyone who has never made ​​a mistake, has never tried anything new”</h2>
        <p style="text-align: right;">Albert Einstein</p>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
