<div id="item-page-container">
    <nav class="menu gsearch">
        <ul class="nav">
            <li class="menu-item" ng-class="{'menu-item--active': generalSearchCtrl.collection == 'allResults'}" ng-click="generalSearchCtrl.collection ='allResults'">
                <div>
                    <en>All results</en>
                    <he>כל התוצאות</he>
                </div>
            </li>
            <li class="menu-item" ng-class="{'menu-item--active': generalSearchCtrl.collection == 'places'}" ng-click="generalSearchCtrl.collection = 'places'">
                <div>
                    <en>Places</en>   
                    <he>מקומות</he>
                </div>
            </li>
            <li class="menu-item" ng-class="{'menu-item--active': generalSearchCtrl.collection == 'media'}" ng-click="generalSearchCtrl.collection = 'media'">
                <div>
                    <en>Images<br>& Videos</en>
                    <he>תמונות + וידאו</he>
                </div>
            </li>
            <li class="menu-item" ng-class="{'menu-item--active': generalSearchCtrl.collection == 'personalities'}" ng-click="generalSearchCtrl.collection = 'personalities'">
                <div>
                    <en>Personalities</en>   
                    <he>אישים</he>
                </div>
            </li>
            <li class="menu-item" ng-class="{'menu-item--active': generalSearchCtrl.collection == 'familyNames'}" ng-click="generalSearchCtrl.collection = 'familyNames'">
                <div>
                    <en>Family names</en>   
                    <he>שמות משפחה</he>
                </div>
            </li>
        </ul>
    </nav>
    <div  id="general-search-page">
        <ng-switch on="generalSearchCtrl.collection">
            <div class="about_center" ng-switch-when='allResults'>
                <div class="article">
                    <h3 class="article_title">
                        <en>About Beit Hatfutsot databases: The vision of Nahum Goldmann</en>
                        <he>אודות מאגרי המידע של בית: התפוצות בחזונו של נחום גולדמן</he>
                    </h3>
                    <div class="content">
                        <en>
                            <p>For over three decades, Beit Hatfutsot has been collecting digital resources in various categories: photography, genealogy, films, Jewish music, history of communities, the meaning of Jewish family names, personalities, and a lexicon of terms in Jewish peoplehood.</p>
                            <p>Searching the databases is available while visiting Beit Hatfutsot, or by sending us a search order. Search for information about a Jewish community in a specific town, village of city; find out whether there are family trees associated with that community; explore the branches of a specific family tree, find out the meaning of the family name, and search further for related films, photos or music.</p>
                            <p>© All information from the databases published on this website belongs to Beit Hatfutsot since 1983.</p>
                        </en>
                        <he>
                            <p>בבית התפוצות מאגרי מידע מגוונים ועשירים. אילנות יוחסין (עצי משפחה), פירושים לשמות משפחה, תולדותיהן של קהילות ברחבי העולם, צילומים, תמונות וסרטים, קטעי מוזיקה, מידע על מושגים ואישים – כל החומרים נמצאים על פלטפורמה דיגיטלית אחת, במערכת-חיפוש מסוג "אינטרא-נט", שמאגמת את סוגי התוכן וגם מקשרת ביניהם בקישורים פנימיים.</p>
                            <p>ניתן לערוך חיפוש במאגרים בעת ביקור במוזיאון, או על ידי שליחת טופס חיפוש באמצעות האתר.</p>
                            <p>המערכת מכילה, בין היתר, גניאלוגיה יהודית (עצי משפחה); פירושים לשמות המשפחה של יהודים במגוון עדות ולשונות; תולדותיהן של קהילות יהודיות; צילומים משפחתיים וקהילתיים, צילומים של בתי כנסת, בתי עלמין, מצבות וקברים, ומוסדות קהילה; מוזיקה יהודית (חזנות ופיוט, שירה ונגינה מסורתיות של יהודי כל התפוצות והעדות, צלילי קהילות שחרבו בשואה, יצירות חסידיות, יצירות של מלחינים יהודים ועוד); ביאור מושגי יסוד ביהדות ובתולדות עם ישראל; חייהם ופועלם של מנהיגים, יוצרים ודמויות מפתח בעם היהודי.</p>
                            <p>© כל מידע מהמאגרים שמתפרסם באתר של בית התפוצות שייך למאגרי המידע של בית התפוצות מאז 1983</p>
                        </he>
                    </div>
                </div>
            </div>  
            <div class="about_center" ng-switch-when='places'>
                <div class="article">
                    <h3 class="article_title">
                        <en>About the Beit Hatfutsot Jewish Communities Database</en>
                        <he>אודות מאגר הקהילות היהודיות של בית התפוצות</he>
                    </h3>
                    <div class="content">
                        <en>
                            <p>The Beit Hatfutsot Jewish Communities Database is one of the richest collections of Jewish community culture in the world.</p>
                            <p>Over the past thirty years, Beit Hatfutsot has collected an astounding array of facts, figures, anecdotes, narratives, and cultural descriptions from over over 3,000 Jewish communities, past and present.</p>
                            <p>The database includes historical, geographic and demographic data about a broad spectrum of communities — from those that do not exist any more to those that have only recently developed, and from those that were destroyed in the Holocaust to those that are thriving and growing today. The database spans six continents, from the farthest reaches of the Pacific to the cold mountains of Asia and nearly everything in between. Some of the community stories date back 3500 years. The database paints detailed portraits of Jewish life throughout the ages, and comprises an unparalleled tool for preserving Jewish communal and cultural memory for future generations. The databases are accessible to the visiting public at the museum. Information is also accessible on-line.</p>
                        </en>
                        <he>
                            <p>מאגר הקהילות היהודיות של בית התפוצות עשיר וגדול. יותר משלושה עשורים נאסף במאגר מידע, עובדות, נתונים סטטיסטיים וגם סיפורים ואנקדוטות בעבר ובהווה.</p>
                            <p>במאגר נתונים היסטוריים, גיאוגרפיים ודמוגרפיים על מגוון קהילות ברחבי העולם; קהילות שכבר אינן קיימות, קהילות שנוסדו בדורנו, קהילות שחרבו בשואה, וקהילות ותיקות ומשגשגות בהווה. במאגר קהילות בשש יבשות, מקצווי האוקיינוס השקט ועד לפסגות הרי אסיה, וכמעט כל מה שביניהם. לחלק מהקהילות היסטוריה ארוכה וסיפורן מתחיל לפני 3,500 שנה. מאגר הקהילות מציג את התפוצות השונות לאורך הדורות והוא כלי חשוב בשימור הזיכרון והמורשת היהודית.</p>
                        </he>
                    </div>
                </div>
            </div>
            <div class="about_center" ng-switch-when='media'>
                <div class="article">
                    <h3 class="article_title">
                        <en>About Bernard H. and Miriam Oster Visual Documentation Center</en>
                        <he>אודות המרכז לתיעוד חזותי ע"ש ברנרד ה. ומרים אוסטר</he>
                    </h3>
                    <div class="content">
                        <en>
                            <p>If a picture paints a thousand words, then the Bernard H. and Miriam Oster Visual Documentation Center of Beit Hatfutsot speaks countless volumes.</p>
                            <p>Indeed, the Center is one of the richest and most diverse collections of photographs depicting Jewish history, heritage, creativity and communal life, and over 800 rare films and self-produced documentaries about Jewish life across the globe.</p>
                            <p>The Center constitutes an internationally recognized center of Jewish documentation. It is a valuable resource for scholars, publishers, journalists, the media, institutions and members of the general public who are interested in Jewish culture, history and communal life.</p>
                            <p>The visual documentation collections cover a vast array of Jewish life, including: communities, synagogues, public institutions, culture, art, holidays, ceremonies, family and home life, lifestyles, trades, professions, key personalities and events.</p>
                            <p>To receive more information about the photo and video collections, or to donate photographs, prints, slides, or films, please contact the Bernard H. and Miriam Oster Visual Documentation Center at rachels@bh.org.il or tel: 972-3-7457851.</p>
                        </en>
                        <he>
                            <p>אם אכן "תמונה אחת שווה אלף מילים", הרי המרכז לתיעוד חזותי ע"ש ברנרד ה. ומרים אוסטר בבית התפוצות שווה לאלפי כרכים ובהם אין-ספור מילים.</p>
                            <p>במרכז מצוי אחד מאוספי התצלומים העשירים ביותר בעולם היהודי. התצלומים מתארים את ההיסטוריה, המורשת, היצירה וחיי הקהילה. עוד במרכז אוסף של יותר מ-800 סרטים, רבים נדירים, חלקם סרטים תיעודיים שהופקו על ידי בית התפוצות.</p>
                            <p>למרכז לתיעוד חזותי בבית התפוצות כבר יצאו מוניטין ברחבי העולם כמקור חשוב לחוקרים, למוציאים לאור, לעיתונאים, לכלי תקשורת ולמוסדות.  כמו כן הוא משרת את הקהל הרחב המעוניין בחומר ויזואלי על נושאים יהודיים.</p>
                            <p>אוספי התמונות מכסים תחומי-חיים רבים: קהילות, בתי כנסת, מוסדות ציבור, תרבות ואמנות, חגים וטקסים, חיי משפחה וחיי יום-יום, סגנונות ואורחות חיים, מקצועות ועיסוקים, אישים ואירועים.</p>
                            <p> לקבלת מידע נוסף על אוספי התמונות והסרטים או למסירת תמונות, הדפסים, שקופיות או סרטים, אנא צרו קשר:<br>מייל: photos@bh.org.il<br>טלפון: 03-7457851</p>
                        </he>
                    </div>
                </div>
            </div>
            <div class="about_center" ng-switch-when='personalities'>
                <div class="article">
                    <h3 class="article_title">
                        <en>About the Beit Hatfutsot Jewish Personalities Database</en>
                        <he>אודות מאגר האישים של בית התפוצות</he>
                    </h3>
                    <div class="content">
                        <he>
                            <p>במהלך המאה ה-19 פרצה לעולם "תנועת ההשכלה" שחרטה על דגלה את ערך התבונה האנושית כאמצעי לפיצוח סודות הקיום ומסתרי הטבע והאדם. האינדיבידואל החליף את האל, המיקרוסקופ את כתבי הקודש ומעבדות המחקר את המנזרים ומוסדות הדת.</p>
                            <p>עקרונות ההשכלה מצאו את היהודים מוכנים ומזומנים. מאות שנים של קידוש ערך הלמדנות, חינוך קפדני לידיעת קרוא וכתוב וצחצוח חרבות אינטלקטואלי בישיבות ובבתי המדרש, ליטשו את המוח היהודי והכשירו אותו לספוג במהירות את ערכי הקִדמה. הסכר נפתח ונחשול עצום של כישרון התפרץ החוצה ברגע אחד קסום. </p>
                            <p>"המפץ הגדול" של האינטלקטואלים היהודים, שהחל עם דמדומי המאה ה-19 ונמשך על פני המאה ה-20, הביא לעולם גאונים מעוררי השראה כמו אלברט איינשטיין, זיגמונד פרויד, פרנץ קפקא, קרל מרקס, ליאון טרוצקי, ארתור מילר, ג'ורג' גרשווין, והיריעה קצרה מלהכיל. אלו עמדו על כתפי ענקים מעידנים קדומים יותר כמו הילל הזקן, רבי עקיבא, הרמב"ם, ברוך שפינוזה, הגאון מווילנה, חכמי ספרד ועוד ועוד.</p>
                            <p>מאגר האישים של בית התפוצות מורכב מפסיפס צבעוני ועשיר של דמויות מופת אלו ואחרות. אנשים שגילו, המציאו, פיתחו, חקרו והפריחו את שדה הדעת הגדול של האנושות. יצירתם ופועלם הינם הוכחה חיה לנצחיות מאמרו של החכם מכל אדם, שלמה המלך: "וראיתי אני שיש יתרון לחכמה מן הכסילות כיתרון האור מן החושך".</p>
                        </he>
                    </div>
                </div>
            </div>
            <div class="about_center" ng-switch-when="familyNames">
                <div class="article">
                    <h3 class="article_title">
                        <en>About the Memi De-Shalit Database of Jewish Family Names</en>
                        <he>אודות מאגר השמות ע"ש ממי דה-שליט</he>
                    </h3>
                    <div class="content">
                        <en>
                            <p>The Memi De-Shalit Database of Jewish Family Names is the only digital collection of Jewish family names in the world. This unparalleled, world renowned collection of Jewish family names contains nearly 20,000 entries and growing.</p>
                            <p>The database includes information on the origin and meaning of family names used by Jewish families from all over the world, in many languages.The database holds information about name etymology, word variants, name migration, and earliest known occurrences. In addition, readers may discover other Jews who happen to have the same surname as theirs.</p>
                            <p>The database of Jewish family names is the result of decades of dedicated work by many experts. The explanations are based on a wide array of sources: scientific researches, onomastic and other dictionaries, Jewish traditional sources etc. as well as information provided by members of the public. As a rule, no explanation has been included into the database unless it is attested by at least two independent sources.</p>
                        </en>
                        <he>
                            <p>מאגר השמות ע"ש ממי דה-שליט הוא האוסף הדיגיטלי היחיד בעולם של שמות משפחה יהודיים, ומטרתו לשמר היבט חשוב של המורשת היהודית, ולהבטיח שימורו גם בדורות הבאים. במאגר השמות כ-20,000 ערכים קצרים, ובהם מידע על מקורם ופירושם של שמות משפחה שכיחים ונדירים, שבהם השתמשו יהודים ברחבי העולם, בעשרות לשונות. המאגר גדל כל העת.</p>
                            <p>המידע מתייחס למקור הלשוני וההיסטורי של השמות, לפירושם, לשמות מקבילים בשפות אחרות, לווריאנטים ולצורות כתיב בשפות שונות ולתפוצה הגיאוגרפית של השמות. רוב ההסברים כוללים גם דוגמאות ליהודים אחרים שנושאים את שם המשפחה, או לאנשי שם שנשאו או נושאים אותו.</p>
                            <p>מאגר השמות של בית התפוצות נוצר במשך כמה עשורים של עבודה מסורה של אנשי מקצוע. פירוש השימוש מתבסס על קשת רחבה של מקורות: מחקרים מדעיים, מילונים, מקורות מסורתיים יהודיים, וכן מידע שנמסר למוזיאון על ידי הציבור. ככלל, במאגר לא מופיע פירוש לשם משפחה שלא נתמך בשני מקורות עצמאיים לפחות.</p>
                        </he>
                    </div>
                </div>
            </div>
            <div class="about_center" ng-switch-when="family-tree">
                <div class="article">
                    <h3 class="article_title">
                        <en>About Douglas E. Goldman Jewish Genealogy Center databases</en>
                        <he>אודות המרכז לגנאלוגיה יהודית ע"ש דגלס א. גולדמן</he>
                    </h3>
                    <div class="content">
                        <en>
                            <p>The Douglas E. Goldman Jewish Genealogy Center is the only center of its kind in the world. At the Center, visitors can search a computerized database containing thousands of genealogies of Jewish families from all over the world and can also register their own family trees.</p>
                            <p>Throughout history, Jewish families migrated from place to place, often leaving behind family heirlooms, memorabilia, and records. Documentation of their previous lives was often lost, preserved only in their memories. Today, families can record precious information and family history at the Douglas E. Goldman Jewish Genealogy Center, preserving this vital material for generations to come.</p>
                            <p>Almost 5 million individuals have already been recorded in the continuously expanding database. Visitors from all backgrounds can explore their ancestry, record and preserve their own family trees for future generations, thus adding their own “branch” to the family tree of the Jewish People.</p>
                            <p>Registering your family history at the Center has added benefits. Once your information is recorded, it may elicit connections with other registered users. In fact, you may discover unknown, exciting family ties with other people or families around the world.</p>
                        </en>
                        <he>
                            <p>המרכז לגנאלוגיה יהודית ע"ש דגלס א. גולדמן הוא יחיד במינו בעולם. במרכז מאגר ממוחשב של אלפי אילנות יוחסין של משפחות יהודיות מקצווי תבל. מבקרים יכולים לערוך חיפוש וגם לרשום את אילן היוחסין שלהם.</p>
                            <p>במרוצת הדורות עברו משפחות יהודיות ממקום למקום. במקרים רבים הותירו מאחור נכסים, דברי-ערך, מזכרות ורשומות. למרבה הצער, רק לעתים רחוקות תיעדו וכתבו את תולדות המשפחה, ורשמי העבר נותרו רק בזיכרון. כיום אתם יכולים לתעד את המידע על משפחתכם במרכז לגנאלוגיה יהודית של בית התפוצות, ולהבטיח את שימורו של הסיפור המשפחתי לדורות הבאים.</p>
                            <p>מעל ל-5 מיליוני בני אדם כבר רשומים במרכז לגנאלוגיה יהודית בבית התפוצות, והמאגר גדל מדי יום ומדי שעה. מבקרים ממגוון מקומות ואורחות חיים באים להתחקות אחר שורשיהם, לתעד ולהנציח את אילן משפחתם עבור הדורות הבאים, ובכך הם מוסיפים עוד ענף לאילן המשפחתי הגדול של העם היהודי.</p>
                        </he>
                    </div>
                </div>
            </div>
        </ng-switch>
    </div>
</div>