<div id="footer-container" ng-controller="HeaderCtrl as headerController">
	<div id="footer">
		<div class="title">
			<en>Beit Hatfutsot Databases</en>
			<he>מאגרי בית התפוצות</he>
		</div>
		<div class="links-contact-rights">
			<div class="links">
				<en>
					<a ng-click="headerController.goto_about_collection('about_center', 'familyTree')">Jewish Genealogy</a>
					<a ng-click="headerController.goto_about_collection('about_center', 'familyNames')">Family Names</a>
					<a ng-click="headerController.goto_about_collection('about_center', 'places')">Jewish Communities</a>
					<!-- <a>Jewish Music</a> -->
					<a ng-click="headerController.goto_about_collection('about_center', 'images')">Images</a>
          <a ng-click="headerController.goto_about_collection('about_center', 'videos')">Video</a>
				</en>
				<he>
					<a ng-click="headerController.goto_about_collection('he.he_about_center', 'familyTree')">גניאולוגיה יהודית</a>
					<a ng-click="headerController.goto_about_collection('he.he_about_center', 'familyNames')">שמות משפחה</a>
					<a ng-click="headerController.goto_about_collection('he.he_about_center', 'places')">קהילות יהודיות</a>
					<!-- <a>מוזיקה יהודית</a> -->
					<a ng-click="headerController.goto_about_collection('he.he_about_center', 'images')">תמונות</a>
          <a ng-click="headerController.goto_about_collection('he.he_about_center', 'videos')">וידאו</a>
				</he>
			</div>
			<div class="contact-rights">
				<en>
					<a href="http://www.bh.org.il/about-us/volunteering/">Help us enrich the databases</a>
					<a href="mailto:info@bh.org.il?subject=Beit%20Hatfutsot%20Databases">Contact us</a>
				</en>
				<he>
					<a href="http://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/">עזרו לנו בהעשרת המאגרים</a>
					<a href="mailto:info@bh.org.il?subject=Beit%20Hatfutsot%20Databases">צרו קשר</a>
				</he>
				<en>© 1996 Beit Hatfutsot</en>
				<he>© 1996 בית התפוצות</he>
			</div>
		</div>
	</div>
</div>
