<div id="printSection" class='gallery-modal'>
    <div class="gallery-modal__header">
       <en>{{gallery.Header.En}}</en>
       <he>{{gallery.Header.He}}</he>
       <icon class="xsign" position="[-224, -333]" ng-click="dismiss()"></icon>
    </div>
    <div class="gallery-modal__stage noselect">
      <div ng-repeat="pic in sorted_pictures">
        <img  ng-show="isActive($index)"
              fallback-src="images/digitization-{{lang}}.jpg"
              ng-src="{{pic.PictureUrl}}"
              alt="More Images"
              fit-thumb
              prevent-rightclick/>
         <!-- TODO : add link  to fallback image
            <a    ng-switch-default
                ng-href="{{lang=='en'?'http://www.bh.org.il/about-us/volunteering/':'http://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/'}}"
                target="blank">
          <img  class="picture notdigitized"
                ng-show="isActive($index)"
                ng-src="images/digitization-{{lang}}.jpg"
                prevent-rightclick>
          </a> -->
      </div>

        <div class="arrows" ng-if="sorted_pictures.length > 1">
            <div class="arrow-left" ng-click="showPrev()"></div>
            <div class="arrow-right" ng-click="showNext()"></div>
        </div>
    </div>
    <div class="gallery-modal__info">
        <div class="gallery-modal__info__picture-info">
            <en><span class="field-name" ng-if="gallery.UnitText1.En.isNotEmpty()">Description: </span>{{gallery.UnitText1.En}}<br></en>
            <he><span class="field-name" ng-if="gallery.UnitText1.He.isNotEmpty()">תיאור: </span>{{gallery.UnitText1.He}}<br></he>
            <span ng-if="gallery.UnitType == 1 && gallery.UnitId">
                <span class="field-name">
                    <en>Photo Unit Number: </en>
                    <he>מספר תמונה יחידה: </he>
                </span>
                {{gallery.UnitId}}
                <br>
            </span>
            <span>
                <en>© All Rights Reserved</en>
                <he>© כל הזכויות שמורות</he>
                <br>
            </span>
        </div>
        <div class="gallery-modal__info__gallery-preview">
            <div class="gallery-modal__info__gallery-preview__title">
                <en>{{gallery.Header.En}} ({{sorted_pictures.length}} Pictures found)</en>
                <he>{{gallery.Header.He}} ({{sorted_pictures.length}} תמונות נמצאו)</he>
            </div>
            <ul class="gallery-modal__info__gallery-preview__minified-picture">
                <li ng-repeat="pic in sorted_pictures" ng-class="{'active':isActive($index)}">
                    <img  fallback-src="images/digitization-sm-{{lang}}.jpg" ng-src="{{pic.PictureUrl}}"
                          ng-click="showPhoto($index)"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="gallery-modal__bottom-bar">
        <!-- <mjs-widget item="gallery.Pictures"></mjs-widget> -->
    </div>
</div>