<div id="printSection" class='gallery-modal'>
    <div class="gallery-modal__header">
       <en>{{gallery.Header.En}}</en> 
       <he>{{gallery.Header.He}}</he>
       <icon class="xsign" position="[-224, -333]" ng-click="dismiss()"></icon>
    </div>
    <div class="gallery-modal__stage noselect">
        <img ng-repeat="pic in gallery.Pictures" 
             ng-show="isActive($index)" 
             ng-src="https://storage.googleapis.com/bhs-flat-pics/{{pic.PictureId}}.jpg" 
             alt="More Images"
             prevent-rightclick/> 
        <div class="arrows" ng-if="gallery.Pictures.length > 1">
            <div class="arrow-left" ng-click="showPrev()"></div>
            <div class="arrow-right" ng-click="showNext()"></div>
        </div>
    </div>

    <div class="gallery-modal__info">
        <div class="gallery-modal__info__picture-info">
            <en><span class="field-name">Description: </span>{{gallery.UnitText1.En}}</en><br/>
            <he><span class="field-name">תיאור: </span>{{gallery.item_data.Header.En}}</he>
            <en>© All Rights Reserved</en><br/>
            <he>© כל הזכויות שמורות</he>
        </div> 
        <div class="gallery-modal__info__gallery-preview">
            <div class="gallery-modal__info__gallery-preview__title">
                <en>{{gallery.Header.En}} ({{gallery.Pictures.length}} Pictures found)</en>
                <he>{{gallery.Header.He}} ({{gallery.Pictures.length}} תמונות נמצאו)</he>
            </div>
            <ul class="gallery-modal__info__gallery-preview__minified-picture">
                <li ng-repeat="pic in gallery.Pictures" ng-class="{'active':isActive($index)}">
                    <img ng-src="https://storage.googleapis.com/bhs-flat-pics/{{pic.PictureId}}.jpg" ng-click="showPhoto($index)"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="gallery-modal__bottom-bar">
        <div class="footer modal-gallery">
            <div class="share-item vertical-middle">
                <div class="share-item-header">
                    <en>Share this item</en>
                    <he>פרסמו</he>
                </div>
                <tweet text="{{title}} via @BeitHatfutsot"></tweet>
                <fb-share></fb-share>
            </div>
            <div id="printbutton"class="print-icon-wrapper vertical-middle modal-gallery" ng-click="print()">
                <span class="print-descr">
                    <en>Print</en>
                    <he>הדפסה<he>
                </span>
                <span class="print-icon">
                    <icon position="[-411, -408]" alt-text="{en: 'Print', he: 'הדפסה'}" hover-offset="[0, -35]"></icon>
                </span>
            </div>
        </div>
        <mjs-widget item="gallery.Pictures"></mjs-widget>
    </div>
</div>