<div id="printSection" class='gallery-modal'>
    <div class="gallery-modal__header">
       <en>{{gallery.title_en}}</en>
       <he>{{gallery.title_he}}</he>
       <icon class="xsign" position="[-224, -333]" ng-click="dismiss()"></icon>
    </div>
    <div class="gallery-modal__stage noselect">
      <div ng-repeat="pic in sort_pictures()">
        <img  ng-show="isActive($index)"
              ng-src="{{pic.url}}"
              alt="More Images"
              fit-thumb
              prevent-rightclick />
        <!-- TODO: add not digitized logic to new architecture -->
         <!--<a    ng-switch-default-->
                <!--ng-href="{{lang=='en'?'http://www.bh.org.il/about-us/volunteering/':'http://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/'}}"-->
                <!--target="blank">-->
          <!--<img  class="picture notdigitized"-->
                <!--ng-show="isActive($index)"-->
                <!--ng-src="images/digitization-{{lang}}.jpg"-->
                <!--prevent-rightclick>-->
          <!--</a>-->
      </div>

        <div class="arrows" ng-if="sort_pictures().length > 1">
            <div class="arrow-left" ng-click="showPrev()"></div>
            <div class="arrow-right" ng-click="showNext()"></div>
        </div>
    </div>
    <div class="gallery-modal__info">
        <div class="gallery-modal__info__picture-info">
            <en><span class="field-name" ng-if="gallery.content_text_en.isNotEmpty()">Description: </span>{{gallery.content_text_en}}<br></en>
            <he><span class="field-name" ng-if="gallery.content_text_he.isNotEmpty()">תיאור: </span>{{gallery.content_text_he}}<br></he>
          <!-- TODO: modify for new architecture -->
          <!--<span ng-if="gallery.UnitType == 1 && gallery.UnitId">-->
                <!--<span class="field-name">-->
                    <!--<en>Photo Unit Number: </en>-->
                    <!--<he>מספר תמונה יחידה: </he>-->
                <!--</span>-->
                <!--{{gallery.UnitId}}-->
                <!--<br>-->
            <!--</span>-->
            <span>
                <en>© All Rights Reserved</en>
                <he>© כל הזכויות שמורות</he>
                <br>
            </span>
        </div>
        <div class="gallery-modal__info__gallery-preview">
            <div class="gallery-modal__info__gallery-preview__title">
                <en>{{gallery.title_en}} ({{sort_pictures().length}} Pictures found)</en>
                <he>{{gallery.title_he}} ({{sort_pictures().length}} תמונות נמצאו)</he>
            </div>
            <ul class="gallery-modal__info__gallery-preview__minified-picture">
                <li ng-repeat="pic in sort_pictures()" ng-class="{'active':isActive($index)}">
                    <!--<img  ng-src="{{pic.PictureId == undefined  ? 'images/digitization-sm-'+lang+'.jpg' : 'https://storage.googleapis.com/bhs-flat-pics/'+pic.PictureId+'.jpg' }}"-->
                          <!--ng-click="showPhoto($index)"/>-->
                  <img ng-src="{{pic.url}}" ng-click="showPhoto($index)"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="gallery-modal__bottom-bar">
        <!-- <mjs-widget item="gallery.Pictures"></mjs-widget> -->
    </div>
</div>
