<div id="google-it">
    <div class="db-results-title">
        <en><strong>Unleash the power of Google</strong></en>
        <he><strong>השתמשו בכוחו של גוגל</strong></he>
    </div>
    <div class="title-desc">
        <en>Combine your search term with one or more of the keywords below and harness the power of Google:</en>
        <he>מנוע החיפוש של גוגל הוא חזק ונרחב, אבל חסר לו ההקשר של העולם היהודי.<br>באפשרותכם להוסיף למילים שאתם מחפשים כמה מילות מפתח שיקדמו את החיפוש בגוגל.<br>
            בחרו מילים מהרשימה למטה או הקלידו מילים נוספות בעצמכם.</he>
    </div>
    <div class="google-search-box-wrapper">
        <input  id="search-input"
                ng-model="gsCtrl.google_query"
                ng-keydown="gsCtrl.google_search_on_enter($event)"
                autofocus
                type="text"
                placeholder="{{(lang=='en')?'Continue to explore...':'להמשיך לחקור...'}}">
        <ul class="google-key-words">
            <li  class="key-word"
                 ng-repeat="query_word in gsCtrl.query_words"
                 ng-class="{'key-word--active' : query_word.selected}"
                 ng-click="gsCtrl.toggle_selected(query_word)">
                <en>{{query_word.en}}</en>
                <he>{{query_word.he}}</he>
            </li>
        </ul>
        <button  class="google-search-btn"
                 ng-click="gsCtrl.google_search()"
                 ng-disabled="gsCtrl.google_query.length < 2">
            <en><a>Search this</a></en>
            <he><a>חיפוש</a></he>
        </button>
    </div>
</div>
