<div ng-controller="HeaderCtrl as headerController">
	<div class="upper-container">
		<div class="sub-upper-container">	
			<div class="sites">
				<ul class="sites">
					<li class="site-item museum">
						<a href="http://www.bh.org.il/" target="_self">
							<div class="title">
								<en>Museum</en>
								<he>מוזיאון</he>
							</div>
							<div class="icon"></div>
						</a>
					</li>
					<li class="site-item shop">
						<a href="http://www.bh.org.il/shop/" target="_self">
							<div class="title">
								<en>Shop</en>
								<he>חנות</he>
							</div>
							<div class="icon"></div>
						</a>
					</li>
					<li class="site-item mjs active">
						<a href="#">
							<div class="title">My Story</div>
							<div class="icon active"></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="dropdown-icons">
				<div class="header-element dropdown-icons__my-account signed" dropdown>
					<button class="my-account-label" dropdown-toggle>
						<div class="dropdown-icons__user" ng-if="headerController.is_signedin">
							<icon class="dropdown-icons__user__pic" position="[-264, -588]"></icon>
						</div>
						<en>My Account</en>
						<he>החשבון שלי</he>
						<span class="caret"></span>
					</button>
					<div class="my-account-menu signed" ng-if="headerController.is_signedin" >
						<div class="my-account-menu__row signed">
							<icon class="dropdown-icons__user__pic signed" position="[-262, -526]"></icon>
							<div class="dropdown-icons__user__name">{{headerController.username}}</div>
						</div>
						<div class="my-account-menu__row signed" ng-click="headerController.signout()">
							<en>Sign out</en>
							<he>יציאה</he>
						</div>
					</div>
					<div class="my-account-menu" ng-if="!(headerController.is_signedin)">
						<div class="my-account-menu__row" ng-click="headerController.signin()">
							<en>Sign in</en>
							<he>הכנס</he>
						</div>
						<div class="my-account-menu__row" ng-click="headerController.signup()">
							<en>Create account</en>
							<he>צור חשבון</he>
						</div>
					</div>
				</div>
				<div class="header-element newsletter-popup" dropdown>
					<div class="newsletter-popup__button">
						<button class="label" dropdown-toggle>
							<en>ENews</en>
							<he>ניוזלטר</he>
						</button>
					</div>
					<div class="newsletter-popup__content">
						<h2 class="title">
							<en>Are you part of the story?</en>
							<he></he>
						</h2>
						<div class="widgetcontent">
							<div class="pretext">
								<en>Add your email and you will never miss out on family events, exhibition openings and deals on our shops!</en>
								<he>הוסיפו את המייל שלכם כדי לא להחמיץ עדכונים, חידושים, המון סיפורים מרחקים ועוד...</he>
							</div>
							<form method="post">
								<small>
									<en>Your Email:</en>
									<he></he>
								</small>
								<input id="" type="test" type="hidden" placeholder="Email Address">
								<div>
									<en>Email address is missing or incorrect</en>
									<he></he>
								</div>
								<div>
									<small>
										<en>Choose Language:</en>
										<he></he>
									</small>
									<input type="checkbox" name="widget-active_trail_newsletter[4][mm_key][]" id="widget-active_trail_newsletter-4-mm_key[registration-form-en]" value="registration-form-en">
								</div>

							</form>
						</div>
					</div>
				</div>
				<div class="header-element dropdown-icons__language-selector">
					<div class="language-icon">
						<en>
							<icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}" position="[-122, -618]" hover-offset="[0, -34]" offset-on="headerController.language_menu_open == true" ng-click="lang='he'"></icon>
						</en>
						<he>
							<icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}" position="[-122, -687]" hover-offset="[0, -34]" offset-on="headerController.language_menu_open == true" ng-click="lang='en'"></icon>
						</he>
					</div>
				</div>
				<div class="header-element logo">
					<en>
						<icon alt-text="{en: 'Home', he: 'בית'}" position="[-314, -636]"></icon>
					</en>
					<he><icon alt-text="{en: 'Home', he: 'בית'}" position="[-306, -575]"></icon></he>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-container" ng-show="!(isCurrentState('start'))">
		<div id="header-container">
			<nav id="top-header">
				<ul class="nav">
					<li class="logo" ui-sref="start">
						<div>
							<en>Home</en>
							<he>ראשי</he>
						</div>
					</li>
					<li class="mystory"   ng-class="{'mystory--active': headerController.is_mjs_state}" ui-sref="mjs">
						<div class="mystory__text">
							<en>My Story</en>	
							<he>הסיפור שלי</he>
						</div>
					</li>
					<!-- <div class="header-wizard-trigger" ng-if="!(isCurrentState('start'))" ng-click="headerController.sub_header_state = 'wizard'"> -->
					<li class="header-wizard-trigger"  ng-if="!(isCurrentState('start'))" ui-sref="start">
						<div>
							<en>Search</en>
							<he>חיפוש</he>
						</div>
					</li>
					<li class="recently-viewed-trigger" ng-class="{'recently-viewed-trigger--active': headerController.sub_header_state == 'recently-viewed'}" ng-click="headerController.sub_header_state = 'recently-viewed'"> 
						<div>
							<en>Recently Viewed</en>
							<he>נצפו לאחרונה</he>
						</div>
					</li>
					<!-- <div class="search-area">
						<form action="" class="search-area__form">
							<input type="text" placeholder={{headerController.search_placeholders[lang]}} class="search-area__form__input" />
							<div class="search-area__form__search-button">
								<icon alt-text="{en: 'Search Databases', he: 'חיפש במאגרים'}" position="[-350, -24]"></icon>
							</div>
						</form>
					</div> -->
				</ul>
			</nav>
			<div class="dropdown-icons__upload" dropdown is-open>
				<div class="upload-label" dropdown-toggle>
					<en>Upload</en>
					<he>העלו קובץ</he>
				</div>
				<div class="upload-menu">
					<div class="upload-menu__title">
						<en>Upload your item</en>
						<he>העלו את הפריט שלכם</he>
					</div>
					<div class="upload-menu__row" ng-click="headerController.goto_state('upload.image')">
						<div class="upload-icon__image">
							<icon alt-text="{en: 'Image', he: 'תמונה'}" position="[-29, -218]"></icon>
						</div>
						<div class="upload-menu__row__desc">
							<en>Image</en>
							<he>תמונה</he>
						</div>
					</div>
					<div class="upload-menu__row" ng-click="headerController.goto_state('upload.family_tree')">
						<div class="upload-icon__ftree">
							<icon alt-text="{en: 'Family tree', he: 'עץ משפחה'}" position="[-26, -68]"></icon>
						</div>
						<div class="upload-menu__row__desc">
							<en>Family tree</en>
							<he>עץ משפחה</he>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
