<div id="main-header-container" ng-controller="HeaderCtrl as headerController">
  <div class="main-header">
    <div class="upper-container">
      <div class="sub-upper-container">
        <div class="sites">
          <ul class="sites">
            <li class="site-item museum">
              <a ng-href="{{lang == 'en' ? 'http://www.bh.org.il/' : 'http://www.bh.org.il/he/'}}" target="_self">
                <div class="title">
                  <en>Museum</en>
                  <he>מוזיאון</he>
                </div>
                <div class="icon"></div>
              </a>
            </li>
            <li class="site-item shop" highlighter='bottom'>
              <a ng-href="{{lang == 'en' ? 'http://www.bh.org.il/shop/' : 'http://www.bh.org.il/he/חנות/'}}" target="_self">
                <div class="title">
                  <en>Shop</en>
                  <he>חנות</he>
                </div>
                <div class="icon"></div>
              </a>
            </li>
            <li class="site-item mjs active">
              <a href="#">
                <div class="title">My Story</div>

                <div class="icon active">
                  <ng-include src="'templates/svgs/main-header-btn.html'"></ng-include>
                </div>

              </a>
              <en><icon ng-click="headerController.toggle_beta_notification()" class="beta-icon" alt-text="Beta" position="[-590, -530]"></icon></en>
              <he><icon ng-click="headerController.toggle_beta_notification()" class="beta-icon" alt-text="'בטא'" position="[-541, -530]"></icon></he>
            </li>
          </ul>
        </div>
        <div class="beta-notification" ng-if="headerController.beta_notification_open">
          <en>
            <svg class="beta-notification__shape" height="174" width="530">
              <path fill="#019DB2" d="M81.8,65.2C77.9,31.1,50.4,1,1,1c42.6,0,46.8,45.2,46.7,64.2h-7.2C28.7,65.2,19,74.9,19,86.7v65.8  c0,11.8,9.7,21.5,21.5,21.5h466.9c11.8,0,21.5-9.7,21.5-21.5V65.2H81.8z"/>
            </svg>
          </en>
          <he>
            <svg class="beta-notification__shape" height="174" width="530">
              <path fill="#019DB2" d="M489.5,65.2h-7.2C482.2,46.2,486.4,1,529,1c-49.4,0-76.9,30.2-80.8,64.2H1v87.3c0,11.8,9.7,21.5,21.5,21.5  h466.9c11.8,0,21.5-9.7,21.5-21.5V86.7C511,74.9,501.3,65.2,489.5,65.2z"/>
            </svg>
          </en>
          </he>
          <span class="beta-notification__close" ng-click="headerController.toggle_beta_notification()">x</span>
          <p class="beta-notification__text">
            <en>Welcome! We're so happy you've joined us. Please note that we've just launched our new website and are improving it daily.<br>We hope you'll check out all that we've got here so far, and thank you for bearing with us while we keep working to make it even better.
            </en>
            <he>
                ברוכים הבאים, אנחנו שמחים שהצטרפתם אלינו! אנא שימו לב שרק עתה השקנו את האתר ואנו עובדים עליו ומשפרים אותו כל הזמן. אנו מקווים שתהנו מכל מה שיש כאן, ושתחזרו לבקר מדי פעם כדי לגלות מה חדש. תודה על הסבלנות.
            </he>
          </p>
        </div>
        <div class="dropdown-icons">
          <div class="header-element dropdown-icons__my-account signed" dropdown>
            <button class="my-account-label" dropdown-toggle>
              <div class="dropdown-icons__user" ng-if="headerController.is_signedin">
                <img class="dropdown-icons__user__pic" gravatar-src="headerController.auth.user.email" gravatar-default="identicon" gravatar-size="25"/>
              </div>
              <en>My Account</en>
              <he>החשבון שלי</he>
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <div class="my-account-menu signed" ng-if="headerController.is_signedin" >
                <div class="my-account-menu__row signed" ui-sref="mjs">
                  <img class="dropdown-icons__user__pic signed" gravatar-src="headerController.auth.user.email" gravatar-default="identicon" gravatar-size="55"/>
                  <div class="dropdown-icons__user__name">
                    <span>{{headerController.username[lang]}}</span><br/>
                    <span class="small-text">
                      <en>View Story</en>
                      <he>הסיפור שלי</he>
                    </span>
                  </div>
                </div>
                <div class="my-account-menu__row signed" ng-click="headerController.signout()">
                  <en>Sign out</en>
                  <he>יציאה</he>
                </div>
              </div>
              <div class="my-account-menu unsigned" ng-if="!(headerController.is_signedin)">
                <div class="my-account-menu__row" ng-click="headerController.signin()">
                  <en>Sign in</en>
                  <he>הכנס</he>
                </div>
              </div>
            </div>
          </div>

          <div class="header-element newsletter-popup">
            <div class="newsletter-popup__button">
              <button class="label" ng-controller="NewsLetterPopoverCtrl as enewsCtrl" popover-template="'templates/enews-popover.html'" popover-is-open="enewsCtrl.popover.is_open"
                  ng-class="{'label--active': enewsCtrl.popover.is_open}">
                <en>ENews</en>
                <he>ניוזלטר</he>
              </button>
            </div>
          </div>

          <div class="header-element dropdown-icons__language-selector">
            <div class="language-icon">
              <en>
                <icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}"
                position="[-122, -618]" hover-offset="[0, -34]"
                offset-on="headerController.language_menu_open == true"
                ng-click="headerController.goto_lang('he')"></icon>
              </en>
              <he>
                <icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}"
                position="[-122, -687]" hover-offset="[0, -34]"
                offset-on="headerController.language_menu_open == true"
                ng-click="headerController.goto_lang('en')"></icon>
              </he>
            </div>
          </div>
          <div class="header-element logo">
             <en>
              <object  id="svg1" data="/images/Icon_Logo-BH-Eng.svg" type="image/svg+xml"></object>
            </en>
            <he>
              <object id="svg2" data="/images/Icon_Logo-BH-Heb.svg" type="image/svg+xml"></object>
            </he>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div id="header-container">
        <nav class="menu">
          <ul class="nav left">
            <li class="logo header-menu-item"
                ng-class="{'header-menu-item--active': isCurrentState('start')}">
             <a ng-href="{{lang == 'en' ? '/' : '/he/'}}">
              <span class="item_before" selector></span>
              <div>
                <en>Home</en>
                <he>ראשי</he>
              </div>
            </a>
            </li>
            <li class="mystory header-menu-item"
                ng-class="{'header-menu-item--active': headerController.is_mjs_state}"
                ng-click="headerController.goto_state('mjs')">
              <div class="mystory__text">
                <en>My Story</en>
                <he>הסיפור שלי</he>
              </div>
            </li>
            <li class="ftree-tab header-menu-item"
              ng-class="{'header-menu-item--active':
              isCurrentState('persons') || isCurrentState('person-view')}"
              ng-click="headerController.goto_state('persons')">
                <div>
                    <en>Family Trees</en>
                    <he>עצי משפחה</he>
                </div>
            </li>
          </ul>
          <ul class="nav right">
            <li class="general-search-trigger header-menu-item"  ng-class="{'header-menu-item--active': headerController.header.sub_header_state == 'general-search'}"
              ng-click="headerController.header.sub_header_state = 'general-search'">
              <div>
                <en>Search</en>
                <he>חיפוש</he>
              </div>
            </li>
            <li class="recently-viewed-trigger header-menu-item" ng-class="{'header-menu-item--active': headerController.header.sub_header_state == 'recently-viewed'}"
              ng-click="headerController.header.sub_header_state = 'recently-viewed'">
              <div>
                <en>Recently Viewed</en>
                <he>נצפו לאחרונה</he>
              </div>
            </li>
            <!-- <li class="header-menu-item upload" dropdown is-open> -->
              <!-- <div class="dropdown-icons__upload" dropdown is-open>
                <div class="upload-label" dropdown-toggle>
                  <en>Upload</en>
                  <he>העלו קובץ</he>
                </div>
                <div class="upload-menu">
                  <div class="upload-menu__title">
                    <en>Upload your item</en>
                    <he>העלו את הפריט שלכם</he>
                  </div>
                  <div class="upload-menu__row" ng-click="headerController.goto_state('upload.image')">
                    <div class="upload-icon__image">
                      <icon alt-text="{en: 'Image', he: 'תמונה'}" position="[-29, -218]"></icon>
                    </div>
                    <div class="upload-menu__row__desc">
                      <en>Image</en>
                      <he>תמונה</he>
                    </div>
                  </div>
                  <div class="upload-menu__row" ng-click="headerController.goto_state('upload.family_tree')">
                    <div class="upload-icon__ftree">
                      <icon alt-text="{en: 'Family tree', he: 'עץ משפחה'}" position="[-26, -68]"></icon>
                    </div>
                    <div class="upload-menu__row__desc">
                      <en>Family tree</en>
                      <he>עץ משפחה</he>
                    </div>
                  </div>
                </div> -->
              <!-- </div> -->

          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>
