<div ng-controller="HeaderCtrl as headerController">
	<div class="dropdown-icons">
		<div class="dropdown-icons__sign">
			<span ng-if="!(headerController.is_signedin)" need-auth="false">
				<en>Sign In</en>
				<he>כניסה</he>
			</span>
			<span ng-if="headerController.is_signedin" ng-click="headerController.signout()">
				<en>Sign Out</en>
				<he>יציאה</he>
			</span>
		</div>
		<div class="dropdown-icons__signup" ng-if="!(headerController.is_signedin)">
			<en>Sign Up</en>
			<he>הרשמה</he>
		</div>
		<div class="dropdown-icons__language-selector" dropdown is-open="headerController.language_menu_open">
			<div dropdown-toggle>	
				<div class="language-icon">
					<en>
						<icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}" position="[-312, -24]" hover-offset="[0, -30]" offset-on="headerController.language_menu_open == true"></icon>
					</en>
					<he>
						<icon alt-text="{en: 'Select Language', he: 'בחירת שפה'}" position="[-312, -86]" hover-offset="[0, -30]" offset-on="headerController.language_menu_open == true"></icon>
					</he>
				</div>
			</div>
			<div class="language-menu">
				<div class="language-menu__title">
					<en>Choose a language</en>
					<he>בחרו שפה</he>
				</div>
				<div class="language-menu__row" ng-click="lang='he'">
					<div class="language-icon">
						<icon alt-text="{en: 'Hebrew', he: 'עברית'}" position="[-312, -86]"></icon>
					</div>
					<div class="language-menu__row__language-desc">
						<en>Hebrew</en>
						<he>עברית</he>
					</div>
				</div>
				<div class="language-menu__row" ng-click="lang='en'">
					<div class="language-icon">
						<icon alt-text="{en: 'English', he: 'אנגלית'}" position="[-312, -24]"></icon>
					</div>
					<div class="language-menu__row__language-desc">
						<en>English</en>
						<he>אנגלית</he>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="header-container">
		<div id="top-header-container">
			<div id="top-header">
				<div class="logo" ui-sref="start">
					<icon alt-text="{en: 'Home', he: 'בית'}" position="[-26, -14]"></icon>
				</div>
				<div class="mystory" ui-sref="mjs">
					<div class="mystory__icon">
						<icon alt-text="{en: 'My Story', he: 'הסיפור שלי'}" position="[-83, -24]"></icon>
					</div>
					<div class="mystory__text">
						<en>My Story</en>
						<he>הסיפור שלי</he>
					</div>
				</div>
				<div class="header-wizard-trigger" ng-if="!(isCurrentState('start'))" ng-click="headerController.sub_header_state = 'wizard'">
					<icon alt-text="{en: 'Search Wizard', he: 'אשף חיפוש'}" position="[-83, -88]" hover-offset="[0, -30]" offset-on="headerController.sub_header_state == 'wizard'"></icon>
				</div>
				<div class="breadcrumbs-trigger" ng-if="!(isCurrentState('start'))" ng-click="headerController.sub_header_state = 'breadcrumbs'">
					<icon alt-text="{en: 'Search Wizard', he: 'אשף חיפוש'}" position="[-125, -89]" hover-offset="[0, -30]" offset-on="headerController.sub_header_state == 'breadcrumbs'"></icon>
				</div>
				<div class="search-area">
					<form action="" class="search-area__form">
						<input type="text" placeholder={{headerController.search_placeholders[lang]}} class="search-area__form__input" />
						<div class="search-area__form__search-button">
							<icon alt-text="{en: 'Search Databases', he: 'חיפש במאגרים'}" position="[-350, -24]"></icon>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="notification-bar-container" ng-show="headerController.show_notifications">
			<div id="notification-bar">
				{{headerController.notification_message}}
			</div>
		</div>
	</div>
</div>
