<div class="item-type">
 	<ng-switch on="type">
		<div ng-switch-when="genTreeIndividuals" >
			<div class="tree-icon">
        <ng-include src="'templates/svgs/family_tree.svg'"></ng-include>
      </div>
		</div>

		<div ng-switch-when="familyNames">
      <div class="surname-icon">
        <ng-include src="'templates/svgs/family_names.svg'"></ng-include>
			</div>
		</div>

		<div ng-switch-when="places">
			<div class="place-icon">
        <ng-include src="'templates/svgs/places.svg'"></ng-include>
      </div>
		</div>

		<div ng-switch-when="photoUnits">
			<div class="photo-icon">
        <ng-include src="'templates/svgs/photo_units.svg'"></ng-include>
      </div>
		</div>

		<div ng-switch-when="personalities">
			<div class="personality-icon">
        <ng-include src="'templates/svgs/luminary.svg'"></ng-include>
      </div>
		</div>

		<div ng-switch-when="text">
			<div class="text-icon">
        <ng-include src="'templates/svgs/compendium.svg'"></ng-include>
      </div>
		</div>

    <div ng-switch-when="movies">
      <div class="movie-icon">
        <ng-include src="'templates/svgs/video.svg'"></ng-include>
      </div>
    </div>

		<div ng-switch-when="audio">
		  <div class="audio-icon"></div>
		</div>

		<div ng-switch-when="3D">
			<div class="type-icon-container">
				<div class="3D-icon"></div>
			</div>
		</div>
	</ng-switch>
</div>

