<div class="type" ng-class="{'type--thumbData': (image)}">
 	<ng-switch on="type">
		<div ng-switch-when="genTreeIndividuals" >
			<div class="type-icon-container vertical-middle">
				<div class="tree-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Family Tree</en>
				<he>עץ משפחה</he>
			</div>
		</div>
		<div ng-switch-when="familyNames">
			<div class="type-icon-container vertical-middle">
				<div class="surname-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Surname Origin</en>
				<he>פירוש שם משפחה</he>
			</div>
		</div>
		<div ng-switch-when="places">
			<div class="type-icon-container vertical-middle">
				<div class="place-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Place</en>
				<he>מקום</he>
			</div>
		</div>
		<div ng-switch-when="photoUnits">
			<div class="type-icon-container vertical-middle">
				<div class="photo-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Image</en>
				<he>תמונה</he>
			</div>
		</div>
		<div ng-switch-when="movies">
			<div class="type-icon-container vertical-middle">
				<div class="movie-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Movie</en>
				<he>וידאו</he>
			</div>
		</div>
		<div ng-switch-when="personalities">
			<div class="type-icon-container vertical-middle">
				<div class="personality-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Personality</en>
				<he>אישיות</he>
			</div>
		</div>
		<div ng-switch-when="text">
			<div class="type-icon-container vertical-middle">
				<div class="text-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Text</en>
				<he>מלל</he>
			</div>
		</div>
		<div ng-switch-when="audio">
			<div class="type-icon-container vertical-middle">
				<div class="audio-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>Audio</en>
				<he>שמע</he>
			</div>
		</div>
		<div ng-switch-when="3D">
			<div class="type-icon-container vertical-middle">
				<div class="3D-icon"></div>
			</div>
			<div class="type-desc-container">
				<en>3D</en>
				<he>3D</he>
			</div>
		</div>
	</ng-switch>
</div>

