<div id="start">	
	<div id="wizard-container">
		<div id="wizard-background"></div>
		<div id="wizard">
			<div id="wizard-form-strip">
				<div class="wizard-form-container" ng-class="{'wizard-form-container--in-progress': startCtrl.in_progress}">
					<div class="wizard-form-container__text">
						<div class="wizard-form-container__text__title">
							<en>My Jewish Story</en>
							<he>הסיפור היהודי שלי</he>
						</div>
						<div class="wizard-form-container__text__content">
							<en>
								Come stroll among thousands of content items:<br>
								Pictures, family trees, music, stories of communities and more.
							</en>
							<he>בואו לשוטט בין מליוני התכנים במאגרים שלנו - תמונות, עצי משפחה, קבצי מוזיקה, סיפורי קהילות - ולבנות מתוכם את סיפור המשפחה שלכם.
 							כדי להתחיל, הזינו פרטים של בן משפחה:
							</he>
						</div>
					</div>
					<ng-include src="'templates/main/wizard-form.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	<!-- <wizard-result></wizard-result> -->
</div>
