<div ng-controller="SubHeaderController as subHeaderCtrl" class="sub-header-container" ng-class="{'sub-header-container--closed': subHeaderCtrl.sub_header_state == 'closed' || isCurrentState('start'), 'sub-header-container--wizard': subHeaderCtrl.sub_header_state == 'wizard' && !(isCurrentState('start')), 'sub-header-container--breadcrumbs': subHeaderCtrl.sub_header_state == 'breadcrumbs' && !(isCurrentState('start'))}">
	<div id="sub-header">
		<div class="header-wizard" ng-show="subHeaderCtrl.sub_header_state == 'wizard'">
			<ng-include src="'templates/main/wizard-form.html'"></ng-include>
		</div>
		<div class="breadcrumbs" ng-show="subHeaderCtrl.sub_header_state == 'breadcrumbs'">
			BREADCRUMBS
		</div>
	</div>
</div>