<form class="wizard-form" ng-controller="WizardFormCtrl as wizardFormController" autocomplete="off">
	<div class="wizard-form__instructions">
		<en>To get started, enter a family member's details</en>
	</div>
	<div class="wizard-form__field">
		<div>
			<input type="text" id="wizard-name" ng-model="wizardFormController.wizard_query.name" placeholder="{{wizardFormController.name_placeholder}}" ng-change="wizardFormController.get_suggestions('name')" ng-focus="wizardFormController.open_suggested('name')" ng-blur="wizardFormController.close_suggested('name')" ng-keydown="wizardFormController.handle_keyboard($event, 'name')">
		</div>
		<div class="wizard-form__field__autosuggest-wrapper">
			<div class="wizard-form__field__autosuggest-wrapper__autosuggest" ng-show="wizardFormController.suggested_open['name']">
				<div ng-show="wizardFormController.suggested_distribution.names[0] > 0">STARTS WITH</div>
				<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item"
						ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('name', suggested_name)}"  
						ng-click="wizardFormController.adopt('name')" 
						ng-mouseover="wizardFormController.select_suggested('name', suggested_name)" 
						ng-repeat="suggested_name in wizardFormController.suggested.names | limitTo: wizardFormController.suggested_distribution.names[0] track by $index">
						{{suggested_name}}
				</div>
				<div ng-show="wizardFormController.suggested_distribution.names[1] > 0">CONTAINS</div>
				<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item"
						ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('name', suggested_name)}"  
						ng-click="wizardFormController.adopt('name')" 
						ng-mouseover="wizardFormController.select_suggested('name', suggested_name)" 
						ng-repeat="suggested_name in wizardFormController.suggested.names.slice(wizardFormController.suggested_distribution.names[0], wizardFormController.suggested_distribution.names[0] + wizardFormController.suggested_distribution.names[1]) track by $index">
						{{suggested_name}}
				</div>
				<div ng-show="wizardFormController.suggested_distribution.names[2] > 0">SOUNDS LIKE</div>
				<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item"
						ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('name', suggested_name)}"  
						ng-click="wizardFormController.adopt('name')" 
						ng-mouseover="wizardFormController.select_suggested('name', suggested_name)" 
						ng-repeat="suggested_name in wizardFormController.suggested.names.slice(wizardFormController.suggested_distribution.names[0] + wizardFormController.suggested_distribution.names[1], wizardFormController.suggested_distribution.names[0] + wizardFormController.suggested_distribution.names[1] + wizardFormController.suggested_distribution.names[2]) track by $index">
						{{suggested_name}}
				</div>
			</div>
			<label for="wizard-place">
				<en>Original family name of one of your ancestors</en>
				<he>שם</he>
			</label>
		</div>
	</div>
	<div class="wizard-form__field wizard-form__field--place">
		<div>	
			<input type="text" id="wizard-place" ng-model="wizardFormController.wizard_query.place" placeholder="{{wizardFormController.place_placeholder}}" ng-change="wizardFormController.get_suggestions('place')" ng-focus="wizardFormController.open_suggested('place')" ng-blur="wizardFormController.close_suggested('place')" ng-keydown="wizardFormController.handle_keyboard($event, 'place')">
		</div>
		<div class="wizard-form__field__autosuggest-wrapper">
			<div class="wizard-form__field__autosuggest-wrapper__autosuggest wizard-form__field__autosuggest-wrapper__autosuggest--places" ng-show="wizardFormController.suggested_open['place']">
					<div ng-show="wizardFormController.suggested_distribution.places[0] > 0">STARTS WITH</div>
					<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item" 
							ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('place', suggested_place)}"  
							ng-click="wizardFormController.adopt('place')" 
							ng-mouseover="wizardFormController.select_suggested('place', suggested_place)"
							ng-repeat="suggested_place in wizardFormController.suggested.places | limitTo: wizardFormController.suggested_distribution.places[0] track by $index">
							{{suggested_place}}
					</div>
					<div ng-show="wizardFormController.suggested_distribution.places[1] > 0">CONTAINS</div>
					<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item" 
							ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('place', suggested_place)}"  
							ng-click="wizardFormController.adopt('place')" 
							ng-mouseover="wizardFormController.select_suggested('place', suggested_place)"
							ng-repeat="suggested_place in wizardFormController.suggested.places.slice(wizardFormController.suggested_distribution.places[0], wizardFormController.suggested_distribution.places[0] + wizardFormController.suggested_distribution.places[1]) track by $index">
							{{suggested_place}}
					</div>
					<div ng-show="wizardFormController.suggested_distribution.places[2] > 0">PHONETIC</div>
					<div 	class="wizard-form__field__autosuggest-wrapper__autosuggest__item" 
							ng-class="{'wizard-form__field__autosuggest-wrapper__autosuggest__item--selected': wizardFormController.isSelectedSuggested('place', suggested_place)}"  
							ng-click="wizardFormController.adopt('place')" 
							ng-mouseover="wizardFormController.select_suggested('place', suggested_place)"
							ng-repeat="suggested_place in wizardFormController.suggested.places.slice(wizardFormController.suggested_distribution.places[0] + wizardFormController.suggested_distribution.places[1], wizardFormController.suggested_distribution.places[0] + wizardFormController.suggested_distribution.places[1] + wizardFormController.suggested_distribution.places[2]) track by $index">
							{{suggested_place}}
					</div>
			</div>
			<label for="wizard-place">
				<en>Town / Village they came from. If unknown, type country</en>
				<he>מקום</he>
			</label>
		</div>
	</div>
	<button class="wizard-form__btn" ng-disabled="wizardFormController.submit_disabled" ng-click="wizardFormController.search()">
		<en>Search</en>
		<he>חפש</he>
	</button>	
</form>