<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About Beit Hatfutsot Databases: The Vision of Douglas E. Goldman</en>
                    <he>אודות מאגרי המידע של בית: התפוצות בחזונו של נחום גולדמן</he>
                </h3>
                <div class="content">
                    <en>
                        <p>For over three decades, Beit Hatfutsot has been collecting digital resources in various categories: photography, genealogy, films, Jewish music, history of communities, the meaning of Jewish family names, personalities, and a lexicon of terms in Jewish peoplehood.</p>
                        <p>Searching the databases is available while visiting Beit Hatfutsot, or by sending us a search order. Search for information about a Jewish community in a specific town, village of city; find out whether there are family trees associated with that community; explore the branches of a specific family tree, find out the meaning of the family name, and search further for related films, photos or music.</p>
                        <p>© All information from the databases published on this website belongs to Beit Hatfutsot since 1983.</p>
                    </en>
                    <he>
                        <p>בבית התפוצות מאגרי מידע מגוונים ועשירים. אילנות יוחסין (עצי משפחה), פירושים לשמות משפחה, תולדותיהן של קהילות ברחבי העולם, צילומים, תמונות וסרטים, קטעי מוזיקה, מידע על מושגים ואישים – כל החומרים נמצאים על פלטפורמה דיגיטלית אחת, במערכת-חיפוש מסוג "אינטרא-נט", שמאגמת את סוגי התוכן וגם מקשרת ביניהם בקישורים פנימיים.</p>
                        <p>ניתן לערוך חיפוש במאגרים בעת ביקור במוזיאון, או על ידי שליחת טופס חיפוש באמצעות האתר.</p>
                        <p>המערכת מכילה, בין היתר, גניאלוגיה יהודית (עצי משפחה); פירושים לשמות המשפחה של יהודים במגוון עדות ולשונות; תולדותיהן של קהילות יהודיות; צילומים משפחתיים וקהילתיים, צילומים של בתי כנסת, בתי עלמין, מצבות וקברים, ומוסדות קהילה; מוזיקה יהודית (חזנות ופיוט, שירה ונגינה מסורתיות של יהודי כל התפוצות והעדות, צלילי קהילות שחרבו בשואה, יצירות חסידיות, יצירות של מלחינים יהודים ועוד); ביאור מושגי יסוד ביהדות ובתולדות עם ישראל; חייהם ופועלם של מנהיגים, יוצרים ודמויות מפתח בעם היהודי.</p>
                        <p>© כל מידע מהמאגרים שמתפרסם באתר של בית התפוצות שייך למאגרי המידע של בית התפוצות מאז 1983</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>
