<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About Douglas E. Goldman Jewish Genealogy Center databases</en>
                    <he>אודות המרכז לגנאלוגיה יהודית ע"ש דגלס א. גולדמן</he>
                </h3>
                <div class="content">
                    <en>
                        <p>The Douglas E. Goldman Jewish Genealogy Center is the only center of its kind in the world. At the Center, visitors can search a computerized database containing thousands of genealogies of Jewish families from all over the world and can also register their own family trees.</p>
                        <p>Throughout history, Jewish families migrated from place to place, often leaving behind family heirlooms, memorabilia, and records. Documentation of their previous lives was often lost, preserved only in their memories. Today, families can record precious information and family history at the Douglas E. Goldman Jewish Genealogy Center, preserving this vital material for generations to come.</p>
                        <p>Almost 5 million individuals have already been recorded in the continuously expanding database. Visitors from all backgrounds can explore their ancestry, record and preserve their own family trees for future generations, thus adding their own “branch” to the family tree of the Jewish People.</p>
                        <p>Registering your family history at the Center has added benefits. Once your information is recorded, it may elicit connections with other registered users. In fact, you may discover unknown, exciting family ties with other people or families around the world.</p>
                    </en>
                    <he>
                        <p>המרכז לגנאלוגיה יהודית ע"ש דגלס א. גולדמן הוא יחיד במינו בעולם. במרכז מאגר ממוחשב של אלפי אילנות יוחסין של משפחות יהודיות מקצווי תבל. מבקרים יכולים לערוך חיפוש וגם לרשום את אילן היוחסין שלהם.</p>
                        <p>במרוצת הדורות עברו משפחות יהודיות ממקום למקום. במקרים רבים הותירו מאחור נכסים, דברי-ערך, מזכרות ורשומות. למרבה הצער, רק לעתים רחוקות תיעדו וכתבו את תולדות המשפחה, ורשמי העבר נותרו רק בזיכרון. כיום אתם יכולים לתעד את המידע על משפחתכם במרכז לגנאלוגיה יהודית של בית התפוצות, ולהבטיח את שימורו של הסיפור המשפחתי לדורות הבאים.</p>
                        <p>מעל ל-5 מיליוני בני אדם כבר רשומים במרכז לגנאלוגיה יהודית בבית התפוצות, והמאגר גדל מדי יום ומדי שעה. מבקרים ממגוון מקומות ואורחות חיים באים להתחקות אחר שורשיהם, לתעד ולהנציח את אילן משפחתם עבור הדורות הבאים, ובכך הם מוסיפים עוד ענף לאילן המשפחתי הגדול של העם היהודי.</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>
