<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About the Memi De-Shalit Database of Jewish Family Names</en>
                    <he>אודות מאגר השמות ע"ש ממי דה-שליט</he>
                </h3>
                <div class="content">
                    <en>
                        <p>The Memi De-Shalit Database of Jewish Family Names is the only digital collection of Jewish family names in the world. This unparalleled, world renowned collection of Jewish family names contains nearly 20,000 entries and growing.</p>
                        <p>The database includes information on the origin and meaning of family names used by Jewish families from all over the world, in many languages.The database holds information about name etymology, word variants, name migration, and earliest known occurrences. In addition, readers may discover other Jews who happen to have the same surname as theirs.</p>
                        <p>The database of Jewish family names is the result of decades of dedicated work by many experts. The explanations are based on a wide array of sources: scientific researches, onomastic and other dictionaries, Jewish traditional sources etc. as well as information provided by members of the public. As a rule, no explanation has been included into the database unless it is attested by at least two independent sources.</p>
                    </en>
                    <he>
                        <p>מאגר השמות ע"ש ממי דה-שליט הוא האוסף הדיגיטלי היחיד בעולם של שמות משפחה יהודיים, ומטרתו לשמר היבט חשוב של המורשת היהודית, ולהבטיח שימורו גם בדורות הבאים. במאגר השמות כ-20,000 ערכים קצרים, ובהם מידע על מקורם ופירושם של שמות משפחה שכיחים ונדירים, שבהם השתמשו יהודים ברחבי העולם, בעשרות לשונות. המאגר גדל כל העת.</p>
                        <p>המידע מתייחס למקור הלשוני וההיסטורי של השמות, לפירושם, לשמות מקבילים בשפות אחרות, לווריאנטים ולצורות כתיב בשפות שונות ולתפוצה הגיאוגרפית של השמות. רוב ההסברים כוללים גם דוגמאות ליהודים אחרים שנושאים את שם המשפחה, או לאנשי שם שנשאו או נושאים אותו.</p>
                        <p>מאגר השמות של בית התפוצות נוצר במשך כמה עשורים של עבודה מסורה של אנשי מקצוע. פירוש השימוש מתבסס על קשת רחבה של מקורות: מחקרים מדעיים, מילונים, מקורות מסורתיים יהודיים, וכן מידע שנמסר למוזיאון על ידי הציבור. ככלל, במאגר לא מופיע פירוש לשם משפחה שלא נתמך בשני מקורות עצמאיים לפחות.</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>