<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About Bernard H. and Miriam Oster Visual Documentation Center</en>
                    <he>אודות המרכז לתיעוד חזותי ע"ש ברנרד ה. ומרים אוסטר</he>
                </h3>
                <div class="content">
                    <en>
                        <p>If a picture paints a thousand words, then the Bernard H. and Miriam Oster Visual Documentation Center of Beit Hatfutsot speaks countless volumes.</p>
                        <p>Indeed, the Center is one of the richest and most diverse collections of photographs depicting Jewish history, heritage, creativity and communal life, and over 800 rare films and self-produced documentaries about Jewish life across the globe.</p>
                        <p>The Center constitutes an internationally recognized center of Jewish documentation. It is a valuable resource for scholars, publishers, journalists, the media, institutions and members of the general public who are interested in Jewish culture, history and communal life.</p>
                        <p>The visual documentation collections cover a vast array of Jewish life, including: communities, synagogues, public institutions, culture, art, holidays, ceremonies, family and home life, lifestyles, trades, professions, key personalities and events.</p>
                        <p>To receive more information about the photo and video collections, or to donate photographs, prints, slides, or films, please contact the Bernard H. and Miriam Oster Visual Documentation Center at rachels@bh.org.il or tel: 972-3-7457851.</p>
                    </en>
                    <he>
                        <p>אם אכן "תמונה אחת שווה אלף מילים", הרי המרכז לתיעוד חזותי ע"ש ברנרד ה. ומרים אוסטר בבית התפוצות שווה לאלפי כרכים ובהם אין-ספור מילים.</p>
                        <p>במרכז מצוי אחד מאוספי התצלומים העשירים ביותר בעולם היהודי. התצלומים מתארים את ההיסטוריה, המורשת, היצירה וחיי הקהילה. עוד במרכז אוסף של יותר מ-800 סרטים, רבים נדירים, חלקם סרטים תיעודיים שהופקו על ידי בית התפוצות.</p>
                        <p>למרכז לתיעוד חזותי בבית התפוצות כבר יצאו מוניטין ברחבי העולם כמקור חשוב לחוקרים, למוציאים לאור, לעיתונאים, לכלי תקשורת ולמוסדות.  כמו כן הוא משרת את הקהל הרחב המעוניין בחומר ויזואלי על נושאים יהודיים.</p>
                        <p>אוספי התמונות מכסים תחומי-חיים רבים: קהילות, בתי כנסת, מוסדות ציבור, תרבות ואמנות, חגים וטקסים, חיי משפחה וחיי יום-יום, סגנונות ואורחות חיים, מקצועות ועיסוקים, אישים ואירועים.</p>
                        <p> לקבלת מידע נוסף על אוספי התמונות והסרטים או למסירת תמונות, הדפסים, שקופיות או סרטים, אנא צרו קשר:<br>מייל: photos@bh.org.il<br>טלפון: 03-7457851</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>
