<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About the Beit Hatfutsot Jewish Personalities Database</en>
                    <he>אודות מאגר האישים של בית התפוצות</he>
                </h3>
                <div class="content">
                    <en>
                        <p>For ages and generations the Jewish people lived in their land and had heroes such as King David, Isaiah, and Judas Maccabeus.  After the destruction of the Second Temple the Jews were expelled from their land and scattered in foreign countries, where they lived as a minority among nations, religions and cultures, some of which hostile and alienated. Having no military power, no stable economy or strong sovereignty mechanisms - the Jews thrived to establish for themselves a "spiritual territory", in which wisdom and knowledge shall reign.</p>
                        <p>"Give me Yavne and its sages" - this was one of three wished Vespasian granted rabbi Yochanan Ben Zakai,  just before the Romans destroyed the Temple – the Jews' last remaining symbol of sovereignty. Thus the revolution has been completed, which started at the days of the Sanhedrin and the Sages of the Mishna in the land of Israel: living sacrifices were replaced by written texts, sages replaced the priests and the Beit Midrash has replaced Temple in Jerusalem.</p>
                        <p>After the destruction of the temple, the Jewish "wisdom republic" travelled and wandered, possessing the law and the book: letters formed words, words gathered in books, and books assembled libraries.</p>
                        <p>The Jewish "wisdom baton" was handed over, from land to land, from generation to generation. From the Sages of Yavne to the Geonim in Babylon, from the poets of Spain to the Kabbalists of Ashkenaz, from the middle ages philosophers to the Jewish intellectuals of modern era.</p>
                        <p>Behind the Jewish genius there lie thousands of years of strict education to excellence, an intellectual passion to reveal the nature of man and world, and nourishing of the intellect as a sublime ideal. From these values derived the hall of fame of the greatest Jewish minds at all times.</p>
                        <p>The personalities database of Beit Hatfutsot is comprised of a rich collection of geniuses and role figures. Men and women who invented, developed, studied, interpreted, and prospered the vast fields of human knowledge. Their work is proof of the eternal phrase by the wise King Solomon: "Then I saw that wisdom excelleth folly, as far as light excelleth darkness" (Ecclesiastes 2, 13).</p>
                    </en>
                    <he>
                        <p>במהלך המאה ה-19 פרצה לעולם "תנועת ההשכלה" שחרטה על דגלה את ערך התבונה האנושית כאמצעי לפיצוח סודות הקיום ומסתרי הטבע והאדם. האינדיבידואל החליף את האל, המיקרוסקופ את כתבי הקודש ומעבדות המחקר את המנזרים ומוסדות הדת.</p>
                        <p>עקרונות ההשכלה מצאו את היהודים מוכנים ומזומנים. מאות שנים של קידוש ערך הלמדנות, חינוך קפדני לידיעת קרוא וכתוב וצחצוח חרבות אינטלקטואלי בישיבות ובבתי המדרש, ליטשו את המוח היהודי והכשירו אותו לספוג במהירות את ערכי הקִדמה. הסכר נפתח ונחשול עצום של כישרון התפרץ החוצה ברגע אחד קסום. </p>
                        <p>"המפץ הגדול" של האינטלקטואלים היהודים, שהחל עם דמדומי המאה ה-19 ונמשך על פני המאה ה-20, הביא לעולם גאונים מעוררי השראה כמו אלברט איינשטיין, זיגמונד פרויד, פרנץ קפקא, קרל מרקס, ליאון טרוצקי, ארתור מילר, ג'ורג' גרשווין, והיריעה קצרה מלהכיל. אלו עמדו על כתפי ענקים מעידנים קדומים יותר כמו הילל הזקן, רבי עקיבא, הרמב"ם, ברוך שפינוזה, הגאון מווילנה, חכמי ספרד ועוד ועוד.</p>
                        <p>מאגר האישים של בית התפוצות מורכב מפסיפס צבעוני ועשיר של דמויות מופת אלו ואחרות. אנשים שגילו, המציאו, פיתחו, חקרו והפריחו את שדה הדעת הגדול של האנושות. יצירתם ופועלם הינם הוכחה חיה לנצחיות מאמרו של החכם מכל אדם, שלמה המלך: "וראיתי אני שיש יתרון לחכמה מן הכסילות כיתרון האור מן החושך".</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>