<div id="item-page-container">
    <ng-include src="'templates/main/about/search-tabs.html'"></ng-include>
    <div  id="general-search-page">
        <div class="about_center">
            <div class="article">
                <h3 class="article_title">
                    <en>About the Beit Hatfutsot Jewish Communities Database</en>
                    <he>אודות מאגר הקהילות היהודיות של בית התפוצות</he>
                </h3>
                <div class="content">
                    <en>
                        <p>The Beit Hatfutsot Jewish Communities Database is one of the richest collections of Jewish community culture in the world.</p>
                        <p>Over the past thirty years, Beit Hatfutsot has collected an astounding array of facts, figures, anecdotes, narratives, and cultural descriptions from over over 3,000 Jewish communities, past and present.</p>
                        <p>The database includes historical, geographic and demographic data about a broad spectrum of communities — from those that do not exist any more to those that have only recently developed, and from those that were destroyed in the Holocaust to those that are thriving and growing today. The database spans six continents, from the farthest reaches of the Pacific to the cold mountains of Asia and nearly everything in between. Some of the community stories date back 3500 years. The database paints detailed portraits of Jewish life throughout the ages, and comprises an unparalleled tool for preserving Jewish communal and cultural memory for future generations. The databases are accessible to the visiting public at the museum. Information is also accessible on-line.</p>
                    </en>
                    <he>
                        <p>מאגר הקהילות היהודיות של בית התפוצות עשיר וגדול. יותר משלושה עשורים נאסף במאגר מידע, עובדות, נתונים סטטיסטיים וגם סיפורים ואנקדוטות בעבר ובהווה.</p>
                        <p>במאגר נתונים היסטוריים, גיאוגרפיים ודמוגרפיים על מגוון קהילות ברחבי העולם; קהילות שכבר אינן קיימות, קהילות שנוסדו בדורנו, קהילות שחרבו בשואה, וקהילות ותיקות ומשגשגות בהווה. במאגר קהילות בשש יבשות, מקצווי האוקיינוס השקט ועד לפסגות הרי אסיה, וכמעט כל מה שביניהם. לחלק מהקהילות היסטוריה ארוכה וסיפורן מתחיל לפני 3,500 שנה. מאגר הקהילות מציג את התפוצות השונות לאורך הדורות והוא כלי חשוב בשימור הזיכרון והמורשת היהודית.</p>
                    </he>
                </div>
            </div>
        </div>
    </div>
</div>