<div id="branch--{{$index}}" class="branch branch--{{$index}}" ng-class="{selected: mjsCtrl.selected_branch === $index}">
	<ng-switch on="mjsCtrl.dragging">
		<div ng-switch-when="true">
			<div class="branch__drop-area-border"></div>
			<div class="branch__drop-area" droppable ondrop="mjsCtrl.assign_item" context="mjsCtrl" branch-name="branch.name">
				<div class="branch__drop-area__text">Drop to add item to branch</div>
			</div>
		</div>
		<div ng-switch-when="false" style="width: 100%; height: 100%;">
			<div id="branch-head-border-{{$index}}" class="branch__head-border" ng-click="mjsCtrl.select_branch($index)"></div>
			<div class="branch__head" ng-click="mjsCtrl.select_branch($index)">
				<div class="branch__head__name">
					{{branch.name}}
				</div>
			</div>
			<div class="branch__edit" ng-show="mjsCtrl.selected_branch === $index" ng-click="mjsCtrl.toggle_branch_edit($event, $index)">
				<en>
					<icon position="[-226, -123]"></icon>
				</en>
				<he>
					<icon position="[-224, -123]"></icon>
				</he>
			</div>
			<div class="branch__edit-popover" dropdown is-open="mjsCtrl.branch_edit_status[$index]">
				<en>Rename this Family Branch</en>
				<he>שנה את שם הענף</he>
				<input class="name" ng-model="branch.name" ng-click="mjsCtrl.stopPropagation($event)" alter-mjs-branch>
			</div>
			<div class="branch__remove" ng-show="mjsCtrl.selected_branch === $index" ng-click="mjsCtrl.toggle_branch_rmdialog($event, $index)">
				<en>
					<icon position="[-226, -102]"></icon>
				</en>
				<he>
					<icon position="[-224, -102]"></icon>
				</he>
			</div>
			<div class="branch__remove-popover" dropdown is-open="mjsCtrl.branch_rmdialog_status[$index]">
				<en>Do you want do delete <strong>{{branch.name}}</strong> family branch?</en>
				<he>האם ברצונך למחוק את ענף המשפחה {{branch.name}}?</he>
				<div class="branch__remove-popover__actions">
					<button class="remove" ng-click="mjsCtrl.remove($event, branch.name)">
						<en>Yes, Delete</en>
						<he>כן, מחק</he>
					</button>
					<button class="cancel">
						<en>Cancel</en>
						<he>ביטול</he>
					</button>
				</div>
			</div>
		</div>
	</ng-switch>
	<div id="branch-content-{{$index}}" class="branch__content" ng-show="mjsCtrl.selected_branch === $index">
		<mjs-assigned ng-if="branch.items.familyNames" id="assigned-first-{{$index}}" class="assigned assigned--first" collection-name="familyNames" icon-position='{"en": [-81, -266], "he": [-61, -266]}' plumb-connect to="branch-head-border-{{$index}}" connection-id="familyNames-{{$index}}" delay="1300" connecton="mjsCtrl.selected_branch"></mjs-assigned>
		<mjs-assigned ng-if="branch.items.places" id="assigned-second-{{$index}}" class="assigned assigned--second" collection-name="places" icon-position='{"en": [-79, -192], "he": [-59, -192]}' plumb-connect to="branch-head-border-{{$index}}" connection-id="places-{{$index}}" delay="1300" connecton="mjsCtrl.selected_branch"></mjs-assigned>
	</div>
</div>