<ng-switch on="mjsWidgetCtrl.in_mjs">
	<div class="mjs-widget-wrapper" dropdown is-open="mjsWidgetCtrl.item_added">
		<div class="mjs-widget-icon" ng-click="mjsWidgetCtrl.push_to_mjs()" ng-switch-when="false">
			<icon position="[-84, -532]" alt-text="{en: 'Add to My Story', he: 'הוסף לסיפור שלי'}"></icon>
		</div>
		<div class="mjs-widget-dialog">
			<div class="mjs-widget-dialog__title">Item added</div>
			<div class="mjs-widget-dialog__view" ui-sref="mjs">
				<en>View in my story</en>
				<he>צפה ב סיפור שלי</he>  
			</div>
			<span ng-if="!(item.ugc)">
				<div class="mjs-widget-dialog__remove" ng-click="mjsWidgetCtrl.remove_from_mjs()">
					<en>Remove item</en>
					<he>הורד</he>
				</div>
			</span>
		</div>
		<div class="mjs-widget-icon" ng-click="mjsWidgetCtrl.remove_from_mjs()" ng-switch-when="true">
			<icon position="[-5, -607]" alt-text="{en: 'Remove from My Story', he: 'הורד מהסיפור שלי'}"></icon>
		</div>
	</div>
</ng-switch>