<ng-switch on="grouped" ng-click="mjsCtrl.select_collection(collection)">
	<div class="assigned__single" ng-switch-when="false" ng-class="{'selected-collection': mjsCtrl.is_selected_collection(collection)}">
		<div class="assigned__single__desc">
			<ng-switch on ="collection[0].hasOwnProperty('GTN')">
				<span ng-switch="true">
					{{collection[0].FN}} {{collection[0].LN}}
				</span>
				<span ng-switch-default>
					<en>{{collection[0].Header.En}}</en>
					<he>{{collection[0].Header.He}}</he>
				</span>
			</nd-switch>
		</div>
		<mjs-item item="collection[0]"></mjs-item>
	</div>
	<div class="assigned__grouped" ng-switch-when="true" ng-class="{'selected-collection': mjsCtrl.is_selected_collection(collection)}">
		<div class="assigned__grouped__desc">{{mjsCtrl.get_collection_type(collection)}} collection ({{collection.length}})</div>
		<div class="assigned__grouped__icon">
			<icon position="icon_position"></icon>
		</div>
	</div>
</ng-switch>