<div class="mjs-widget-wrapper" uib-dropdown uib-dropdown-toggle >
  <!-- {{mjsWidgetCtrl.item_added}} -->

  <div class="mjs-widget-icon" ng-if="item.in_mjs">
    <ng-include src="'templates/svgs/in-my-story.html'"></ng-include>
  </div>

  <div class="mjs-widget-icon" ng-if="!item.in_mjs" ng-click="mjsWidgetCtrl.push_to_mjs()">
    <ng-include src="'templates/svgs/add-to-story.html'"></ng-include>
  </div>

  <div class="mjs-widget-dialog" ng-if="item.in_mjs">
    <div class="mjs-widget-dialog__view" ui-sref="mjs">
      <en>View in my story</en>
      <he>לצפות בסיפור שלי</he>
    </div>
    <div class="mjs-widget-dialog__remove" ng-click="mjsWidgetCtrl.remove_from_mjs()">
      <en>Remove item</en>
      <he>להסיר מהסיפור שלי</he>
    </div>
  </div>

</div>
