<span>
  <ng-switch on="item.thumbnail === undefined || item.thumbnail == ''">
    <div class="item-thumbnail item-thumbnail--text" ng-switch-when="true" draggable="{{nonDraggable ? false : true}}" data="item">
      <div class="title">
        <en>{{item.header.En}}</en>
        <he>{{item.header.He}}</he>
      </div>
    </div>
    <div class="item-thumbnail item-thumbnail--pic" ng-switch-when="false" draggable="{{nonDraggable ? false : true}}" data="item">
      <img ng-src="data:image/jpeg;base64,{{item.thumbnail}}" alt="Item Thumbnail Image" fit-thumb>
      <div class="title">
        <en>{{item.header.En}}</en>
        <he>{{item.header.He}}</he>
      </div>
    </div>
  </ng-switch>
</span>
