<auth-private>
	<div id="mjs-page-container" ng-controller="MjsController as mjsCtrl">
		<div id="mjs-header-wrapper">
			<div class="mjs-header">
				<div class="image-separator"></div>
				<div class="ftree-pic-wrapper">
					<en>
						<img class="top-pic" ng-src="images/Top-Ftree-Eng.jpg">
					</en>
					<he>
						<img class="top-pic" ng-src="images/Top-Ftree-Heb.jpg">
					</he>
				</div>
				<div class="image-separator"></div>
				<div class="item-preview-pic1">
					<img class="top-pic" ng-src="images/Top-Picture-1.jpg">
				</div>
				<div class="image-separator"></div>
				<div class="item-preview-pic2">
					<img class="top-pic" ng-src="images/Top-Picture-2.jpg">
				</div>
				<div class="diagonal-block">
					<div  class="diagonal-separator" style="left:-10px; opacity:1;"></div>
					<div  class="diagonal-separator" style="left:-30px; opacity:0.7;"></div>
					<div  class="diagonal-separator" style="left:-50px; opacity:0.4;"></div>
				</div>
				<div id="silhouette" class="silhouette">
					<img src="images/BH-Loading.gif">
					<h1 class="silhouette__description">
						<en>The story of<br>{{mjsCtrl.user.name}}</en>
						<he>הסיפור של<br>{{mjsCtrl.user.name}}<he>
					</h1>
				</div>
				<!-- <div class="share-item">
	                <div class="share-item__header">
	                    <en>Share my story:</en>
	                    <he>לשתף את הסיפור:</he>
	                </div>
	               <!--  <tweet text="{{title}} via @BeitHatfutsot"></tweet> -->
	                <!-- <fb-share></fb-share> -->
	             <!--    <icon class="share-item__icon" position="[-271, -408]" ng-click="" hover-offset="[-0, -35]"></icon>
	                <icon class="share-item__icon" position="[-305, -408]" ng-click="" hover-offset="[-0, -35]"></icon>
	                <icon class="share-item__icon" position="[-340, -408]" ng-click="" hover-offset="[-0, -35]"></icon> -->
	            </div> -->
			</div>
		</div>
		<nav class="mjs-menu">
	        <ul class="nav">
	        	<li class="menu-item branch--{{$index}}" ng-class="{'menu-item--selected': mjsCtrl.selected_branch === $index}" ng-repeat="branch in [0,1,2,3,4,5]">
					<div ng-if="branch == 0" class="branch_name" ng-click="mjsCtrl.selected_branch = branch">
						<en>The whole story</en>
						<he>הסיפור שלי</he>
						<br>
						<span class="branch_name__num">{{mjsCtrl.mjs_items.length}}</span>	
					</div>
					<div class="clickable-area" ng-if="(branch > 0) && (branch < 5)" ng-click="mjsCtrl.selected_branch = branch">
						<ng-switch on="mjsCtrl.branch_edit_status[branch]">
							<div ng-switch-when="false" class="branch_name">
								{{mjsCtrl.mjs._latest.story_branches[branch-1]}} <!-- {{myname}} -->
								<br>
								<span class="branch_name__num">{{mjsCtrl.mjs.items_counter[branch-1]}}</span>
							</div>
							<div ng-switch-when="true">
								<input  class="rename"
										focus="true"
									 	placeholder="{{mjsCtrl.mjs._latest.story_branches[branch-1]}}"
										ng-model="myname"
										alter-mjs-branch />
							</div>
						</ng-switch>
					</div> 
					<div ng-if="branch == 5" ng-click="mjsCtrl.selected_branch = $index">
						<div class="branch_name" ng-click="mjsCtrl.selected_branch = branch">
							<en>My upload</en>
							<he>ההעלאות שלי </he>
							<br>
							<span class="branch_name__num">{{}}</span>
						</div>
					</div>
					<icon  ng-if="(branch > 0) && (branch < 5)" class="edit-branch-icon" position="[-231, -127]" ng-click="mjsCtrl.toggle_branch_edit($event, branch)"></icon>
	    		</li>
			</ul>
	    </nav>
		<div class="item-preview-wrapper">
	    	<item-preview ng-repeat="item in mjsCtrl.mjs_items"
	    		ng-if="(mjsCtrl.selected_branch == 0) || item.in_branch[mjsCtrl.selected_branch-1]"
	    		preview-data="item"
	    		item-source="bh">
	    	</item-preview>
		</div>
	</div>
</auth-private>
