<div id="mjs-container" ng-show="mjsCtrl.content_loaded">
	<div id="unassigned">
		<div class="title">Unsorted Items</div>
		<div ng-repeat="item in mjsCtrl.mjs_items.unassigned" ng-click="mjsCtrl.assign_item('default', item)">
			<mjs-item item="item"></mjs-item>
		</div>
	</div>
	<div id="molecules">
		<div class="silhouette"></div>
		<mjs-branches>
			<mjs-branch ng-repeat="branch in mjsCtrl.mjs_items.assigned" branch="branch" branch-index="{{$index}}"></mjs-branch>
			<mjs-branch class="branch branch--{{mjsCtrl.mjs_items.assigned.length}}" branch="mjsCtrl.new_branch" ng-click="mjsCtrl.insertNewBranch()"></mjs-branch>
		</mjs-branches>
	</div>
</div>