<div class="start__bottom">
    <img ng-src="/images/Ftrees-Photos_Support.jpg">
    <div class="start__bottom__text">
        <en><p><span class="subtitle">If you wish to help us pass on the Jewish story – now it is easier than ever.</span><br>
            Record any information you have about your family at the Jewish Genealogy Center in Beit Hatfutsot, thus insuring that future generations will have access to the information.<br>
            We invite you to add your family tree to our database. Your contribution will help us preserve the Jewish story and will enable future users to search for their roots and to complete the puzzle. It can also assist you and other users tracing long lost relatives and enhancing family ties at present.<br>
            <span class="emph">If you have already built a family tree</span>, <a href='https://www.bh.org.il/databases/jewish-genealogy/tool-kit-research/'>click here and learn how to upload it unto this website</a>.<br>
            <span class="emph">If you have not yet formed your family tree</span>, you can easily do so using one of the following sites or soft wares. <a href='https://www.bh.org.il/databases/jewish-genealogy/tool-kit-research/'>Click here for information on forming your family tree</a>.</p>
        </en>
        <he>
            <p><span class="subtitle">מעוניינים לסייע לנו להמשיך לספר את הסיפור היהודי?</span><br>
            היום יותר מתמיד קל לתעד את המידע על משפחתכם במרכז לגנאלוגיה יהודית של בית התפוצות, ולהבטיח את שימורו של הסיפור המשפחתי לדורות הבאים.<br>
            אתם מוזמנים לתרום לבית התפוצות את העץ המשפחתי שלכם. תרומה זו תעזור לנו תבטיח את שימורו של הסיפור המשפחתי שלכם לדורות הבאים, ותסייע בהרכבת הפסיפס היהודי לדורותיו. תרומת העץ שלכם למאגר תסייע גם לכם ולאנשים נוספים באיתור קרובי משפחה אבודים וחיזוק הקשרים המשפחתיים הקיימים.<br>
            <span class="emph">יש לכם כבר עץ משפחתי?</span> <a href='https://www.bh.org.il/he/%D7%9E%D7%90%D7%92%D7%A8%D7%99%D7%9D-%D7%95%D7%90%D7%95%D7%A1%D7%A4%D7%99%D7%9D/%D7%92%D7%A0%D7%90%D7%9C%D7%95%D7%92%D7%99%D7%94-%D7%99%D7%94%D7%95%D7%93%D7%99%D7%AA/%D7%90%D7%A8%D7%92%D7%96-%D7%94%D7%9B%D7%9C%D7%99%D7%9D-%D7%A9%D7%9C%D7%9B%D7%9D/'>לחצו כאן כדי ללמוד איך להעלות אותו לאתר זה</a>.<br>
            <span class="emph">אם טרם בניתם עץ משפחתי,</span> תוכלו לעשות זאת בקלות באחד מכמה אתרים או תוכנות: <a href='https://www.bh.org.il/he/%D7%9E%D7%90%D7%92%D7%A8%D7%99%D7%9D-%D7%95%D7%90%D7%95%D7%A1%D7%A4%D7%99%D7%9D/%D7%92%D7%A0%D7%90%D7%9C%D7%95%D7%92%D7%99%D7%94-%D7%99%D7%94%D7%95%D7%93%D7%99%D7%AA/%D7%90%D7%A8%D7%92%D7%96-%D7%94%D7%9B%D7%9C%D7%99%D7%9D-%D7%A9%D7%9C%D7%9B%D7%9D/'>למידע על בניית עץ משפחתי לחצו כאן</a>.</p>
        </he>
    </div>
</div>
