<div id="family-trees-container" ng-class="{'tree-view': ftreesCtrl.tree_view}">
    <div id="temp-ftree">
        <div class="explanation-he">
            <h3>
            מחפשים בן משפחה מסוים?<br>רוצים לשפוך אור על פיסת היסטוריה משפחתית חסרה?
            </h3>
            <p>בקרוב תוכלו לעשות זאת במאגר עצי המשפחה שלנו,<br> שמכיל מעל 5 מליון רשומות של אנשים. המאגר נבנה במשך<br>יותר מ-30 שנה והוא המאגר הגדול והאיכותי ביותר של עצי<br>משפחה יהודיים בעולם</p>
        </div>
        <div class="explanation-en">
            <h3>
                Searching for a family member?<br>Looking for a missing piece of information<br>about your family's history?
            </h3>
            <p>Soon you will be able to do so in our genealogy databases. The databases - which contains over 5 million people - was gathered for over 30 years, and is one of the largest and most comprehensive collaborative Jewish geneallogical databases in the world.</p>
        </div>
        <img class="tree-examp" ng-src="/images/Ftree-AlbertEinstein.png"/>
    </div>
</div>