<div class="container">
	<label>
		<en>
			{{label_text_en}}
		</en>
		<he>
			{{label_text_he}}
		</he>
	</label>
	<input type="text" ng-model="model">
	<div class="info">?</div>
	<div class="modifiers-container">
		<input type="radio" name="{{label_text_en}}" value="" ng-model="modifier_model"><label>Exact</label>
		<input type="radio" name="{{label_text_en}}" value="prefix" ng-model="modifier_model"><label>Begins with</label>
		<input type="radio" name="{{label_text_en}}" value="phonetic" ng-model="modifier_model"><label>Sounds like</label>
	</div>
</div>