<div id="tree-layout-mask">
	<icon class="expand-btn" position="[-84, -491]" ng-click="ftreeViewCtrl.expand()" alt-text="{en: 'Expand', he: 'פתיחה'}" hover-offset="[-91, -243]"></icon>
	<div class="expand-btn-text">
		<en>Enlarge</en>
		<he>Enlarge</he>
	</div>
	<div id="tree-layout">
    <svg class="vertices"></svg>
    <div class="nodes"></div>
	</div>
	<div class="babylonLogoFtree" ng-if="ftreeViewCtrl.get_contributor_path()">
		<span class="babylonLogoFtree__desc">
			<en>Family tree contributed by</en>
			<he>עץ משפחה נתרם על ידי</he>
		</span>
		<img ng-src="{{ftreeViewCtrl.get_contributor_path()}}">
		<span class="babylonLogoFtree__bottom-triangle"></span>
		<span class="babylonLogoFtree__left-triangle"></span>
	</div>
</div>
