<div id="family-trees-container" ng-class="{'tree-view': ftreesCtrl.tree_view}">
	<div id="tree-sort">
		<div id="search-params">
			<form class="filters" name="filters" ng-class="{'filters--expanded': ftreesCtrl.advanced_search}">
				<div class="filters__general">
						<div class="title"> 
							<span class="title__arrow"></span>
							<h3 class="title__text">
								<en>Type in any field below<br>to start a new search</en>
								<he>לחיפוש נוסף הזינו טקסט בשדה אחד לפחות:</he>
							</h3>
						</div>

					<div class="filters__field">
						<div class="container">
							<label>
								<en>First Name</en>
								<he>שם פרטי</he>
							</label>
							<input type="text" ng-model="ftreesCtrl.search_params.first_name" placeholder="{{(lang=='en')?'Moshe, Liat...':'משה, ליאת...'}}">
						</div>
					</div>
					<filters-field  class="filters__field" 
									label-text-en="Last Name"
			                        label-text-he="שם משפחה"
			                        model="last_name"
			                        placeholder="{{(lang=='en')?'Cohen, Kafka...':'כהן, קפקא...'}}">
                    </filters-field>
		            <ng-switch on="ftreesCtrl.url_search_params.more">
		            	<div ng-switch-when="1" class="filters__sex" >
							<label>
								<en>Sex</en>
								<he>מין</he>
							</label>
							<div class="filters__sex__choices">
								<input type="radio" name="sex" value="m" ng-model="ftreesCtrl.search_params.sex" id="choice-male" checked="checked">
								<label class="label-sex" for="choice-male">
									<en>Male</en>
									<he>זכר</he>
								</label>
								<input type="radio" name="sex" value="f" ng-model="ftreesCtrl.search_params.sex" id="choice-female">
								<label class="label-sex" for="choice-female">
									<en>Female</en>
									<he>נקבה</he>
								</label>
								<input type="radio" name="sex" value="n" ng-model="ftreesCtrl.search_params.sex" id="choice-nm">
								<label class="label-sex" for="choice-nm">
									<en>Never mind</en>
									<he>לא משנה</he>
								</label>
							</div>
						</div>
						<filters-field  ng-switch-default
		            					class="filters__field"
		            					label-text-en="Place of Birth / Marriage / Death"
		            					label-text-he="מקום לידה \ נישואין \ פטירה"
		            					model="marriage_place"
		            					placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
        				</filters-field>
					</ng-switch>

		            <a href="" class="filters__expand" ng-click="ftreesCtrl.toggle_form()">
		            	<ng-switch on="ftreesCtrl.url_search_params.more">
			            	<span ng-switch-when="1">
			            		<en>Less Fields</en>
			            		<he>פחות שדות</he>
		            		</span>
			            	<span ng-switch-default>
			            		<en>More Fields</en>
			            		<he>עוד שדות</he>
		            		</span>
	            		</ng-switch>
		            </a>
		            <button class="filters__update" ng-click="ftreesCtrl.update()">
						<en>Search</en>
						<he>חיפוש</he>
					</button>
					<a href="" class="filters__clear" ng-click="ftreesCtrl.clear_filters()" ng-if="ftreesCtrl.url_search_params.more == '1'">
						<en>Clear</en>
						<he>ניקוי</he>
					</a>
				</div>

				<div class="filters__advanced">
					<div class="filters__advanced__head">
						<div class="about-bh">
			                <div class="about-collection-title">
			                    <span ng-click="ftreesCtrl.read_about_center('familyTree')">
			                        <en>About <a class="linked">Douglas E. Goldman Jewish<br>Genealogy Center databases</a></en>
			                        <he>אודות <a class="linked">המרכז לגנאלוגיה יהודית<br>ע"ש דגלס א. גולדמן</a></he>
			                    </span>
			                </div>
			            </div>
					</div>
					<div class="pic-wpapper" ng-if="!ftreesCtrl.url_search_params.more||ftreesCtrl.url_search_params.more =='0'">
						<img ng-src="/images/Ftrees-Photos_Eng+Heb3.jpg">
					</div>
					<div class="advanced-filters" ng-if="ftreesCtrl.url_search_params.more=='1'">
						<div class="col2">
							<filters-field class="filters__field"
											label-text-en="Place of Birth"
											label-text-he="מקום לידה"
											model="birth_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
							<filters-field class="filters__field"
											label-text-en="Place of Marriage"
											label-text-he="מקום נישואין"
											model="marriage_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
							<filters-field class="filters__field" 
											label-text-en="Place of Death"
											label-text-he="מקום פטירה"
											model="death_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
						</div>

						<div class="col3">
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Birth"
											label-text-he="שנת לידה"
											model="birth_year"
											placeholder="1948..">
							</filters-fudge>
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Marriage"
											label-text-he="שנת נישואין"
											model="marriage_year"
											placeholder="1948..">
							</filters-fudge>
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Death"
											label-text-he="שנת פטירה"
											model="death_year"
											placeholder="1948..">
							</filters-fudge>
							<div class="filters__field">
								<div class="container">
									<label>
										<icon position="[-29, -69]" class="tree-icon"></icon>
										<en>Tree s/n Number</en>
										<he>מספר סידורי של העץ</he>
									</label>
									<input type="text" ng-model="ftreesCtrl.search_params.tree_number" placeholder="12345">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="start" ng-show="ftreesCtrl.individuals.isEmpty()"><!-- filters.$pristine -->
			<div class="start__top">
				<div class="start__top__text">
					<en>
						<h2>Searching for long lost relatives?</h2>
						<p><span class="subtitle">Simply type names in one of fields above and go on a fascinating family journey!</span>
						For centuries Jews have travelled and wandered. In many cases they left behind assets, texts and documents. Unfortunately, only a few families recorded their history, and many precious memories were bound to be lost and forgotten. Now you can record all information about your family at the Douglas E. Goldman Jewish Genealogy Center in Beit Hatfutsot and make sure that the family heritage is safe for future generations.<br>
						The Douglas E. Goldman Jewish Genealogy Center is the only center of its kind in the world. At the Center, visitors can search a computerized database containing thousands of genealogies of Jewish families from all over the world and can also register their own family trees.<br>
						It is important to state that the information in the database meets the restrictions of the privacy protection law of 1981. Therefore, searching for living individuals can only yield partial results such as gender, given namese, and family name.<br>
						Over 5 million individuals have already been recorded in the continuously expanding database. Visitors from all backgrounds can explore their ancestry, record and preserve their own family trees for future generations, thus adding their own “branch” to the family tree of the Jewish People.</p>
					</en>
					<he>
						<h2>מחפשים קרוב משפחה רחוק?</h2>
						<p><span class="subtitle">פשוט הקלידו באחד השדות למעלה וצאו למסע משפחתי מרתק!</span>
						במרוצת הדורות עברו משפחות יהודיות ממקום למקום. במקרים רבים הותירו מאחור נכסים, דברי-ערך, מזכרות ורשומות. למרבה הצער, רק לעתים רחוקות תיעדו וכתבו את תולדות המשפחה, ורשמי העבר נותרו רק בזיכרון. כיום אתם יכולים לתעד את המידע על משפחתכם במרכז לגנאלוגיה יהודית של בית התפוצות, ולהבטיח את שימורו של הסיפור המשפחתי לדורות הבאים.<br>
						המרכז לגנאלוגיה יהודית ע"ש דאגלס א. גולדמן הוא יחיד במינו בעולם. במאגר מליוני אנשים ועשרות אלפי עצי משפחה של משפחות יהודיות מקצווי תבל אשר נתרמו לבית התפוצות באופן ישיר ואישי, ללא התערבות חיצונית כלשהי. מבקרים יכולים לערוך חיפוש וגם להוסיף את עץ המשפחה שלהם. המידע במאגר עומד בתקן "חוק הגנת הפרטיות –התשמ"א". אשר על כן, חיפוש אנשים שנמצאים בין החיים הינו חלקי וכולל רק משתנים כמו מין, שם פרטי ושם משפחה.<br>
						מעל ל-5 מיליוני בני אדם כבר רשומים במרכז לגנאלוגיה יהודית בבית התפוצות, והמאגר גדל מדי יום ומדי שעה. מבקרים ממגוון מקומות ואורחות חיים באים להתחקות אחר שורשיהם, לתעד ולהנציח את עץ המשפחה שלהם עבור הדורות הבאים, ובכך הם מוסיפים עוד ענף לעץ הגדול של העם היהודי.</p>
					</he>
				</div>
				<img ng-src="/images/Ftrees-Photos_Start.jpg">
			</div>
			<div class="start__bottom">
				<img ng-src="/images/Ftrees-Photos_Support.jpg">
				<div class="start__bottom__text">
					<en><p><span class="subtitle">If you wish to help us pass on the Jewish story – now it is easier than ever.</span><br>
						Record any information you have about your family at the Jewish Genealogy Center in Beit Hatfutsot, thus insuring that future generations will have access to the information.<br>
						We invite you to add your family tree to our database. Your contribution will help us preserve the Jewish story and will enable future users to search for their roots and to complete the puzzle. It can also assist you and other users tracing long lost relatives and enhancing family ties at present.<br>
						<span class="emph">If you have already built a family tree</span>, <a href='http://www.bh.org.il/databases/jewish-genealogy/tool-kit-research/'>click here and learn how to upload it unto this website</a>.<br> 
						<span class="emph">If you have not yet formed your family tree</span>, you can easily do so using one of the following sites or soft wares. <a href='http://www.bh.org.il/databases/jewish-genealogy/tool-kit-research/'>Click here for information on forming your family tree</a>.</p>
					</en>
					<he>
						<p><span class="subtitle">מעוניינים לסייע לנו להמשיך לספר את הסיפור היהודי?</span><br>
						היום יותר מתמיד קל לתעד את המידע על משפחתכם במרכז לגנאלוגיה יהודית של בית התפוצות, ולהבטיח את שימורו של הסיפור המשפחתי לדורות הבאים.<br>
						אתם מוזמנים לתרום לבית התפוצות את העץ המשפחתי שלכם. תרומה זו תעזור לנו תבטיח את שימורו של הסיפור המשפחתי שלכם לדורות הבאים, ותסייע בהרכבת הפסיפס היהודי לדורותיו. תרומת העץ שלכם למאגר תסייע גם לכם ולאנשים נוספים באיתור קרובי משפחה אבודים וחיזוק הקשרים המשפחתיים הקיימים.<br>
						<span class="emph">יש לכם כבר עץ משפחתי?</span> <a href='http://www.bh.org.il/he/%D7%9E%D7%90%D7%92%D7%A8%D7%99%D7%9D-%D7%95%D7%90%D7%95%D7%A1%D7%A4%D7%99%D7%9D/%D7%92%D7%A0%D7%90%D7%9C%D7%95%D7%92%D7%99%D7%94-%D7%99%D7%94%D7%95%D7%93%D7%99%D7%AA/%D7%90%D7%A8%D7%92%D7%96-%D7%94%D7%9B%D7%9C%D7%99%D7%9D-%D7%A9%D7%9C%D7%9B%D7%9D/'>לחצו כאן כדי ללמוד איך להעלות אותו לאתר זה</a>.<br> 
						<span class="emph">אם טרם בניתם עץ משפחתי,</span> תוכלו לעשות זאת בקלות באחד מכמה אתרים או תוכנות: <a href='http://www.bh.org.il/he/%D7%9E%D7%90%D7%92%D7%A8%D7%99%D7%9D-%D7%95%D7%90%D7%95%D7%A1%D7%A4%D7%99%D7%9D/%D7%92%D7%A0%D7%90%D7%9C%D7%95%D7%92%D7%99%D7%94-%D7%99%D7%94%D7%95%D7%93%D7%99%D7%AA/%D7%90%D7%A8%D7%92%D7%96-%D7%94%D7%9B%D7%9C%D7%99%D7%9D-%D7%A9%D7%9C%D7%9B%D7%9D/'>למידע על בניית עץ משפחתי לחצו כאן</a>.</p>
					</he>
				</div>
			</div>
		</div>
		<div class="cards-title" ng-if="ftreesCtrl.individuals.items">
            <en><strong>{{ftreesCtrl.individuals.total}}</strong> Results found for <strong>{{ftreesCtrl.query}}</strong></en>
            <he>נמצאו <strong>{{ftreesCtrl.individuals.total}}</strong> תוצאות עבור <strong>{{ftreesCtrl.query}}</strong></he>
        </div>

		<div class="item-preview-wrapper">
			<person-preview  ng-repeat="individual in ftreesCtrl.individuals.items" 
							 sex="individual.G"
							 individual="individual">
			</person-preview>
			<div class="loader" ng-click="ftreesCtrl.fetch_more()" ng-if="ftreesCtrl.individuals.total>ftreesCtrl.individuals.items.length">
                <icon class="eye-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-447, -628]" hover-offset="[3, 61]"></icon>
                <icon class="eye-open-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-444, -567]"></icon>
                <div class="loader-desc">
                    <en><strong>More</strong><br></en>
                    <he>לראות עוד<br></he>
                    <span class="results-number">
                        <en>(+{{ftreesCtrl.individuals.total-ftreesCtrl.individuals.items.length}} results)</en>
                        <he>(+{{ftreesCtrl.individuals.total-ftreesCtrl.individuals.items.length}} תוצאות)</he>
                    </span>
                </div>
            </div>
		</div>
	</div>
</div>
