<div id="family-trees-container" ng-class="{'tree-view': ftreesCtrl.tree_view}">
	<div id="tree-sort">
		<div id="search-params">
			<form class="filters" name="filters" ng-class="{'filters--expanded': ftreesCtrl.advanced_search}">

				<div class="filters__general">
						<div class="title"> 
							<span class="title__arrow"></span>
							<h3 class="title__text">
								<en>Type in any field below<br>to start a new search</en>
								<he>לחיפוש נוסף הזינו טקסט בשדה אחד לפחות:</he>
							</h3>
						</div>

					<div class="filters__field">
						<div class="container">
							<label>
								<en>First Name</en>
								<he>שם פרטי</he>
							</label>
							<input type="text" ng-model="ftreesCtrl.search_params.first_name" placeholder="{{(lang=='en')?'Moshe, Liat...':'משה, ליאת...'}}">
						</div>
					</div>
					<filters-field class="filters__field" label-text-en="Last Name"
			                           label-text-he="שם משפחה" model="last_name" placeholder="{{(lang=='en')?'Cohen, Kafka...':'כהן, קפקא...'}}"></filters-field>
		            <ng-switch on="ftreesCtrl.advanced_search">
		            	<filters-field ng-switch-when="false" class="filters__field" label-text-en="Place of Birth / Marriage / Death" label-text-he="מקום לידה \ נישואין \ פטירה" model="marriage_place" placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}"></filters-field>

		            	<div ng-switch-when="true" class="filters__sex" >
							<label>
								<en>Sex</en>
								<he>מין</he>
							</label>
							<div class="filters__sex__choices">
								<input type="radio" name="sex" value="m" ng-model="ftreesCtrl.search_params.sex" id="choice-male" checked="checked">
								<label class="label-sex" for="choice-male">
									<en>Male</en>
									<he>זכר</he>
								</label>
								<input type="radio" name="sex" value="f" ng-model="ftreesCtrl.search_params.sex" id="choice-female">
								<label class="label-sex" for="choice-female">
									<en>Female</en>
									<he>נקבה</he>
								</label>
								<input type="radio" name="sex" value="n" ng-model="ftreesCtrl.search_params.sex" id="choice-nm">
								<label class="label-sex" for="choice-nm">
									<en>Never mind</en>
									<he>לא משנה</he>
								</label>
							</div>
						</div>
					</ng-switch>

		            <a href="" class="filters__expand" ng-click="ftreesCtrl.advanced_search = !ftreesCtrl.advanced_search">
		            	<en>More Fields</en>
		            	<he>פחות שדות</he>
		            </a>
		            <button class="filters__update" ng-click="ftreesCtrl.update()">
						<en>Search</en>
						<he>חיפוש</he>
					</button>
					<a href="" class="filters__clear" ng-click="ftreesCtrl.clear_filters()" ng-if="ftreesCtrl.advanced_search">
						<en>Clear</en>
						<he>ניקוי</he>
					</a>
				</div>

				<div class="filters__advanced">

					<div class="filters__advanced__head">
						<div class="about-bh">
			                <div class="about-collection-title">
			                    <span ng-click="ftreesCtrl.read_about_center('familyTree')">
			                        <en>About <a class="linked">Douglas E. Goldman Jewish<br>Genealogy Center databases</a></en>
			                        <he>אודות <a class="linked">המרכז לגנאלוגיה יהודית<br>ע"ש דגלס א. גולדמן</a></he>
			                    </span>
			                </div>
			            </div>
					</div>
					<div class="pic-wpapper" ng-if="!ftreesCtrl.advanced_search">
						<img ng-src="/images/Ftrees-Photos_Eng+Heb3.jpg">
					</div>
					<div class="advanced-filters" ng-if="ftreesCtrl.advanced_search">
						<div class="col2">
							<filters-field class="filters__field" label-text-en="Place of Birth" label-text-he="מקום לידה" model="birth_place" placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}"></filters-field> <!-- placeholder="{{(lang=='en')?'Tel-Aviv, Israel...':'תל-אביב, ישראל...'}}" -->
							<filters-field class="filters__field" label-text-en="Place of Marriage" label-text-he="מקום נישואין" model="marriage_place" placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}"></filters-field>
							<filters-field class="filters__field" label-text-en="Place of Death" label-text-he="מקום פטירה" model="death_place" placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}"></filters-field>
						</div>

						<div class="col3">
							<filters-fudge class="filters__fudge-field" label-text-en="Year of Birth" label-text-he="שנת לידה" model="birth_year" placeholder="1948.."></filters-fudge>
							<filters-fudge class="filters__fudge-field" label-text-en="Year of Marriage" label-text-he="שנת נישואין" model="marriage_year" placeholder="1948.."></filters-fudge>
							<filters-fudge class="filters__fudge-field" label-text-en="Year of Death" label-text-he="שנת פטירה" model="death_year" placeholder="1948.."></filters-fudge>
							<div class="filters__field">
								<div class="container">
									<label>
										<icon position="[-29, -69]" class="tree-icon"></icon>
										<en>Tree s/n Number</en>
										<he>מספר סידורי של העץ</he>
									</label>
									<input type="text" ng-model="ftreesCtrl.search_params.filters_tree_number" placeholder="12345">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="item-preview-wrapper">
			<person-preview   ng-repeat="individual in ftreesCtrl.individuals |limitTo: 14" 
							 sex="individual.G"
							 individual="individual">
			</person-preview>
			<!-- <div class="loader" ng-click="generalSearchCtrl.fetch_more()" ng-if="generalSearchCtrl.results.total>generalSearchCtrl.results.hits.length">
                <icon class="eye-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-447, -628]" hover-offset="[3, 61]"></icon>
                <icon class="eye-open-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-444, -567]"></icon>
                <div class="loader-desc">
                    <en><strong>More</strong><br></en>
                    <he>לראות עוד<br></he>
                    <span class="results-number">
                        <en>(+{{generalSearchCtrl.results.total-generalSearchCtrl.results.hits.length}} results)</en>
                        <he>({{generalSearchCtrl.results.total-generalSearchCtrl.results.hits.length}} תוצאות)</he>
                    </span>
                </div>
            </div> -->
		</div>
		<!-- <div class="results">
			<table class="results__individuals">
				<thead>
					<tr>
						<th class="first-name" ng-click="ftreesCtrl.sort('FN')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['FN']">
							<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'FN'"></span>
							<div tree-view class="column-title">
								<en>First<br>Name</en>
								<he>שם<br>פרטי</he>
							</div>
						</th>
						<th class="last-name" ng-click="ftreesCtrl.sort('LN')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['LN']">
							<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'LN'"></span>
							<div>
								<en>Last<br>Name</en>
								<he>שם<br>משפחה</he>
							</div>
						</th>
						<th class="birth-place" ng-click="ftreesCtrl.sort('BP')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['BP']" ng-class="{'th--selected': ftreesCtrl.sorted_by == 'BP'}">
							<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'BP'"></span>
							<div class="column-title">
								<en>Birth<br>Place</en>
								<he>מקום<br>לידה</he>
							</div>
						</th>
						<th class="birth-data" ng-click="ftreesCtrl.sort('BD')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['BD']" ng-class="{'selected': ftreesCtrl.sorted_by == 'BD'}">
							<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'BD'"></span>
							<div class="column-title">
								<en>Birth<br>Date</en>
								<he>תאריך<br>לידה</he>
							</div>
						</th>
						<th class="marriage-place" ng-click="ftreesCtrl.sort('MP')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['MP']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'MP'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'MP'"></span>
								<en>Marriage<br>Place</en>
								<he>מקום<br>נישואין</he>
							</div>
						</th>
						<th class="marriage-date" ng-click="ftreesCtrl.sort('MD')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['MD']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'MD'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'MD'"></span>
								<en>Marriage<br>Date</en>
								<he>תאריך<br>נישואין</he>
							</div>
						</th>
						<th class="death-place" ng-click="ftreesCtrl.sort('DP')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['DP']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'DP'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'DP'"></span>
								<en>Death<br>Place</en>
								<he>מקום<br>פטירה</he>
							</div>
						</th>
						<th class="death-date" ng-click="ftreesCtrl.sort('DD')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['DD']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'DD'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'DD'"></span>
								<en>Death<br>Date</en>
								<he>תאריך<br>פטירה</he>
							</div>
						</th>
						<th class="sex" ng-click="ftreesCtrl.sort('G')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['G']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'G'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'G'"></span>
								<en>Sex</en>
								<he>מין</he>
							</div>
						</th>
						<th class="tree-number" ng-click="ftreesCtrl.sort('GTN')" ng-switch on="ftreesCtrl.sorted_by" ng-show="ftreesCtrl.column_status['GTN']">
							<div class="column-title" ng-class="{'selected': ftreesCtrl.sorted_by == 'GTN'}">
								<span class="thArrowDown" ng-if="ftreesCtrl.sorted_by == 'GTN'"></span>
								<en>Tree<br>Number</en>
								<he>מספר<br>עץ</he>
							</div>
						</th>
					</tr>
				</thead>

				<tbody ng-hide="ftreesCtrl.individuals.isEmpty()">
					<tr ng-repeat="indi in ftreesCtrl.individuals.slice(ftreesCtrl.display_from_result) | limitTo: ftreesCtrl.results_per_page"
            ng-class="{dark: $index % 2 !== 0, selected: ftreesCtrl.is_selected(indi)}">
						<td class="first-name" ng-show="ftreesCtrl.column_status['FN']">
							{{indi.FN}}
						</td>
						<td class="last-name" ng-show="ftreesCtrl.column_status['LN']">
							{{indi.LN}}
							<span class="last-name-arrow"></span>
						</td>
						<td class="birth-place" ng-show="ftreesCtrl.column_status['BP']">
							{{indi.BP}}
						</td>
						<td class="birth-date" ng-show="ftreesCtrl.column_status['BD']">
							{{indi.BD}}
						</td>
						<td class="marriage-place" ng-show="ftreesCtrl.column_status['MP']">
							{{indi.MP}}
						</td>
						<td class="marriage-date" ng-show="ftreesCtrl.column_status['MD']">
							{{indi.MD}}
						</td>
						<td class="death-place" ng-show="ftreesCtrl.column_status['DP']">
							{{indi.DP}}
						</td>
						<td class="death-date" ng-show="ftreesCtrl.column_status['DD']">
							{{indi.DD}}
						</td>
						<td class="sex" ng-show="ftreesCtrl.column_status['G']">
							{{indi.G}}
						</td>
						<td class="tree-number" ng-show="ftreesCtrl.column_status['GTN']">
             <a ng-href="{{ftreesCtrl.get_href(indi)}}">
              {{indi.GTN}}
          </a></td>
					</tr>
				</tbody>
			</table>

			<div class="results__more-columns" dropdown is-open="ftreesCtrl.more_columns_menu">
				<div class="results__more-columns__trigger" dropdown-toggle ng-if="!(ftreesCtrl.tree_view)">
					<en><icon class="results__more-columns__trigger__icon" position="[-195, -665]"></icon></en>
					<he><icon class="results__more-columns__trigger__icon" position="[-194, -684]"></icon></he>
					<div>
						<en>More</en>
						<he>עוד</he>
					</div>
				</div>			
				<div class="results__more-columns__menu" ng-click="ftreesCtrl.prevent_dropdown_close($event)">
					<div class="results__more-columns__menu__title">
						<en>Choose what columns to display (up to 6)</en>
						<he>בחר אלו עמודות להציג (עד 6)</he>
					</div>
					<div class="results__more-columns__menu__row" ng-repeat="(key, val) in ftreesCtrl.column_status">
						<label id="fancyArrow-label" for="{{key}}-check" class="results__more-columns__menu__row__fancyArrow" ng-class="{selected:ftreesCtrl.column_status[key]}"></label>
						<input type="checkbox"  ng-model="ftreesCtrl.column_status[key]" id="{{key}}-check">
						<label for="{{key}}-check" class="results__more-columns__menu__row__desc">{{ftreesCtrl.key_map[key][lang]}}</label>
					</div>
				</div>
			</div>

			<div class="results__people-arrow" ng-show="ftreesCtrl.individuals.isEmpty() && filters.$pristine">
				<en>
					<div class="results__people-arrow__text">
						<div class="results__people-arrow__text__title">
							Nothing here yet
						</div>
						Start your search<br>
						by filling out some of the fields to the left<br>
						and gradually add more to refine your search
					</div>
					<img src="images/arrow_people.png">
				</en>
				<he>
					<div class="results__people-arrow__text">
						<div class="results__people-arrow__text__title">
							אין מה לראות עדיין
						</div>
						התחילו את החיפוש שלכם<br>
						על ידי מילוי השדות מימין<br>
						וזקקו את התוצאות בהדרגה
					</div>
					<img src="images/arrow_people_he.png">
				</he>
			</div>

			<div class="results__per-page" ng-hide="ftreesCtrl.individuals.isEmpty()">
				<span class="results__per-page__paginator">
					<button href="" class="results__per-page__paginator__arrow" ng-click="ftreesCtrl.prev_page()">
						<en><icon class="results__per-page__paginator__arrow__icon" position="[-234, -684]"></icon></en>
						<he><icon class="results__per-page__paginator__arrow__icon" position="[-235, -665]"></icon></he>
					</button>
					<en>Page {{ftreesCtrl.current_page}} of {{ftreesCtrl.page_count}}</en>
					<he>Page {{ftreesCtrl.current_page}} of {{ftreesCtrl.page_count}}</he>
					<button href="" class="results__per-page__paginator__arrow" ng-click="ftreesCtrl.next_page()">
						<en><icon class="results__per-page__paginator__arrow__icon" position="[-235, -665]"></icon></en>
						<he><icon class="results__per-page__paginator__arrow__icon" position="[-234, -684]"></icon></he>
					</button>
				</span>

				<span class="results__per-page__selector">
					<label for="individuals-per-page">
						<en>Results Per Page:</en>
						<he>תוצאות לעמוד:</he>
					</label>
					<select id="individuals-per-page" ng-model="ftreesCtrl.results_per_page">
						<option ng-repeat="i in [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]" ng-if="i < ftreesCtrl.individuals.length || i === 5">{{i}}</option>
					</select>
					<span class="results__per-page__selector__fancyArrow">
						<icon  class="results__per-page__selector__fancyArrow__selectbox-icon" position="[-217, -661]"></icon>
					</span>
				</span>

				<span class="results__per-page__go-to-page">
					<label class="results__per-page__go-to-page__label">
						<en>Go to Page</en>
						<he>Go to Page</he>
					</label>
					<input type="text" class="results__per-page__go-to-page__number" ng-model="ftreesCtrl.candidate_page">
					<div class="results__per-page__go-to-page__go-button" ng-click="ftreesCtrl.go_to_page(ftreesCtrl.candidate_page)">
						<en><icon class="goToPage_icon" position="[-272, -665]" ng-click="ftreesCtrl.go_to_page(ftreesCtrl.candidate_page)" ></icon></en>
						<he><icon class="goToPage_icon" position="[-271, -684]" ng-click="ftreesCtrl.go_to_page(ftreesCtrl.candidate_page)"></icon></he>
						<span class="goToPage_go-text" ng-click="ftreesCtrl.go_to_page(ftreesCtrl.candidate_page)">
							<en>GO</en>
							<he>GO</he>
						</span>
					</div>
				</span>
			</div>
			<button class="BackToSearch" ng-click="ftreesCtrl.back_to_search_filters()" ng-if="ftreesCtrl.tree_view" ng-hide="ftreesCtrl.individuals.isEmpty()">
				<en>Back to Search Filters</en>
				<he>Back to Search Filters</he>
			</button>
		</div> -->
		<ui-view></ui-view>
	</div>
</div>
