<div id="ftree-item-container">
	<div id="ftree-item">
		<div class="ftree-title">
			<icon class="ftree-title__tree-icon" position="[-84, -439]"></icon>
			<en> {{ftreeItemCtrl.individual.last_name + " "}}Family Tree - {{ftreeItemCtrl.tree_number}}</en>
			<he>עץ המשפחה</he>
			<icon class="ftree-title__print-icon" position="[-83, -643]" ng-click="ftreeItemCtrl.print()" ng-class="{'relocate': !ftreeItemCtrl.previous_state}"></icon>
			<span ng-if="ftreeItemCtrl.from_ftree_view">
				<div class="ftree-title__back" ng-click="ftreeItemCtrl.back()">
					<icon class="ftree-title__back__back-icon" position="[-84, -491]"></icon>
					<span class="ftree-title__back__back-text"><en>Back</en><he>חזור</he></span>	
				</div>
			</span>
		</div>
		<div id="mjs-widget-container">
			<mjs-widget item="ftreeItemCtrl.individual"></mjs-widget>
		</div>
		<span class="balylonLogo" ng-if="ftreeItemCtrl.get_contributor_path()">
			<span class="balylonLogo__desc">
				<en>Family tree contributed by</en>
				<he>עץ משפחה נתרם על ידי</he>
			</span>
			<img ng-src="{{ftreeItemCtrl.get_contributor_path()}}">
		</span>
		<div id="ftree-layout-container">
			<div id="ftree-layout">
				<subtree individual="ftreeItemCtrl.individual"></subtree>
			</div>
		</div>
	</div>
</div>