<div id="family-trees-container" ng-class="{'tree-view': ftreesCtrl.tree_view}">
	<div id="tree-sort">
		<div id="search-params">
			<form class="filters" name="filters" ng-class="{'filters--expanded': ftreesCtrl.advanced_search}">
				<div class="filters__general">
						<div class="title"> 
							<span class="title__arrow"></span>
							<h3 class="title__text">
								<en>Type in any field below<br>to start a new search</en>
								<he>לחיפוש נוסף הזינו טקסט בשדה אחד לפחות:</he>
							</h3>
						</div>

					<div class="filters__field">
						<div class="container">
							<label>
								<en>First Name</en>
								<he>שם פרטי</he>
							</label>
							<input type="text" ng-model="ftreesCtrl.search_params.first_name" placeholder="{{(lang=='en')?'Moshe, Liat...':'משה, ליאת...'}}">
						</div>
					</div>
					<filters-field  class="filters__field" 
									label-text-en="Last Name"
			                        label-text-he="שם משפחה"
			                        model="last_name"
			                        placeholder="{{(lang=='en')?'Cohen, Kafka...':'כהן, קפקא...'}}">
                    </filters-field>
		            <ng-switch on="ftreesCtrl.advanced_search">
		            	<filters-field  ng-switch-when="false"
		            					class="filters__field"
		            					label-text-en="Place of Birth / Marriage / Death"
		            					label-text-he="מקום לידה \ נישואין \ פטירה"
		            					model="marriage_place"
		            					placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
        				</filters-field>

		            	<div ng-switch-when="true" class="filters__sex" >
							<label>
								<en>Sex</en>
								<he>מין</he>
							</label>
							<div class="filters__sex__choices">
								<input type="radio" name="sex" value="m" ng-model="ftreesCtrl.search_params.sex" id="choice-male" checked="checked">
								<label class="label-sex" for="choice-male">
									<en>Male</en>
									<he>זכר</he>
								</label>
								<input type="radio" name="sex" value="f" ng-model="ftreesCtrl.search_params.sex" id="choice-female">
								<label class="label-sex" for="choice-female">
									<en>Female</en>
									<he>נקבה</he>
								</label>
								<input type="radio" name="sex" value="n" ng-model="ftreesCtrl.search_params.sex" id="choice-nm">
								<label class="label-sex" for="choice-nm">
									<en>Never mind</en>
									<he>לא משנה</he>
								</label>
							</div>
						</div>
					</ng-switch>

		            <a href="" class="filters__expand" ng-click="ftreesCtrl.advanced_search = !ftreesCtrl.advanced_search">
		            	<ng-switch on="ftreesCtrl.advanced_search">
			            	<span ng-switch-when="false">
			            		<en>More Fields</en>
			            		<he>עוד שדות</he>
		            		</span>
		            		<span ng-switch-when="true">
			            		<en>Less Fields</en>
			            		<he>פחות שדות</he>
		            		</span>
	            		</ng-switch>
		            </a>
		            <button class="filters__update" ng-click="ftreesCtrl.update()">
						<en>Search</en>
						<he>חיפוש</he>
					</button>
					<a href="" class="filters__clear" ng-click="ftreesCtrl.clear_filters()" ng-if="ftreesCtrl.advanced_search">
						<en>Clear</en>
						<he>ניקוי</he>
					</a>
				</div>

				<div class="filters__advanced">

					<div class="filters__advanced__head">
						<div class="about-bh">
			                <div class="about-collection-title">
			                    <span ng-click="ftreesCtrl.read_about_center('familyTree')">
			                        <en>About <a class="linked">Douglas E. Goldman Jewish<br>Genealogy Center databases</a></en>
			                        <he>אודות <a class="linked">המרכז לגנאלוגיה יהודית<br>ע"ש דגלס א. גולדמן</a></he>
			                    </span>
			                </div>
			            </div>
					</div>
					<div class="pic-wpapper" ng-if="!ftreesCtrl.advanced_search">
						<img ng-src="/images/Ftrees-Photos_Eng+Heb3.jpg">
					</div>
					<div class="advanced-filters" ng-if="ftreesCtrl.advanced_search">
						<div class="col2">
							<filters-field class="filters__field"
											label-text-en="Place of Birth"
											label-text-he="מקום לידה"
											model="birth_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
							<filters-field class="filters__field"
											label-text-en="Place of Marriage"
											label-text-he="מקום נישואין"
											model="marriage_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
							<filters-field class="filters__field" 
											label-text-en="Place of Death"
											label-text-he="מקום פטירה"
											model="death_place"
											placeholder="{{lang == 'en'?'Tel-Aviv, Israel...':'תל-אביב, ישראל'}}">
							</filters-field>
						</div>

						<div class="col3">
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Birth"
											label-text-he="שנת לידה"
											model="birth_year"
											placeholder="1948..">
							</filters-fudge>
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Marriage"
											label-text-he="שנת נישואין"
											model="marriage_year"
											placeholder="1948..">
							</filters-fudge>
							<filters-fudge class="filters__fudge-field"
											label-text-en="Year of Death"
											label-text-he="שנת פטירה"
											model="death_year"
											placeholder="1948..">
							</filters-fudge>
							<div class="filters__field">
								<div class="container">
									<label>
										<icon position="[-29, -69]" class="tree-icon"></icon>
										<en>Tree s/n Number</en>
										<he>מספר סידורי של העץ</he>
									</label>
									<input type="text" ng-model="ftreesCtrl.search_params.filters_tree_number" placeholder="12345">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="cards-title" ng-if="ftreesCtrl.query">
            <en><strong>{{ftreesCtrl.individuals.total}}</strong> Results found for <strong>{{ftreesCtrl.query}}</strong></en>
            <he>נמצאו <strong>{{ftreesCtrl.individuals.total}}</strong> תוצאות עבור <strong>{{ftreesCtrl.query}}</strong></he>
        </div>

		<div class="item-preview-wrapper">
			<person-preview  ng-repeat="individual in ftreesCtrl.individuals.items" 
							 sex="individual.G"
							 individual="individual">
			</person-preview>
			<div class="loader" ng-click="ftreesCtrl.fetch_more()" ng-if="ftreesCtrl.individuals.total>ftreesCtrl.individuals.items.length">
                <icon class="eye-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-447, -628]" hover-offset="[3, 61]"></icon>
                <icon class="eye-open-icon" alt-text="{en: 'See more', he: 'לראות עוד'}" position="[-444, -567]"></icon>
                <div class="loader-desc">
                    <en><strong>More</strong><br></en>
                    <he>לראות עוד<br></he>
                    <span class="results-number">
                        <en>(+{{ftreesCtrl.individuals.total-ftreesCtrl.individuals.items.length}} results)</en>
                        <he>(+{{ftreesCtrl.individuals.total-ftreesCtrl.individuals.items.length}} תוצאות)</he>
                    </span>
                </div>
            </div>
		</div>
	</div>
</div>
