<div class="individual" ng-click="goto_ftree_item(individual.id, treeNumber)" ng-class="{'individual--female': individual.sex === 'F'}">
	<ng-switch on="individual.sex">
		<div class="individual__icon" ng-switch-when="M">
			<icon position="[-198, -408]" alt-text="{en: 'Male', he: 'זכר'}"></icon>
		</div>
		<div class="individual__icon" ng-switch-when="F">
			<icon position="[-197, -473]" alt-text="{en: 'Female', he: 'נקבה'}"></icon>
		</div>
	</ng-switch>
	<div class="individual__name">
		{{individual.name}}
	</div>
	<div class="individual__dates" ng-class="{'individual__dates--female': individual.sex === 'F'}">
		{{individual.birth_year}}
		<span ng-if="!individual.is_alive()">
			{{individual.death_year}}
		</span>
	</div>
</div>