<div id="ftree-node-details" ng-show="ctrl.detailsShown">
  <div class="header">
    <en>Details:</en>
    <he>פרטים נוספים:</he>
    <div class="pull-right">
      <a ng-click="ctrl.detailsShown=false">X</a>
    </div>
  </div>
  <div class="body">
    <h3 ng-show="ctrl.node.tree.NAME_GIVN">
      <en>First Name</en>
      <he>שם פרטי</he>
    </h3>
    {{ctrl.node.tree.NAME_GIVN}}
    <h3 ng-show="ctrl.node.tree.NAME_SURN">
      <en>Family Name</en>
      <he>שם משפחה</he>
    </h3>
    {{ctrl.node.tree.NAME_SURN}}
    <h3>
      <en>Sex</en>
      <he>מין</he>
    </h3>
    <span ng-if="ctrl.node.tree.sex=='M'">
      <en>Male</en>
      <he>זכר</he>
    </span>
    <span ng-if="ctrl.node.tree.sex=='F'">
      <en>Female</en>
      <he>נקבה</he>
    </span>
    <h3 ng-show="ctrl.node.tree.BIRT_DATE">
      <en>Date of Birth</en>
      <he>תאריך לידה</he>
    </h3>
    {{ctrl.node.tree.BIRT_DATE}}
    <h3 ng-show="ctrl.node.tree.BIRT_PLAC">
      <en>Place of Birth</en>
      <he>מקום לידה</he>
    </h3>
    {{ctrl.node.tree.BIRT_PLAC}}
    <h3 ng-show="ctrl.node.tree.MARR_DATE">
      <en>Date of Marriage</en>
      <he>תאריך חתונה</he>
    </h3>
    {{ctrl.node.tree.MARR_DATE}}
    <h3 ng-show="ctrl.node.tree.MARR_PLAC">
      <en>Place of Marriage</en>
      <he>מקום חתונה</he>
    </h3>
    {{ctrl.node.tree.MARR_PLAC}}
    <h3 ng-show="ctrl.node.tree.DEAT_DATE">
      <en>Date of Death</en>
      <he>תאריך פטירה</he>
    </h3>
    {{ctrl.node.tree.DEAT_DATE}}
    <h3 ng-show="ctrl.node.tree.DEAT_PLAC">
      <en>Place of Death</en>
      <he>מקום פטירה</he>
    </h3>
    {{ctrl.node.tree.DEAT_PLAC}}
    <h3 ng-show="ctrl.node.tree.OCCU">
      <en>Occupation</en>
      <he>מקצוע</he>
    </h3>
      {{ctrl.node.tree.OCCU}}
    <h3 ng-show="ctrl.node.tree.NOTE">
      <en>Notes</en>
      <he>הערות</he>
    </h3>
      {{ctrl.node.tree.NOTE}}
    </div>
</div>

