<div class="ftrees-modal">
   <!--  <img ng-src="images/Ftrees-Photos_Modal_Dialog.jpg"> -->
    <div class="xsign" ng-click="cancel()">x</div>
    <div class="msg_logo_wrapper">
        <div class="ftrees-modal__msg">
            <en>        
                <p><h2>Before you dive in…</h2> here are important things about genealogy:<br><p>
                <p><span>The information here is displayed in a family tree format.</span> These generally include names, birth dates, relationships between family members (who were the parents of whom, how many children a family member had, etc.) and more.</p>
                <p>Searching for a family member? You might find a relative in a tree that was contributed to us by another user. You might even find a tree that you yourself donated in the past, as our database is over 30 years old and is one of <span>the largest and most comprehensive collaborative Jewish genealogical databases in the world.</span></p>
                <p>Not looking for anyone in particular? Simply browse the family trees of<br> interesting people, such as <a ng-href="{{go_to_tree('3372', 'I476')}}" target="_self">this one.</a></p>
                <p><span>We are committed to privacy and operate under the Israeli Protection of<br> Privacy Law</span> of 1981. For this reason, we only display partial information about<br> living individuals.</p>
                <p>You can find out more in the Tips section in the main search form of the<br> family trees section.</p>
            </en>
            <he>
                <h2>שנייה לפני שאתם צוללים פנימה...</h2><p>חשוב לנו לספר לכם כמה דברים על מאגר העצים של בית התפוצות:<br>
                <span>המאגר מכיל מידע על אנשים בצורה של עצי משפחה</span>. לרוב המידע כולל שמות, תאריכי לידה ופטירה, מקומות לידה ופטירה, ותצוגת יחסים בין בני במשפחה (מי הורה של מי, מי אחים, למי אנשים נשואים וכו').</p>
                <p>כאן תוכלו למצוא את עצמכם או את בני משפחתכם בעצי משפחה שנתרמו לנו, או סתם לצפות בעצים של אנשים מעניינים, כמו העץ הזה למשל, של <a ng-href="{{go_to_tree('8888', 'I59594')}}" target="_self">משה מנדלסון</a>. אולי אפילו תמצאו כאן את העץ שאתם תרמתם לנו בעבר, מכיוון שהמאגר שלנו קיים כבר יותר מ-30 שנה, <span>והוא המאגר הגדול והאיכותי ביותר של עצי משפחה יהודיים בעולם</span>.</p>
                <p><span>אנחנו מחויבים לשמירה על פרטיות</span>, ופועלים על פי <a>חוק הגנת הפרטיות, תשמ"א-1981</a>, וכן על פי פסיקות בתי המשפט. לכן אין באפשרותנו להציג מידע מלא על אנשים חיים, למעט שמם ומינם.</p>
                <p>יש עוד דברים שחשוב לנו לספר לכם, אבל אותם תוכלו למצוא תחת הכותרת "טיפים", והם מופיעים ליד טופס החיפוש המרכזי בעמוד הראשי של עצי משפחה.</p>
            </he>
        </div>
        <div class="ftrees-modal__logo">
            <en>
              <icon alt-text="{en: 'Home', he: 'בית'}" position="[-314, -636]"></icon>
            </en>
            <he><icon alt-text="{en: 'Home', he: 'בית'}" position="[-306, -575]"></icon></he>
        </div>
    </div>
   <!--  <div class="ftrees-modal-hintbox-wrapper">
        <div class="ftrees-modal__hintbox">
            <div class="ftrees-modal__hintbox__title">
                <div class="arrow-left"></div>
                <div class="arrow-right"></div>
                <span>
                    <en>Helpful Hint</en>
                    <he>טיף קטן</he>
                </span>
            </div>
            <div class="ftrees-modal__hintbox__hint">
                <span>
                    <en>For additional results, try searching in different language.</en>
                    <he>כדי לקבל יותר תוצאות, מומלץ לחפש בעצים גם באנגלית</he>
                </span>
            </div>
        </div>
    </div> -->
    <div class="ftrees-modal__btns">
        <button class="ftrees-modal__btns__dismiss" ng-click="dismiss()">
            <en>Got it, thanks. Don't show this again</en>
            <he>הבנתי, תודה. אל תראו לי את ההודעה הזאת יותר</he>
        </button>
        <button class="ftrees-modal__btns__cancel" ng-click="cancel()">
            <en>Close</en>
            <he>סריגה</he>
        </button>
    </div>
    <div class="ftrees-modal__desc">
        <span>
            <en>A Family of Jewish immigrants arrive in the USA, New York, USA 1950s. Photo: Herbert Sonnenfeld.(Beth Hatefutsoth Photo Archive, Sonnenfeld collection)</en>
            <he>משפחת מהגרים יהודים מגיעה לארה"ב. ניו יורק שנות 1950</he>
        </span>
    </div>
</div>