<div id="ftree-item-container">
	<div id="ftree-item">
		<div class="ftree-title">
			<icon class="ftree-title__people-icon" position="[-166, -451]"></icon>
      <h3>
        <en>People in this tree:</en>
        <he>מספר אנשים בעץ זה:</he>
      </h3>
      <h2>{{ctrl.node.tree.meta.num_nodes || "..." }}</h2>
			<icon class="ftree-title__tree-icon" position="[-145, -451]"></icon>
      <h3>
        <en>Tree ID number:</en>
        <he>מספר סידורי של העץ</he>
      </h3>
      <h2>{{ctrl.tree_number}}</h2>
      <h3 ng-if="ctrl.tree.node.meta.date">
        <en>This tree uploaded in:</en>
        <he>העץ עודכן בשנת:</he>
      </h3>
      <h2>{{ctrl.tree.node.meta.date|date:'yyyy' || "..."}}</h2>

      <div class="pull-right">
        <h3>
          <en>Share this item:</en>
          <he>שתפו:</he>
        </h3>
        <icon class="facebook-icon" position="[-271, -443]"></icon>
        <icon class="twitter-icon" position="[-305, -443]"></icon>
        <icon class="mail-icon" position="[-340, -443]"></icon>
			  <!-- TODO: allow the user to add this to his story
          <mjs-widget item="ctrl.individual"></mjs-widget>
        -->
        <div class="ftree-title__back" ng-click="ctrl.$state.go('persons', ctrl.ftrees_search_params)">
          <icon class="ftree-title__back-icon" position="[-313, -700]"></icon>
          <h3>
            <en>Exit Tree</en>
            <he>ליציאה מהעץ</he>
          </h3>
        </div>
      </div>

		</div>
		<div class="babylonLogo" ng-if="ctrl.get_contributor_path()">
			<span class="babylonLogo__desc">
				<en>Family tree contributed by</en>
				<he>עץ משפחה נתרם על ידי</he>
			</span>
			<img ng-src="{{ctrl.get_contributor_path()}}">
		</div>
		<div ng-if="ctrl.individual_count">
			This tree contains {{ctrl.individual_count}} individuals, click on any of them to navigate the tree.
		</div>
		<div id="ftree-layout-container">
      <ng-include src="'templates/main/ftrees/node-details.html'"></ng-include>
      <div id="ftree-layout" ng-init="ctrl.mousePressed=false"
        ng-mousedown="ctrl.mouseDown($event)"
        ng-mousemove="ctrl.pan($event)">
        <svg class="vertices"></svg>
        <div class="nodes"></div>
				<!-- subtree individual="ctrl.individual"></subtree -->
			</div>
		</div>
	</div>
</div>
