<a ui-sref="person-view({tree_number: individual.GTN, node_id: individual.II})" class="person-preview">
    <div class="top">
        <div class="tree-num">
            <div class="tree-num__title">
                <en>Tree number</en>
                <he>מספר עץ</he>
            </div>
            <div class="tree-num__num">{{individual.GTN}}</div>
        </div>
        <div class="family parents" title="{{individual.tree.parents[0].name[0] + ' & ' + individual.tree.parents[1].name[0]}}" ng-if="individual.tree.parents[0].name[0]&&individual.tree.parents[1].name[0]">
            <div class="family__members">{{individual.tree.parents[0].name[0]}} & {{individual.tree.parents[1].name[0] }}</div>
            <div class="family__title">
                <en>Parents</en>
                <he>הורים</he>
            </div>
        </div>
        <div class="add-to-story"></div>
    </div>
    <div class="node" ng-class="{'node--f': sex === 'F', 'node--m' : sex == 'M'}">
        <ng-switch on="sex">
            <div class="avatar" ng-switch-when="M">
                <icon position="[-197, -404]" alt-text="{en: 'Male', he: 'זכר'}"></icon>
            </div>
            <div class="avatar" ng-switch-when="F">
                <icon position="[-197, -473]" alt-text="{en: 'Female', he: 'נקבה'}"></icon>
            </div>
            <div class="avatar" ng-switch-when="U">
                <icon position="[-197, -541]" alt-text="{en: 'Unknown', he: ''}"></icon>
            </div>
        </ng-switch>
        <div class="preview-data" title="{{person_info}}">
            <div class="name">
               <put-value value="individual.FN + ' ' + individual.LN"></put-value><br>
            </div>
            <div class="data-preview">
                {{person_info}}
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="family children" title="{{children}}" ng-if="children && individual.tree">
            <ng-switch on="children_num">
                <div ng-switch-when="1" class="family__title">
                    <en>1 Child</en>
                    <he>1 ילד</he>
                </div>
                <div ng-switch-default class="family__title">
                    <en>{{children_num + " "}}Children</en>
                    <he>{{children_num + " "}}ילדים</he></div>
            </ng-switch>
            <div class="family__members">{{children}}</div>
        </div>
    </div>
</a>
