%xsign {
	position: absolute;
	top: 14px;
	width: 22px;
	height: 22px;
	@include hover-pointer();

	.en & {
		right: 14px;
	}
	.he & {
		left: 14px;
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0;
	@include transition(all, 0.8s, ease-in);

	&.fade.in {
		opacity: 0.7;
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: url(/images/X.png) 0 0, pointer; 	
	.modal-sm { width: 630px; }
	.modal-m { width: 800px; }
	.modal-lg { width: 90%; }
	.modal-ftree {
		width: 1003px;
		height: 846px;
	}

	.modal-dialog {
		position: relative;
		margin: 1% auto;
		overflow: hidden;
		background: #fefefe;
		cursor: default;

		.ftrees-modal {
			background-image: url(/images/Ftrees-Photos_Modal_Dialog.jpg);
			background-repeat: no-repeat;
			width: 1003px;
			height: 820px;
			padding: 20px 20px;

			.msg_logo_wrapper {
				width: 100%;
				margin-bottom: 10px;
				height: 380px;
			}		

			&__msg {
				color: $gray3;
				float: left;

				.en & {
					width: 790px;
				}

				.he & {
					width: 590px;
				}

				a {
					color: inherit;
				}

				p {

					.en & {
						margin-top: -16px;
						margin-bottom: 20px;	
					}
				    
				}

				p > span {
					color: $red3;
				}

				h2 {
				    margin-top: 0;

				    .en & {
				    	line-height: 0;
				    	font-weight: 600;
				    	display: inline-block;
				    }

				    .he & {
				    	font-weight: normal;
				    	margin-bottom: 0;
				    }
				}
			}

			&__logo {

				float: right;

                .en & {
                    width: 114px;
                    height: 57px;
                }
                .he & {
                    width: 126px;
                    height: 57px;
                }
			}

			.ftrees-modal-hintbox-wrapper {
				display: block;
				width: 590px;
				margin-bottom: 26px;
				float: left;
			}

			&__hintbox {
				position: relative;
				width: 214px;
				font-size: 12px;
				font-weight: 600;
				@include border-radius(10px);
				@include box-shadow(0px 0px 2px 2px #d4d6d5);

				.en & {
					left: 214px;
				}
				.he & {
					float: left;
					left: 60px;
				}

				&__title {
					text-align: center;
					background-color: $gray4; 
					color: #fff;
    				line-height: 1;
    				border-top-left-radius: 10px;
    				border-top-right-radius: 10px;
    				padding: 3px 6px;

    				.arrow-left, .arrow-right {
						width: 0;
						height: 0;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
					} 

					.arrow-left {
						border-right: 10px solid #fff;
						float: left;
					}

					.arrow-right {
						border-left: 10px solid #fff;
						float: right;
					}
				}

				&__hint {
					color: $gray3;
					background-color: $gray6;
					padding: 10px 10px;
    				border-bottom-left-radius: 10px;
    				border-bottom-right-radius: 10px;
				}
			}

			&__btns {
				display: flex;
				justify-content: space-between;

				.en & {
					width: 410px;
				}
				.he & {
					width: 500px;
					float: left;
				}
				
				&__dismiss, &__cancel {
					line-height: 2;
					color: #fff;	
					padding: 0 10px;
    				font-size: 15px;
    				font-weight: 700;
    				border: none;
    				@include box-shadow(0px 0px 2px 2px #d4d6d5);
    				@include hover-pointer();
				}

				&__dismiss {
					background-color: $blue3;
				}

				&__cancel {
					background-color: $yellow3;

					.he & {
						margin-left: 30px;
					}
				}
			}

			&__desc {
				font-size: 12px;
				font-weight: 600;
				color: $gray3;
				position: absolute;
				bottom: 4px;
			}

			.xsign {
				//@extend %xsign;
				position: absolute;
				color: $gray3;
				width: 20px;
    			height: 20px;
    			text-align: center;
    			line-height: 1;
    			font-size: 18px;
    			font-weight: 600;
				background-color: $gray6;
				top: 0;
				
				.en & {
					right: 0;
				}
				.he & {
					left: 0;
				}
			}
		}

		.auth-modal {
			padding: 40px 0 55px;
			width: 515px;
			margin: 0 auto;

			&__icon {
				width: 45px;
				height: 50px;
				margin: 0 auto 30px;
				@include icon(-26px -14px);
			}

			&__title {
				text-align: center;
				font-size: 26px;
				margin: 0 0 38px;
			}

			&__switch {
				text-align: center;
				font-size: 16px;
			}
			.xsign {
				@extend %xsign;
			}

			.auth-form {
				width: 425px;
				margin: 50px auto 0;
				@extend %bhs-fieldset;

				.bhf {
					margin: 0 0 37px;

					label {
						color: #c7c7c7;
					}
				}

				&__terms {
					margin: 0 0 37px;
					font-size: 18px;

					&__checkbox {
						@include scale(1.5);
					}
				}

				&__submit {
					display: block;
					width: 146px;
					height: 40px;
					margin: 0 auto;
					@extend %submit-btn;

					&--processing {
						background: #808080;
					}
				}
			}
		}
	}
}
