.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ffffff;
	opacity: 0;
	@include transition(all, 0.8s, ease-in);

	&.fade.in {
		opacity: 0.7;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: url(/images/x.png) 0 0, pointer;

	.modal-dialog {
		position: relative;
		width: 630px;
		margin: 110px auto;
		padding: 40px 0 55px;
		background: #fefefe;
		border: 4px solid #d6d8d7;
		@include border-radius(10px);
		cursor: default;

		.auth-modal {
			width: 515px;
			margin: 0 auto;

			&__icon {
				width: 45px;
				height: 50px;
				margin: 0 auto 30px;
				@include icon(-26px -14px);
			}

			&__title {
				text-align: center;
				font-size: 26px;
				margin: 0 0 38px;
			}

			&__switch {
				text-align: center;
				font-size: 16px;
			}
			&__xsign {
				position: absolute;
				top: -45px;
				right: -58px;
				width: 30px;
				height: 30px;

			}

			.auth-form {
				width: 425px;
				margin: 50px auto 0;
				@extend %bhs-fieldset;

				.bhf {
					margin: 0 0 37px;

					label {
						color: #c7c7c7;
					}
				}

				&__terms {
					margin: 0 0 37px;
					font-size: 18px;

					&__checkbox {
						@include scale(1.5);
					}
				}

				&__submit {
					display: block;
					width: 146px;
					height: 40px;
					margin: 0 auto;
					@extend %submit-btn;
				}
			}
		}
	}
}
