%xsign {
	position: absolute;
	top: 14px;
	width: 22px;
	height: 22px;
	@include hover-pointer();

	.en & {
		right: 14px;
	}
	.he & {
		left: 14px;
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0;
	@include transition(all, 0.8s, ease-in);

	&.fade.in {
		opacity: 0.7;
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: url(/images/X.png) 0 0, pointer; 	
	.modal-sm { width: 630px; }
	.modal-m { width: 800px; }
	.modal-lg { width: 90%; }
	.modal-ftree {
		width: 1003px;
		height: 994px;
	}

	.modal-dialog {
		position: relative;
		margin: 1% auto;
		overflow: hidden;
		background: #fefefe;
		cursor: default;

		.ftrees-modal {
			background-image: url(/images/Ftrees-Photos_Modal_Dialog.jpg);
			background-repeat: no-repeat;
			width: 1003px;
			height: 994px;
		}

		.auth-modal {
			padding: 40px 0 55px;
			width: 515px;
			margin: 0 auto;

			&__icon {
				width: 45px;
				height: 50px;
				margin: 0 auto 30px;
				@include icon(-26px -14px);
			}

			&__title {
				text-align: center;
				font-size: 26px;
				margin: 0 0 38px;
			}

			&__switch {
				text-align: center;
				font-size: 16px;
			}
			.xsign {
				@extend %xsign;
			}

			.auth-form {
				width: 425px;
				margin: 50px auto 0;
				@extend %bhs-fieldset;

				.bhf {
					margin: 0 0 37px;

					label {
						color: #c7c7c7;
					}
				}

				&__terms {
					margin: 0 0 37px;
					font-size: 18px;

					&__checkbox {
						@include scale(1.5);
					}
				}

				&__submit {
					display: block;
					width: 146px;
					height: 40px;
					margin: 0 auto;
					@extend %submit-btn;

					&--processing {
						background: #808080;
					}
				}
			}
		}
	}
}
