<div id="start">	
	<div id="wizard-result-view" ui-view></div>
	<div id="wizard-container" ng-class="{hidden: wizardController.$state.includes('wizard-result')}">
		<div id="wizard">
			<div id="wizard-text">
				<div class="title">
					<en>My Jewish Story</en>
					<he>הסיפור היהודי שלי</he>
				</div>
				<div class="text">
					<en>
						Come stroll among thousands of content items:<br>
						Pictures, family trees, music, stories of communities and more.
					</en>
					<he></he>
				</div>
				<div class="instructions">
					<en>To get started, enter a family member's details</en>
				</div>
			</div>
			<ng-include src="'templates/wizard/wizard-form.html'"></ng-include>
		</div>
	</div>
</div>
