<div id="footer-wrapper">
	<div id="footer-inner">
		<div class="lang-float {{mainController.lang}}">
			<div class="contact">
				<en>
					<a>Help us enreach the databases</a>
					<a>Contact us</a>
				</en>
				<he>
					<a>עזרו לנו בהעשרת המאגרים</a>
					<a>צרו קשר</a>
				</he>
			</div>
			<br>
			<div class="rights">
				<en>© Beit Hatfutsot 1996-2012</en>
				<he>© 1996-2012 בית התפוצות</he>
			</div>
		</div>
		<div class="links">
			<div class="title">
				<en>Beit Hatfutsot Databases</en>
				<he>מאגרי בית התפוצות</he>
			</div>
			<en>
				<a>Jewish Genealogy</a>
				<a>Family Names</a>
				<a>Jewish Communities</a>
				<a>Jewish Music</a>
				<a>Visual Documentation</a>
			</en>
			<he>
				<a>גניאולוגיה יהודית</a>
				<a>שמות משפחה</a>
				<a>קהילות יהודיות</a>
				<a>מוזיקה יהודית</a>
				<a>תיעוד חזותי</a>	
			</he>
		</div>
	</div>
</div>
