<form id="wizard-form">
	<div class="field name">
		<div>
			<input type="text" id="wizard-name" ng-model="wizardController.name" placeholder="{{wizardController.name_placeholder}}" />
		</div>
		<label for="wizard-place">
			<en>Original family name of one of your ancestors</en>
			<he>שם</he>
		</label>
		<div class="suggestions" ng-if="wizardResultController.result.suggestions.name">
			<div class="suggestions-instructions">
				<en>Did you mean...</en>
				<he>האם התכונת ל...</he>
			</div>
			<div class="suggestion" ng-repeat="name in wizardResultController.result.suggestions.name">
				<en>{{name.Header.En}}</en>
				<he>{{name.Header.He}}</he>
			</div>
		</div>
	</div>
	<div class="field place">
		<div>	
			<input type="text" id="wizard-place" ng-model="wizardController.place" placeholder="{{wizardController.place_placeholder}}" />
			<button class="bh-pointer" ng-disabled="wizardController.submit_disabled" ng-click="wizardController.start()">
				<en>Start</en>
				<he>התחל</he>
			</button>
		</div>
		<label for="wizard-place">
			<en>Town / Village they came from. If unknown, type country</en>
			<he>מקום</he>
		</label>
		<div class="suggestions" ng-if="wizardResultController.result.suggestions.place">
			<div class="suggestions-instructions">
				<en>Did you mean...</en>
				<he>האם התכונת ל...</he>
			</div>
			<div class="suggestion" ng-repeat="place in wizardResultController.result.suggestions.place">
				<en>{{place.Header.En}}</en>
				<he>{{place.Header.He}}</he>
			</div>
		</div>
	</div>	
</form>