#start {

	#start-wrapper {
		height: 624px;
		overflow: visible;
		margin: 0 auto;

		#start-inner {
			@include bg_image("start.jpg");
			width: 1920px;
			height: 694px;
			position : absolute;
		    left: 50%;
		    top: 50%;
		    @include translate(-50%, -50%);

			#wizard {
				margin: 130px auto;
				padding: 42px 68px;
				width: 944px;
				height: 380px;
				background: rgba(249, 249, 249, 0.85);		

				#wizard-text {

					.title {
						color: #5dc2d4;
						font-size: 72px;
						margin-bottom: 8px;
					}

					.text {
						font-size: 22px;
						margin-bottom: 58px;
					}

					.instructions {
						font-size: 20px;
						margin-bottom: 5px;
					}
				}

				form#wizard-form {

					.field.place {
			
						.en & {
							margin: 0 0 0 35px;	
						}

						.he & {
							margin: 0 35px 0 0;	
						}
					}

					button {

						.en & {
							margin: 0 0 0 30px;	
						}

						.he & {
							margin: 0 30px 0 0;	
						}
					}
				}
			}
		}
	}

	#wizard-result {
			
		#wizard-result-header {
			height: 40px;
			width: 100%;
			background: #E0E0E0;

			.instruction-text {
				text-align: center;
			}
		}

		#search-again {
			min-height: 200px;
			width: 350px;;
			background: rgba(248, 248, 255, 0.6);
			position: relative;

			form#wizard-form {
				margin: 0 auto;
				padding: 20px 20px 60px;
				min-height: 250px;

				.field {
					margin: 0 0 10px;

					.suggestions {
						margin: 10px 0;

						.suggestion {
							display: inline-block;
							margin: 5px;
							padding: 5px;
							border: 0.5px solid;
						}
					}
				}

				button {
					position: absolute;
					bottom: 20px;

					.en & {
						left: 20px;
					}

					.he & {
						right: 20px;
					}
				}
			}
		
			.en & {
				float: right;	
			}

			.he & {
				float: left;	
			}
		}

		#wizard-search-result {
			padding: 60px 500px;
	
			#name-tree-result, #place-result {
				display: inline-block;
				vertical-align: top;
				padding: 10px;
				
				.single-result, .no-result, .multiple-result {
					background: #ffffff;
					border: 0.5px solid;
					padding: 0 10px 5px;
					overflow: hidden;
					border-bottom: 4px solid #5ec5d6; 

					.type {
						display: inline-block;
						width: auto;
						height: auto;
						padding: 3px; 
						min-height: 30px; 
						background: #5ec5d6;
						color: #f9f9f9; 
						font-weight: bold;
						border-bottom-right-radius: 3px;
						border-bottom-left-radius: 3px;
					}

					.header {
						padding: 5px 0;
						font-weight: bold;
					}

					.text {
						padding: 5px 0;
						color: 474747;
					}
				}
			}

			#name-tree-result {

				#name-result {
					margin: 20px 0 10px;

					.single-result, .no-result, .multiple-result {
						height: 200px;
						width: 300px;	
					}
				}
			}

			#place-result {

				.single-result, .no-result, .multiple-result {
					height: 300px;
					width: 300px;
				}
			}

			#tree-result {

				.single-result, .no-result, .multiple-result {
					height: 150px;
					width: 300px;
				}
			}
		}
	}

	form#wizard-form {
				
		.field {
			display: inline-block;
			vertical-align: top;

			label {
				font-size: 12px;
			}

			input {
				width: 294px;
				height: 38px;
				padding: 0 8px;
			}
		}

		button {
			vertical-align: bottom;
			width: 144px;
			height: 38px;
			color: #f9f9f9;
			font-size: 22px;
			background: #5dc2d4;
			border: none;
			border-radius: 2px;

			&:disabled {
				background: grey;
				cursor: default;
			}
		}
	}
}