#footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	height: $footer-height;
	z-index: 2;
	border-top: 1px solid #999999;
	background: #ffffff;

	@at-root #footer {
		width: $view-width;
		margin: 0 auto;
		padding: 20px 0 0;

		.title {
			font-weight: bold;
			font-size: 14px;
			margin: 0 0 10px;
		}
		
		a {
			
			.en & {
				padding: 0 5px 0 0;
			}

			.he & {
				padding: 0 0 0 5px;
			}
		}

		.links-contact-rights {
			position: relative;

			.links, .contact-rights {
				font-size: 12px;
			}

			.links {
				text-decoration: underline;
				@include hover-pointer();
			}

			.contact-rights {
				position: absolute;
				top: 0;

				.en & {
					right: 0;
				}

				.he & {
					left: 0;
				}
			}
		}
	}
}
