#family-trees-container {
	zoom: 1;
	-moz-transform: scale(1);
	width: 100%;
	background: #eeeeee;
	padding: 14px 0;

	@at-root #tree-sort {
		position: relative;
		width: 1170px;
		min-height: 870px;
		margin: 0 auto;
		background: #ffffff;
		padding: 24px 18px 10px;
		/*box-shadow: 0px 2px 4px 2px #888888;*/
		@include item-shadow();

		.tree-view & {
			padding: 11px;
		}

		.title {
			background-color: #999999;
			width: 100%;
			height: 45px;
			position: relative;

			.en & {
				margin-left: -25px;
			}

			.he & {
				margin-right: -25px;
			}

			.tree-view & {
				display: none;
			}

			&__tree-icon {
				width: 29px;
				height: 40px;
				top: 5px;

				.en & {
					left: 25px;
				}

				.he & {
					right: 25px;
				}
			}

			&__arrow {
				width: 0;
				height: 0;
				line-height: 0;
				border-top: 6px solid #666666;
				top: 101%;
				position: absolute;
				
				.en & {
					left: 0;
					border-left: 7px solid transparent;
				}

				.he & {
					right: 0;
					border-right: 7px solid transparent;
				}
			}

			&__text {
				position: relative; 
				color: #ffffff;
				font-size: 24px;
				margin-top: -35px;
				
				.en & {
					float: left;
					left: 60px;
				}

				.he & {
					float: right;
					right: 60px;
				}	
			}
		
			&:after {
				content:'';
				position: absolute;
				top:0;
				bottom:0;
				width:0px;
				height:0px;
				border-top: 46px solid #999;

				.en & {
					right: -30px;    
					border-right: 30px solid transparent; 
				}

				.he & {
					left: -30px;    
					border-left: 30px solid transparent; 	
				}
			}
		}

			.filters {
				display: inline-block;
				vertical-align: top;
				width: 248px;
				margin: 25px auto;

				&__update {
					border: none;
					background: #47c3d3;
					color: #ffffff;
					text-align: center;
					padding: 5px 0;
					width: 248px;
					height: 50px;
					font-size: 20px;
					@include hover-pointer();

					&:hover {
						background-color: #666666;
					}
				}

				.tree-view & {
					display: none;
				}	


				&__clear {
					font-size: 10px;
					color: #999999;
					@include hover-pointer();


					.en & {
						float: right;
					}


					.he & {
						float: left;
					}
				}

				&__field,
				&__fudge-field {

					.container {
						margin-bottom: 17px;
						/*box-sizing: content-box;*/

						label {
							display: block;
							font-size: 10px;
							color: #666666;
							text-align: center;
							padding-top: 5px;
							@include hover-pointer();

						}

						input[type="text"] {
							border: 2px solid #edcfc5;
							overflow: hidden;
							font-size: 80%;
							text-transform: capitalize;
							.en & {
								padding-left: 6px;
							}
							.he & {
								padding-right: 6px;
							}
							
						}
						::-webkit-input-placeholder {
							   font-style: italic;
							}
							:-moz-placeholder {
							   font-style: italic;  
							}
							::-moz-placeholder {
							   font-style: italic;  
							}
							:-ms-input-placeholder {  
							   font-style: italic; 
							}
					}
				}


			&__field {
				
				.container {

					.info {
						font-size: 10px;
						color: #bababa;
						margin: 0 8px;
					}

					input[type="text"] {
						display: inline-block;
						width: 248px;
						height: 23px;
						border-color: #efcdc7;
					}

					.modifiers-container {		
						width: 248px;
						display: flex;																																																																																																																							
						justify-content: space-between;

						&__modifier {

							&__modif-label {
								background-color: #eeecec;
								width: 80px;
								height: 20px;
								padding-bottom: 3px;
								position: relative;

								&:hover {
									background-color: #d6d6d6;
								}
							}
							
							input[type="radio"] {
								display: none;
								}

							input[type="radio"]:checked + .modifiers-container__modifier__modif-label {
								background-color: #efcdc7;
								color: #333333;

								.modifiers-container__modifier__modif-label__arrow {
									position: absolute;
									width: 0;
									height: 0;
									line-height: 0;
									border-top: 7px solid #ffffff;
									border-right: 38px solid transparent;
									border-left: 28px solid transparent;
									top: -3px;
									left: 10px;	
								}
							}
						}
					}
				}
			}

			&__sex {
				font-size: 10px;
				margin-bottom: 15px;

				&__title {
					margin-bottom: 8px;
					text-align: center;
					color: #666666;
				}

				&__choices {

					input[type="radio"] {

						.en & {
							margin-right: 10px;
						}

						.he & {
							margin-left: 10px;
						}
					}
					input[type="radio"] {
						display: none;
					}
					input[type="radio"]:checked + .label-sex {
						color: #333333;
						background-color: #efcdc7;
					}
					.label-sex {
						background-color: #eeecec;
						display: inline-block;
						width: 80px;
						height: 20px;
						color: #666666;
						text-align: center;
						padding-top: 5px;

						&:hover {
							background-color: #d6d6d6;
						}
					}
				}
			}

			&__fudge-field {

				.container {
					display: flex;
					justify-content: center;

					.text {
						display: inline-block;
						margin: 5px;

						input[type="text"] {
							display: inline-block;
							width: 80px;
							height: 20px;
							text-align: center;
							font-size: 80%;
							padding: auto;
						}
					}

						.notIE {
							    position: relative;
							    display: inline-block;
							    margin: 5px;
							
							.fudge select {
								outline-style:none;
								position: relative;
							    display: inline-block;
							    text-align: center;
							    height: 20px;
							    width: 80px;
							    outline: none;
							    color: #adadad;
							    border: none;
							    background: #eeecec; 
							    padding: 2px 10px 2px 2px;
							    -moz-appearance: none;
							    font-size: 80%;

							    &:hover {
							    	background-color: #d6d6d6;
							    }

							    &:hover + .fancyArrow {
							    	background-color: #d6d6d6;
							    }
							}

							.fancyArrow {
							    width: 33px;
							    height: 18px;
							    position: absolute;
							    display: inline-block;
							    top: 18px;
							    background: right / 90%  no-repeat #eeecec;
							    pointer-events: none;

							    .en & {
							    	right: 0px;
							    }

							    .he & {
							    	left: 0px;
							    }

						    	&__selectbox-icon {
									position: absolute;
									right: 13px;
									width: 13px;
									height: 11px;
									top: 4px;

								}
							}
					
							/*target Internet Explorer 9 and Internet Explorer 10:*/
							@media screen and (min-width:0\0) { 
							    .notIE .fancyArrow
							    {
							        display:none;
							    }
							}
						}
				}
			}
		}

		.results {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 770px;
			margin: 21px 30px;


			.tree-view & {
				margin-top: 0;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 208px;

			}
			.BackToSearch {
				border: none;
				background: #47c3d3;
				color: #ffffff;
				text-align: center;
				padding: 5px 0;
				width: 263px;
				height: 50px;
				font-size: 20px;
				position: absolute;
				top: 100%;
				left: 4px;
				@include hover-pointer();

				&:hover {
					background-color: #666666;
				}
			}

			&__people-arrow {
				position: relative;
				top: 24px;
				height: 940px;
				background: #f5f5f5;
				width: 752px;

					.results__individuals {
						background-color: #ffffff;
					}

				.en & {
					left: 4px;
				}
				.he & {
					right: 4px;
				}

				.tree-view & {
					display: none;
				}

				&__text {
					position: relative;
					top: 110px;
					text-align: center;

					&__title {
						font-size: 25px;
					}
				}

				img {
					position: absolute;
					top: 115px;

					.en & {
						left: 76px;
					}

					.he & {
						right: 76px;
					}
				}
			}

			&__individuals {
				position: relative;
				border-collapse: collapse;
				border: 4px solid #ffffff;
				table-layout: fixed;
				text-transform: capitalize;
				background: #f5f5f5;
				width: 760px;

				.tree-view & {
					width: 270px;
				}
				
				.thArrowDown {
					width: 0px;
					height: 0px;
					border-top: 16px solid #fde2b5;
					border-left: 59px solid transparent;
					border-right: 59px solid transparent;
					top: 101%;
					position: absolute;
					left: 1%;

				    .tree-view & {
				    	border-top: 16px solid #999999;
				    }
				}

				thead, tbody {

					tr {
						font-size: 15px;

						th, td {
							
							border: 4px solid #ffffff;
							.en & {
								padding-left: 12px;	
							}
							.he & {
								padding-right: 12px;
							}
										
						}

					}
				}

				thead {
					display: table-header-group;
					background-color: #fde2b5;

					.tree-view & {
						background-color: #999999;
					}

					tr {

						th {
							position: relative;
							height: 48px;
							font-weight: normal;
							@include hover-pointer();

							&:hover  {                        
								background-color: #d6d6d6;

								.thArrowDown {
									border-top-color: #d6d6d6;
								}
							}

							.column-title {
								display: inline-block;
									padding: 5px;
							}
						}
					}
				}

				tbody {

					&:before {
						line-height: 13px;
						content: "_";
						color: #ffffff;
						display: block;
						width: 770px;
						background-color: #ffffff;
					}

					tr {
						height: 60px;
						@include hover-pointer();

						&:hover {
							background-color: #d6d6d6;
						}

						&.dark {
							background: #eeeeee;
								&:hover {
									background-color: #d6d6d6;
								}
						}
						td {
							position: relative;
						}

						&.selected {
							color: #333333;
							font-weight: bold;
							
							.tree-view & {
								background-color: #fde2b5;

								.last-name-arrow {
									position: absolute;
									width: 0px;
									height: 0px;
									border-top: 28px solid transparent;
									border-bottom: 29px solid transparent;
									top: 0px;

									.en & {
										border-left: 22px solid #fde2b5;
										left: 100%;
									}
									.he & {
										border-right: 22px solid #fde2b5;
										right: 100%;
									}
								}
							}
						}
					}
				}
			}

			&__more-columns {
				position: absolute;
				top: 44px;

				.en & {
					right: 3px;
				}

				.he & {
					left: 3px;
				}

				&.open {

					.results__more-columns__menu {
						display: block;
					}
				}

				&__trigger {
					background: #fde2b5;
					font-size: 15px;
					position: absolute;
					top: -40px;
					width: 59px;
					height: 44px;
					@include hover-pointer();

					&:hover {
						background-color: #d6d6d6;
						}

					.en & {
						right: -53px;
						padding: 10px 12px;
					}

					.he & {
						left: -53px;
						padding: 10px 17px;
					}

					&__icon {
						width: 10px;
						height: 12px;
                        
                        .en & {
                        	left: 14px;
                        }
                        .he & {
                        	right: 14px;
                        }
					}
				}

				&__menu {
					position: relative;
					z-index: 1;
					display: none;
					width: 158px;
					color: #666666;
					border: 3px solid transparent;
					top: 4px;
					@include border-radius(7px);

					.en & {
						left: 91px;
					}
					.he & {
						right: 91px;
					}

					/*border: 1px solid #c4c4c4;*/
					/*@include box-shadow(1px -1px 2px 1px #9fa1a0);*/

				/*	&:before, &:after {
						bottom: 100%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}

					&:before {
						border-bottom-color: #dbdbdb;
						border-width: 10px;

						.en & {
							right: 8px;
						}

						.he & {
							left: 8px;
						}
					}

					&:after {
						border-bottom-color: #ffffff;
						border-width: 8px;

						.en & {
							right: 10px;
						}

						.he & {
							left: 10px;
						}
						
					}*/
					&__title {
						background-color: #999999;
						color: #ffffff;
						height: 46px;
						font-size: 12px;
						border: 2px solid transparent;
						@include border-radius(5px);
						.en & {
							padding: 10px 12px 0;
						}
						.he & {
							padding: 10px 0 12px;
						}
					}

					&__row {
						height: 43px;
						font-size: 14px;
						padding: 10px 12px 0;
						background: #d6d6d6;
						/*border: 2px solid transparent;
						@include border-radius(5px);*/

						&__fancyArrow {
							content: "";
							width: 22px;
							height: 22px;
							background: none repeat #999999;
							@include border-radius(50px);
							position: absolute;

							.en & {
								margin-left: -2px;
							}
							.he & {
								margin-right: -2px;
							}
							
							@include hover-pointer();

							&.selected {
								background: none repeat #bf311a;

								&:after {
									content: '';
									position: absolute;
									width: 9px;
									height: 5px;
									background: transparent;
									border: 3px solid #ffffff;
									border-top: none;
									border-right: none;
									margin-top: 5px;
									
									.en & {
										margin-left: 5px;
									}
									.he & {
										margin-right: 5px;
									}
									@include rotate(-45deg);
								}
							}
						}

						&:hover {
							color: #333333;
							#fancyArrow-label {
								background-color: #bf311a;
							}	
						}

						&__desc {
							position: relative;
							top: 2px;
							display: inline-block;
							vertical-align: top;
							height: 100%;
							width: auto;
							@include hover-pointer();

							.en & {
								left: 29px;
							}
							.he & {	
								right: 29px;
							}
						}
						
						input[type=checkbox] {
							display: none;
						}	
					}		
				}
			}

			&__per-page {
				position: relative;

				&__selector select {
					display: inline-block;
				    height: 17px;
				    width: 55px;
				    color: #adadad;
				    border: none;
				    background: #efcdc7; 
				    -moz-appearance: none;
				    @include hover-pointer();

				    &:hover {
				    	background-color: #d6d6d6;
				    }

				    &:hover + .results__per-page__selector__fancyArrow {
						background-color: #d6d6d6;
					}
				}
				
				&__selector {
					position: relative;

					&__fancyArrow {
						width: 13px;
					    height: 15px;
					    position: absolute;
					    display: inline-block;
					    background: right / 90%  no-repeat #efcdc7;
					    top: -3px;
					    pointer-events: none;

					    .en & {
					    	margin-left: -16px;
					    }

					    .he & {
					    	margin-right: -16px;
					    }

					    &__selectbox-icon {
							position: absolute;
							width: 13px;
							height: 11px;
							top: 4px;	
								

							.en & {
					    		right: 5px;
					    	}

					    	.he & {
					    		left: 5px;
					    	}
					    }
					}
				}

				.tree-view & {
					text-align: center;
				}
				&__selector {
					.en & {
						margin-left: 135px;
					}
					.he & {
						margin-right: 135px;
					}
					.tree-view & {
						display: none;
					}
					
				}

				&__paginator,
				&__selector, 
				&__go-to-page {
					font-size: 11px;
				}
				
				&__paginator {
					position: absolute;
					.en & {
						left: 6px;
					}
					.he & {
						right: 6px;
					}

					.tree-view & {
						.en & {
							float: left;
						}
						.he & {
							float: right;
						}
					}

					&__arrow {
						width: 18px;
						height: 18px;
						border: none;
						background: #efcdc7;
						@include hover-pointer();

						&:hover {
							background-color: #d6d6d6;
							}

						&__icon {
							width: 10px;
							height: 12px; 
						}
					}
				}

				&__go-to-page {
					/*position: absolute;*/

					.en & {
						float: right;
  						margin-right: 55px;
					}
					.he & {
						float: left;
						margin-left: 55px;
					}
					.tree-view & {
						.en & {
							float: left;
   							margin-left: 130px;
						}
						.he & {
							float: right;
   							margin-right: 130px;
						}
					}

					&__number {
						border: 2px solid #edcfc5;
						width: 36px;
						height: 20px;
						background-color: #ffffff; 
						color: #333333;
					}

					&__go-button {
						  position: relative;
						  width: 36px;
						  height: 20px;
						  padding-top: 9px;
						  background-color: #bf311a;
						  top: -20px;
						  @include hover-pointer();

						  .en & {
						  	right: -100px;
						  }
						  .he & {
						  	left: -100px;
						  }

						.goToPage_go-text {
							position: absolute;
							color: #ffffff;
						    top: 3px;
						    font-size: 96%;
							@include hover-pointer();

							.en & {
								right: 16px;
							}
							.he & {
								left: 9px;
							}
						}

						.goToPage_icon {
							position: absolute;
							width: 10px;
							height: 12px;
							top: 3px;
							
							.en & {
								right: 4px;
							}
							.he & {
								left: 4px;
							}
							.tree-view & {
							display: none;
							}
						}
					}
				}
			}
		}

		@at-root #tree-layout-mask {
			position: absolute;	
			top: 0;
			width: 860px;
			height: 100%;
			background: #ffffff;

			.en & {
				right: 0;
				border-left: 12px solid #eeeeee;
			}

			.he & {
				left: 0;
				border-right: 12px solid #eeeeee;
			}
			

			.expand-btn {
				position: absolute;
				width: 31px;
				height: 31px;
				top: 29px;
				z-index: 1;
				@include hover-pointer();

				.en & {
					right: 156px;
				}

				.he & {
					left: 156px;
				}
			}

			.expand-btn-text {
				position: absolute;
				color: #Ffffff;
				font-size: 10px;
				top: 39px;
				z-index: 1;

				.en & {
					right: 114px;
				}
				.he & {
					left: 114px;;
				}
			}
			
			#ftree-item-container {
				padding: 0;

				#ftree-item {
					width: 850px;
				}
			}
		}
	}
}