#family-trees-container {
	width: 100%;
	background: #eeeeee;
	padding: 14px 0;

	@at-root #tree-sort {
		position: relative;
		/*width: $view-width;*/
		width: 1170px;
		min-height: 870px;
		margin: 0 auto;
		background: #ffffff;
		padding: 24px 18px 10px;
		/*box-shadow: 0px 2px 4px 2px #888888;*/
		@include item-shadow();

		.tree-view & {
			padding: 11px;
		}

		.title {
			background-color: #999999;
			width: 100%;
			height: 47px;
			margin-left: -25px;
			position: relative;

			.tree-view & {
				display: none;
			}

			&__tree-icon {
				width: 29px;
				height: 40px;
				top: 5px;
				left: 25px;
			}

			&__arrow {
				width: 0;
				height: 0;
				line-height: 0;
				border-left: 7px solid transparent;
				border-top: 6px solid #666666;
				top: 101%;
				position: absolute;
				left: 0;
			}

			&__text {
					position: relative;
					color: #ffffff;
					font-size: 24px;
					margin-top: -35px;
					left: 60px;
				.en {
					float: left;
				}
				.he {
					float: right;
				}	
			}
		}

				.title:after {
				content:'';
				position: absolute;
				top:0;
				bottom:0;
				right: -30px;    
				width:0px;
				height:0px;
				border-top: 48px solid #999;
				border-right: 30px solid transparent; 
			}
			
		.filters {
			display: inline-block;
			vertical-align: top;
			width: 230px;
			/*padding: 8px 5px 2px;*/
			/*margin: 15px 10px;*/
			margin-top: 15px;

			&__update {
				border: none;
				background: #bf311a;
				color: #efcdc7;
				text-align: center;
				padding: 5px 0;
				width: 220px;
				height: 45px;
				font-size: 17px;
				/*margin: 15px auto;*/
				@include hover-pointer();
			}

			.tree-view & {
				display: none;
			}	

			&__title {
				margin-bottom: 12px;
				font-size: 15px;
			}

				&__clear {
					padding-top: 8px;
					font-size: 10px;

					.en & {
						float: right;
					}


					.he & {
						float: left;
					}
				}

			&__field,
			&__fudge-field {

				.container {
					margin-bottom: 15px;

					label {
						display: block;
						font-size: 10px;
						color: #666666;
						text-align: center;
						margin-bottom: 3px;
					}

					input[type="text"] {
						border: 2px solid #9a9a9a;
						overflow: hidden;
						/*@include border-radius(3px);*/
						
						/*.en & {
							@include box-shadow(inset 1px 1px 3px 2px #e9e9e9);
						}

						.he & {
							@include box-shadow(inset -1px 1px 3px 2px #e9e9e9);
						}*/
					}

					/*.info {
						display: inline-block;
						width: 15px;
						height: 15px;
						font-size: 9px;
						text-align: center;
						border: 2px solid #333333;
						@include border-radius(50%);
					}*/
				}
			}


			&__field {
				
				.container {
					
					input[type="text"] {
						display: inline-block;
						width: 220px;
						height: 20px;
						padding: 0 6px;
						border-color: #efcdc7;
					}

					.modifiers-container {
						width: 220px;
						margin-top: 1px;
						
							

						.modifier {
							display: inline-block;
							/*text-align: center;*/

							.en & {
								margin-right: 2px;
							}

							.he & {
								margin-left: 2px;
							}

							input[type="radio"] {

								display: none;
							}
							input[type="radio"]:checked + .modif-label {
								background-color: #efcdc7;
								/*border-top: 8px solid #ffffff;
								border-right: 38px solid transparent;
								border-left: 30px solid transparent;*/
								/*margin-top: -3px;*/
								/*overflow: hidden;*/

							
							.modifier-arrow {
								width: 0;
								height: 0;
								line-height: 0;
								border-right: 36px solid transparent;
								border-top: 6px solid white;
								border-left: 32px solid transparent;
							}
							}
							.modif-label:hover {
								background-color: #d6d6d6;
							}
							.modif-label {
								background-color: #eeecec;
								display: inline-block;
								width: 68px;
								height: 20px;
								margin-top: -2px;
								/*padding-top: 7px;*/
								/*padding-top: 3px;*/
								/*overflow: hidden;*/

							}
						}
					}
				}
			}

			&__sex {
				/*width: 108px;*/
				font-size: 10px;
				margin-bottom: 15px;

				&__title {
					/*font-weight: bold;*/
					margin-bottom: 8px;
					text-align: center;
					color: #666666;
				}

				&__choices {

					input[type="radio"] {

						.en & {
							margin-right: 10px;
						}

						.he & {
							margin-left: 10px;
						}
					}
					input[type="radio"] {
						display: none;
					}
					input[type="radio"]:checked + .label-sex {
						background-color: #f5e1dd;
					}
					.label-sex {
						background-color: #eeecec;
						display: inline-block;
						width: 63px;
						height: 20px;
					}
				}

			}

			&__fudge-field {

				.container {

					.text {
						display: inline-block;

						.en & {
							margin-right: 40px;
						}

						.he & {
							margin-left: 40px;
						}

						input[type="text"] {
							display: inline-block;
							width: 80px;
							height: 24px;
							

						}
					}

					.fudge {
						display: inline-block;

						.en & {
							margin-right: 20px;
						}

						.he & {
							margin-left: 20px;
						}

						select {
							display: inline-block;
							width: 55px;
							height: 24px;
						}
					}
				}
			}

		}

		.results {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 860px;
			margin-top: 15px;
			box-sizing: content-box;

			.en & {
				margin-left: 8px;
			}

			.he & {
				margin-right: 8px;
			}

			.tree-view & {
				margin-top: 0;
				margin-left: 0;
				margin-right: 0;
			}

			&__title {
				font-size: 15px;
				margin-bottom: 4px;

				.tree-view & {
					display: none;
				}
			}

			&__individuals, &__people-arrow {
				width: 860px;
				background: #f5f5f5;

			}

			&__people-arrow {
				position: relative;
				top: -21px;
				height: 940px;

				&__text {

					&__title {
						font-size: 25px;
					}

					position: relative;
					top: 110px;
					text-align: center;
				}

				img {
					position: absolute;
					top: 115px;

					.en & {
						left: 76px;
					}

					.he & {
						right: 76px;
					}
				}
			}

			&__individuals {
				margin-bottom: 19px; 
				border-collapse: collapse;
				table-layout: fixed;
				/*@include border-radius(5px);*/

				.tree-view & {
					width: 258px;
				}
				.arrow1 {
							width: 0px;
							height: 0px;
							line-height: 0;
							border-top: 13px solid #f5e1dd;
							border-left: 81px solid transparent;
							border-right: 40px solid transparent;
							top: 106%;
							position: absolute;
							left: -5px;
							
						}
				thead, tbody {

					tr {
						font-size: 15px;
						

						th, td {
							/*overflow: hidden;*/
							vertical-align:middle;

							.en & {
								border-left: 5px solid #ffffff;
								border-right: 5px solid #ffffff;
							}

							.he & {
								border-left: 20px solid transparent;
								border-right: 10px solid transparent;
							}
						}
					}
				}

				thead {
					display: table-header-group;
					background-color: #f5e1dd;
					/*margin-bottom: 10px;*/
					/*border-bottom: 2px solid #ffffff;*/
					tr {

						th {
/*							**/
							border: 4px solid white;
							position: relative;
							height: 48px;
							font-weight: normal;
							width: 70px;
							@include hover-pointer();

							.en & {
								text-align: left;		
								margin-left: -1px;
							}

							.he & {
								text-align: right;		
								margin-right: -1px;
							}

							.sort-arrow {
								position: relative;
								display: inline-block;
								vertical-align: top;
								top: 12px;
								width: 12px;
								height: 8px;

								.en & {
									margin-right: 3px;
								}

								.he & {
									margin-left: 3px;
								}

								&--upside {
									@include rotate(180deg);
								}
							}

							.column-title {
								display: inline-block;
							}
						}
					}
				}

				tbody {

					tr {
						height: 60px;
						@include hover-pointer();

						&.dark {
							background: #eeeeee;
							/*td {*/
								/**/border: 4px solid white;
							/*}*/
							td {
								.en & {
									border-left: 4px solid white;
									border-right: 4px solid white;
								}

								.he & {
									border-left: 4px solid white;
									border-right: 4px solid white;
								}
							}

							/*td {
								.en & {
									border-left: 10px solid #eeeeee;
									border-right: 20px solid #eeeeee;
								}

								.he & {
									border-left: 20px solid #eeeeee;
									border-right: 10px solid #eeeeee;
								}
							}*/
						}

						&.selected {
							color: #4dbbca;
							font-weight: bold;
						}
					}
				}
			}

			&__more-columns {
				position: absolute;
				top: 72px;
				background-color: #ss;

				.en & {
					right: 3px;
				}

				.he & {
					left: 3px;
				}

				&.open {

					.results__more-columns__menu {
						display: block;
					}
				}

				&__trigger {
					background: transparent;
					font-size: 9px;
					position: absolute;
					top: -41px;
					@include hover-pointer();

					.en & {
						right: 0;
					}

					.he & {
						left: 0;
					}

					&__icon {
						width: 10px;
						height: 12px;
					}
				}

				&__menu {
					position: relative;
					z-index: 1;
					display: none;
					width: 322px;
					background: #ffffff;
					color: #333333;
					border: 1px solid #c4c4c4;
					border-bottom: 4px solid #5ecad8;
					@include box-shadow(1px -1px 2px 1px #9fa1a0);

					&:before, &:after {
						bottom: 100%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}

					&:before {
						border-bottom-color: #dbdbdb;
						border-width: 10px;

						.en & {
							right: 8px;
						}

						.he & {
							left: 8px;
						}
					}

					&:after {
						border-bottom-color: #ffffff;
						border-width: 8px;

						.en & {
							right: 10px;
						}

						.he & {
							left: 10px;
						}
					}

					&__title, &__row {
						height: 43px;
						padding: 10px 12px 0;
						border-bottom: 2px solid #eceaea;
						font-size: 16px;
					}

					&__row {
						&:hover {
							color: #5dc2d4;
						}

						&__desc {
							position: relative;
							top: 2px;
							display: inline-block;
							vertical-align: top;
							height: 100%;
							width: auto;
							@include hover-pointer();

							.en & {
								right: -5px;
							}

							.he & {
								left: -5px;	
							}
						}

						input[type=checkbox] {
							@include scale(1.3);
							@include hover-pointer();
						}
					}
				}
			}

			&__per-page {

				.tree-view & {
					text-align: center;
				}

				&__indicator {

				}

				&__paginator,
				&__selector {

					.en & {
						float: right;
					}

					.he & {
						float: left;
					}
				}

				&__selector,
				&__indicator {

					.tree-view & {
						display: none;
					}
				}
				
				&__paginator {

					.tree-view & {
						float: none;
					}

					.en & {
						margin-left: 20px;
					}					

					.he & {
						margin-right: 20px;
					}

					&__arrow {
						width: 17px;
						height: 24px;
						color: #ffffff;
						padding: 0 2px;
						border: none;
						@include border-radius(2px);
						text-align: center;
						background: #48c3d3;
						@include hover-pointer();
					}
				}
			}
		}

		@at-root #tree-layout-mask {
			position: absolute;
			top: 0;
			width: 860px;
			height: 100%;
			background: #ffffff;

			.en & {
				right: 0;
				border-left: 12px solid #eeeeee;
			}

			.he & {
				left: 0;
				border-right: 12px solid #eeeeee;
			}

			.expand-btn {
				position: absolute;
				width: 52px;
				height: 42px;
				top: 16px;
				z-index: 1;
				@include hover-pointer();

				.en & {
					right: 10px;
				}

				.he & {
					left: 10px;
				}
			}
			
			#ftree-item-container {
				padding: 0;

				#ftree-item {
					width: 850px;
				}
			}
		}
	}
}