#ftree-item-container {
	width: 100%;
	padding: 10px 0 0;

	@at-root #ftree-item {
		width: $view-width;
		margin: 0 auto;
		padding: 25px 10px 0;
		background: #ffffff;
		@include border-radius(4px);
		// display: flex;
		// flex-direction: column;
		// align-content: stretch;

		.ftree-title {
			position: relative;
			width: 726px;
			height: 48px; 
			font-size: 22px;
			padding: 9px 46px  20px;
			border-bottom: 2px solid #f5f5f5;
			background-color: #999999;
			color: #ffffff;
			top: -12px;

			&:after {
				content:'';
				position: absolute;
				top:0;
				bottom:0;
				width:0px;
				height:0px;
				border-top: 46px solid #999;

				.en & {
					right: -30px;    
					border-right: 30px solid transparent; 
				}

				.he & {
					left: -30px;    
					border-left: 30px solid transparent; 	
				}
			}

			&__tree-icon {
				position: absolute;
				width: 29px;
				height: 40px;
				top: 4px;

				.en & {
					left: 9px;
				}

				.he & {
					right: 9px;
				}
			}

			/*.ftree-type {
				display: inline-block;
				position: absolute;
				width: 105px;
				height: 22px;
				padding: 2px 6px;
				background: #f6f6f6;
				font-size: 12px;
				color: #999999;

				.en & {
					right: 0;
					top: 50px;
				}

				.he & {
					left: 0;
					top: 50px;
				}

				.ftree-icon {
					display: inline-block;
					vertical-align: bottom;
					width: 19px;
					height: 17px;
					@include icon(-28px -68px);
				}
			}*/
		}

		/*@at-root #mjs-widget-container {
			
			.mjs-widget-wrapper {
				margin-top: 10px;
				padding: 5px 12px;
				background: #eeeeee;
				@include border-radius(18px);

				.en & {
					margin-left: 30px;
				}

				.he & {
					margin-right: 30px;
				}
			}
		}*/


		@at-root #ftree-layout-container {
			padding: 70px 130px 25px;
			flex-grow: 1;
			overflow: auto;

			@at-root #ftree-layout {
				white-space: nowrap;

				@at-root #subtree {
					position: relative;
					
					.node-container {
						white-space: normal;
						@extend %node-container;
					}
				}
			}
		}
	}
}
