#below-header {
    background-color: white;
}
#ftree-layout-container {

    height: 600px;

    >div {
        width: 100%;
        height: 100%;
        position: relative;
        // border: solid 1px black;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .clickable {
        cursor: crosshair;
    }
    .node {
        position: absolute;
        @include border-radius(50px);
        transition-property: opacity, height, width, left, top, font-size;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        overflow: hidden;
        color: $gray3;
        font-weight: 600;

        .dates {
        	display: none;
        }

        .avatar {
			width: 56px;
			height: 56px;
            @include border-radius(50%);
            border-width: 0;
            text-align: center;
            img {
                @include vertical-align();
                display: inline-block;
                width: auto;
                height: 34px;
            }

			.en & {
				float: left;
                margin-right: 4px;
			}
			.he & {
				float: right;
                margin-left: 4px;
			}
    	}
        .deceased {
            border: 4px solid $gray2;
        }
      	.name {
            font-size: 12px;
            overflow: hidden;
            @include vertical-align()
		}
    }

    .node[role="child"], .node[role="grandparent"], .node[role="sibling"],
    .node[role="grandchild"], .node[role="inlaw"], .node[role="stepsibling"] {

		.avatar {
			width: 30px;
            height: 30px;
            img {
                height:16px;
            }
		}
        
        .deceased {
            border: 2px solid $gray2;
        }
    }
    .node[role="grandparent"], .node[role="sibling"] {

        img {
            height: 28px;
        }
        .deceased {
            border: 2px solid $gray2;
        }
	}

    .node[role="grandchild"], .node[role="inlaw"], .node[role="stepparent"],
    .node[role="stepsibling"] {
        .name {
            display: none;
        }
    }
    .node[role="stepparent"], .node[role="parent"], .node[role="partner"]  {
		.avatar {
			width:52px;
            height:52px;
		}
        img {
            height:30px;
        }
        .deceased {
            border: 3px solid $gray2;
        }
    }

    .node[role="individual"] {
    	border: 5px solid $yellow4;
		z-index: 2;
        cursor: help;
        .avatar { margin-right: 0; }

		.dates {
			display: block;
            position: relative;
			word-spacing: 100px;
			text-align: right;
			width: 74px;
			font-size: 11px;
			height: 100%;
			line-height: 2.5;
			padding: 2px 10px;
			z-index: -1;

			.en & {
				float: left;
                left: -40px;
                margin-right: -36px;
                padding-left: 42px;
			}
			.he & {
				float: right;
                right: -40px;
                padding-right: 42px;
                margin-left: -36px;
			}
		}

		.name {
			font-size: 14px;
			font-weight: 700;
		}

    }
    .node[sex="U"] {
        background-color: $gray6;

        .avatar {
            background-color: $gray2;
		}

        .dates {
            background-color: $gray4;
        }
    }

    .node[sex="F"] {
        background-color: $red6;

        .avatar {
            background-color: $red2;
            .he & { @include flip(); }
		}

        .dates {
            background-color: $red4;
        }
    }

    .node[sex="M"] {
        background-color: $blue6;

        .avatar {
            background-color: $blue2;
            .he & { @include flip(); }
		}
        .dates {
            background-color: $blue4;
        }
    }

    .node > span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }


}

#ftree-item-container {
	width: 100%;
	padding: 0;
	background-color: #ffffff;

	@at-root #ftree-item {
		position: relative;
		width: $view-width;
		margin: 0 auto;
		background: #ffffff;
		@include border-radius(4px);
        border: 1px solid #aaaaaa;

		.ftree-title {
			position: relative;
			display: block;
			width: 100%;
			height: 50px; 
			background-color: $gray6;
			color: black;

            .pull-right {margin-top: 0; position: relative; height: inherit; }
            .en & {
                padding: 0 0 0 20px;
                .pull-right { float: right; }
            }
            .he & {
                padding: 0 20px 0 0px;
                .pull-right { float: left; }
            }


            h2 {
                background-color: white;
                color: black;
                font-weight: bold;
                width: 4em;
                font-size: 12px;
                text-align: center;
            }
            h3 {
                margin:0;
                font-weight: normal;
                font-size: 10px;
            }

			h2, h3, .icon-container, .mjs-widget-wrapper  {
				display: inline-block;
                @include vertical-align();

				.en & {
					float: left;
                    margin-right: 14px;
				}

				.he & {
					float:right;
                    margin-left: 14px;
				}
			}

			&__tree-icon {
				width: 15px;
                height: 18px;
			}

			&__people-icon {
				width: 18px;
                height: 18px;
			}
			&__back {
			  	background-color: #bf311a;
				height: 100%;
                color: #ffffff;
                height: 48px;
                .en & {
                    float: left;
                    padding-left: 7px;
                    width: 164px;
                }
                .he & {
                    float: right;
                    padding-right: 7px;
                    width: 194px;
                }

				&:hover {
					background-color: #666666;
                    /*
					&:after {
						border-top: 46px solid #666666;
					}
                    */
				}

				.tree-view & {
					display: none;
				}

				&-icon {
                    @include vertical-align();
					width: 31px;
					height: 30px;
				}
                h3 {
                    @include vertical-align();
                    font-size: 24px;
                }

			}
		}

		@at-root #mjs-widget-container {
			display: inline-block;
			position: relative;
			top: 17px;

			.en & {
				margin-left: 38px;
			}

			.he & {
				margin-right: 38px;
			}
		}

		.babylonLogo {
			position: absolute;
			top: 13px;
			display: inline-block;
			
			.en & {
				right: 189px;
			}
			.he & {
				left: -189px;
			}
			.tree-view & {
				display: none;
			}

			&:hover {
				.babylonLogo__desc {
					display: inline-block;
				}
			}

			&__desc {
				display: none;
				position: absolute;
				background-color: #e98909;
				color: #ffffff;
				width: 168px;
				top: -13px;
				padding: 3px 10px;
				font-size: 80%;

				 .en & {
				 	left: 21px;
				 }
				 .he & {
				 	right: 21px;
				 }
			}
			.avatar {
				position: absolute;
				width: 107px;
				height: auto;
				top: 10px;

				.en & {
					left: 82px;
				}
				.he & {
					right: 82px;
				}
			}
		}

		@at-root #ftree-layout-container {
			overflow: auto;

			@at-root #ftree-layout  {
                overflow: hidden;
                cursor: all-scroll;
            }
		}
	}
}

#ftree-node-details {
    position: absolute;
    top: 56px;
    background-color: $yellow7;
    width: 200px;
    overflow: hidden; 
    z-index: 10;
    line-height: 18px;
    padding: 0;
    @include box-shadow(0 0 10px 0px $gray4);
    .en & {
        right: 0;
        .pull-right { float: right; }
    }
    .he & {
        left: 0;
        .pull-right { float: left; }
    }

    .header {
        padding: 0.2em;
        background-color: $yellow5;
        width: 100%;
        line-height: 28px;
        font-size: 120%;
        font-weight: bold;
    }
    .body {
        padding: 0.2em;
        height: 554px;
        overflow: auto;
    }
    h3 {
        line-height: 10px;
        font-size: inherit;
        font-weight: bold;
    }
}

