#header-container {
	position: relative;
	z-index: 2;
	height: $header-height;
	width: 100%;
	background: #ffffff;

	@at-root #header {
		position: relative;
		margin: 0 auto;
		max-width: $view-width;
		height: 100%;
		background: inherit;
		z-index: 1;

		.logo {
			position: relative;
			display: inline-block;
			top: 10px;
			width: 45px;
			height: 50px;
			z-index: 1;
			@include hover-pointer();
			@include icon(-26px -14px);
		}

		.mystory-icon {
			position: relative;
			top: -8px;
			display: inline-block;
			vertical-align: middle;
			width: 86px;
			height: 24px;
			z-index: 1;
			@include hover-pointer();
			@include icon(-83px -24px);

			.en & {
				margin-left: 20px;
			}

			.he & {
				margin-right: 20px
			}

			&:hover {
				@include icon(-83px -53px);				
			}
		}

		.search-area {
			position: relative;
			top: -53px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 5px 0;
			vertical-align: top;
			z-index: 0;

			&__form {
				width: 425px;
				margin: 0 auto;

				&__input {
					height: 30px;
					width: 360px;
					font-size: 12px;

					.en & {
						padding: 0 45px 0 10px;
					}

					.he & {
						padding: 0 10px 0 45px;	
					}
				}

				&__search-button {
					position: relative;
					display: inline-block;
					height: 23px;
					width: 15px;
					vertical-align: top;
					@include hover-pointer();
					@include icon(-350px -24px);

					.en & {
						left: -32px;
					}

					.he & {
						right: -32px;	
					}
				}
			}
		}

		.dropdown-icons {
			padding: 22px 0;
			position: absolute;
			top: 0;
			z-index: 1;

			.en & {
				right: 0;
			}

			.he & {
				left: 0;
			}

			&__language-selector {
				width: 29px;
				color: #f9f9f9;
				font-weight: bold;

				.language-icon--en, .language-icon--he {
					display: inline-block;
					width: 29px;
					height: 29px;
					@include hover-pointer();
				}

				.language-icon--en {
					@include icon(-312px -24px);
				
					&:hover {
						@include icon(-312px -54px);	
					}
				}

				.language-icon--he {
					@include icon(-312px -86px);
				
					&:hover {
						@include icon(-312px -116px);	
					}
				}
				
				.language-menu {
					display: none;
					position: relative;
					height: 145px;
					width: 330px;
					top: 15px;
					background: #ffffff;
					color: #333333;
					border-bottom: 2px solid #5ecad8;

					.en & {
						left: -300px;
					}

					.he & {
						right: -300px;
					}

					&__title, &__row {
						height: 42px;
						padding: 8px 15px 0;
						border-bottom: 2px solid #eceaea;
						font-size: 15px;
					}

					&__title {
						height: 44px;
					}

					&__row {
						@include hover-pointer();
						
						&:hover {
							color: #5dc2d4;
							
							.language-icon--en {
								@include icon(-312px -54px);	
							}

							.language-icon--he {
								@include icon(-312px -116px);	
							}
						}

						&__language-desc {
							position: relative;
							top: -5px;
							display: inline-block;
							height: 100%;
							width: auto;
							vertical-align: middle;

							.en & {
								right: -5px;
							}

							.he & {
								left: -5px;	
							}
						}
					}
					
				}
				
				&.open {

					.language-menu {
						display: block;
					}
				}
			}
		}
	}
}


#secondary-header {
	position: relative;
	z-index: 1;

	@at-root #notification-bar-container {
		position: relative;
		height: $secondary-header-height;
		width: 100%;
		@include linear-gradient(#bbbdbc, 0, #d4d6d5, 20%);
		border-bottom: 2px solid #ffffff;
		z-index: 1;
		font-size: 12px;

		@at-root #notification-bar {
			position: relative;
			width: 1140px;
			height: 100%;
			margin: 0 auto;
			padding: 15px 0;

			@at-root #search-again-trigger {
				position: absolute;
				bottom: 6px;
				border: 1px solid #969fa2;
				padding: 5px;
				@include border-radius(5px);
				@include hover-pointer();

				.en & {
					right: 189px;	
				}

				.he & {
					left: 189px;	
				}

				img {
					height: 10px;
					width: auto;
				}
			}
		}
	}

	@at-root #search-again-container {
		position: absolute;
		width: 100%;
		background: transparent;
		z-index: 0;
		@include transition(all, 0.5s, ease);

		&.ng-hide {
			@include translate(0, -$max-search-again-height);
		}

		&.ng-hide-add, &.ng-hide-remove {
			display: block !important;
		}

		@at-root #search-again {
			position: relative;
			min-height: 190px;
			max-height: $max-search-again-height;
			width: 760px;;
			margin: 0 auto;
			padding: 30px 0 0;
			background: rgba(248, 248, 255, 1);
			border-bottom: 4px solid #5ec5d6;

			.wizard-form {
				margin: 0 auto;

				&__field {

					&__suggestions {
						margin: 10px 0 0;
						width: 294px;

						&__suggestion {
							display: inline-block;
							margin: 5px;
							padding: 5px;
							border: 1px solid grey;
							font-size: 11px;
							@include border-radius(5px);
							@include hover-pointer();
						}
					}
				}
			}
		}	
	}
}