%item-preview {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 306px;
	height: 150px;
	@include box-shadow(0 0 6px 0 #999);

	&:hover {
		.white-part1 {
			width: 240px;

			&--nothumb {
				width: initial;
			}
		}
        .type {
            width: 26px;

            .type-desc-container {
                width: 0; 
            }
        } 
	}

    .type {
        @extend %item-type;
        top: 118px;

        &--thumbData {
            @extend %item-type--thumbData;
        }
    }

	.diagonal-block {

        .he & {
            @include flip ();
        }

		.diagonal-separator {
			position: absolute;
			height: 150px;
			width: 8px;
			@include skew(16deg);
			background: $yellow3;
		}
	}
		
	.white-part1 {
		position: relative;
	  	border-bottom: 150px solid #ffffff;
	  	transition: width 1s;
	  	width: 292px;
	  	top: 0px;

	  	.en & {
	  		border-right: 42px solid transparent;
	  	}

	  	.he & {
	  		border-left: 42px solid transparent;
	  	}

	  	&--nothumb {
			width: 100%;

			.en & {
				border-right: 0px solid #ffffff;
			}
			.he & {
				border-left: 0px solid #ffffff;
			}
		}
	}

	.header {
		position: absolute;
		color: $red2;
		font-weight: 700;
		margin: 10px 15px 10px;
		font-size: 13px;
		width: 164px;
		max-height: 36px;
  		overflow: hidden;

		&--nothumb {
			width: 94%;
		}
	}

	.text {
		position: absolute;
	    overflow: hidden;
		color: $gray3;
		font-size: 14px;
		height: 86px;
		line-height: 17px;
		margin: 50px 15px 0;
		width: 200px;

		code {
            font-family: inherit;
            
            &:before, &:after {
                content: "'";
            }   
        }

		&--nothumb {
			height: 88px;
			width: 90%;
		}
        p {
            display: inline; 
            a {
                pointer-events: none;
                text-decoration: none;
                color: $gray3;
            }
	    }
    }	

	.thumbnail {
		position: absolute;
		width: 50%;
		height: 100%;
		overflow: hidden;
		.en & {
			right: 0;
		}

		.he & {
			left: 0;
		}

		img {
			position: absolute;
			height: 100%;

			.en & {
				right: 0px;
			}

			.he & {
				left: 0;
			}
		}
	}

	.remove {
		width: 18px;
		height: 20px;	
		overflow: hidden;
		margin-top: 8px;

		.en & {
			float: right;
		}

		.he & {
			float: left;
		}
	}
}

