#item-page-container {
	width: 100%;
	height: 100%;
	background: #eeeeee;
	overflow: auto;

	@at-root #item-page {
		width: $view-width + 66px;
		margin: 0 auto;

		.item-container, .related {
			display: inline-block;
			vertical-align: top;
			padding: 50px 0 10px;

			.item {
				@include item-bottom-border();
				@include item-shadow();
			}
		}

		.item-container {
			width: 700px;
			height: auto;
			margin: 0 15px;

			.item {
				position: relative;
				width: auto;
				padding: 0 20px;
				background: #ffffff;

				&__type {
					@extend %item-type;
					margin-bottom: 20px;
	
					.en & {
						margin-right: 11px;
					}

					.he & {
						margin-left: 11px;	
					}

					.type-icon-container {
						padding-top: 7px;
					}
				}

				&__header {
					width: 100%;
					min-height: 84px;
					padding-top: 32px;
					padding-bottom: 32px;
					border-bottom: 1px solid #dfdfdf;

					.text {
						color: #333333;
						font-size: 36px;
					}
				}

				.add-wrapper {
					position: relative;
					display: inline-block;

					&.open {

						.add-dialog {
							display: block;
						}
					}

					.add-dialog {
						display: none;
						position: absolute;
						z-index: 1;
						top: 14px;
						width: 336px;
						height: 92px;
						background: #f5f5f5;
						border: 2px solid #c4c4c4;
						text-align: center;
						padding: 15px 0 25px;
						font-size: 14px;

						.en & {
							left: -15px;
						}

						.he & {
							right: -15px;
						}

						&:after, &:before {
							bottom: 100%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}

						&:before {
							border-bottom-color: #c4c4c4;
							border-width: 9px;
							
							.en & {
								left: 19px;
							}

							.he & {
								right: 19px;
							}
						}

						&:after {
							border-bottom-color: #f5f5f5;
							border-width: 6px;

							.en & {
								left: 22px;
							}

							.he & {
								right: 22px;
							}
						}

						&__title {
							font-size: 20px;
							margin-bottom: 8px;
						}

						&__view, &__remove {
							text-decoration: underline;
							@include hover-pointer();
						}

						&__separator {
							margin: 0 3px;
						}

						.mystory {
							position: relative;
							height: 25px;
							display: inline-block;
							vertical-align: bottom;
							z-index: 1;
							@include hover-pointer();

							&__icon {
								width: 25px;
								height: 24px;
								display: inline-block;

								.en & {
									margin-left: 3px;
								}

								.he & {
									margin-right: 3px;									
								}
							}

							&__text {
								display: inline-block;
								vertical-align: bottom;
								padding: 0 0 3px;
								//text-decoration: underline;
							}
						}
					}
				}

				.add {
					display: inline-block;
					color: #f9af37;
					padding-top: 12px;
					@include hover-pointer();

					&__icon {
						width: 21px;
						height: 21px;
						display: inline-block;
					}

					&__text {
						padding: 0 2px 5px 0;
						font-size: 12px;
						font-weight: bold;
						display: inline-block;
						vertical-align: bottom;
					}
				}

				&__content {
					width: 100%;
					padding-top: 12px; 
					padding-bottom: 12px;
					line-height: 20px;

					&__image-container {
						position: relative;
						width: 660px;
						height: 290px;
						overflow: hidden;
						margin: 0 0 20px 0;

						img {
							position: absolute;
							width: inherit;
							height: auto;
							left: 50%;
							top: 50%;
							@include translate(-50%, -50%);
						}
					}
				}

				&__bottom-bar {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 125px;
					border-top: 1px solid #dfdfdf;
					padding-top: 6px;
					padding-bottom: 20px;

					.add {
						padding-top: 0;
						padding-bottom: 45px;
					}

					.flag {
						width: 32px;
						height: 32px;
						@include hover-pointer();
					}
				}
			}
		}

		.related {
			width: 200px;
			height: 100%;

			.item-preview {
				@extend %item-preview;
				width: inherit;
				margin: 0 0 18px;
				@include hover-pointer(); 

				.type {
					font-size: 11px;

					.type-icon-container {
						padding-top: 3px;
					}
				}

				.header {
					margin: 36px 0 12px;
				}

				.text {
					height: 50px;
					line-height: 16px;
					margin: 0 0 15px;

					&--nothumb {
						height: 100px;
					}
				}

				.thumbnail {
					width: 180px;
					height: 180px;
				}
			}
		}
	}
}
