%bottom-bar {
    position: relative;
    display: inline-block;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 66px;

    .en & {
        padding-right: 10px;
    }
    .he & {
        padding-left: 10px;
    }

    .footer {
        position: relative;
        width: 440px;
        height: 66px;
        display: inline-block;
        background-color: #48C3D3;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;

        &.modal-gallery {
            width: 52%;
            bottom: -1px;
        }

        .en & {
            margin-right: 60px;
        }
        .he & {
            margin-left: 60px;
        }

        &:after {
            border-top: solid 66px #48C3D3;
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: 0;

            .en & {
                border-right: solid 30px transparent;
                left: 100%;
            }
            .he & {
                border-left: solid 30px transparent;
                right: 100%;
            }
        }
        .share-item {
            display: flex;

            .en & {
                left: 26px;
            }

            .he & {
                right: 26px;
            }

            .share-item-header {
                .en & {
                    margin-right: 10px;    
                }
                .he & {
                    margin-left: 10px;
                } 
            }

            tweet {
                  margin-right: 10px;
            }
        }
        .print-icon-wrapper {
            display: flex;

            .en & {
                right: 20px;
            }
            .he & {
                left: 20px;
            }

            &.modal-gallery {

                .en & {
                    right: 50px;
                }
                .he & {
                    left: 50px;
                }
            }

            .print-descr {

                margin-top: 4px;

                .en & {
                    margin-right: 10px;
                }
                .he & {
                    margin-left: 10px;
                }
            }

            .print-icon {
                width: 30px;
                height: 30px;
            }
        }
    }

    .mjs-widget-wrapper {
        position: relative;
        display: inline-block;
        @include translate(0, -50%);
        
        .en & {
            margin-right: 60px;
        }
        .he &  {
            margin-left: 60px;
        }
    }

    .check-related {
        color: #ffffff;
        width: 84px;
        background-color: #FBB033;
        height: 50px;
        width: 80px;
        padding-top: 8px;
        display: inline-block;

        .en & {
           padding-left: 10px;
           margin-right: 25px; 
        }
        .he & {
            padding-right: 10px;
            margin-left: 25px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;

            .en & {
                left: 100%;
                border-left: 25px solid #FBB033;
            }
            .he & {
                right: 100%;
                border-right: 25px solid #FBB033;
            }
        }

        &__text {
            position: absolute;
            font-size: 12px;
            line-height: 15px;
            z-index: 1;
            width: 100%;
            font-weight: 600;
        }
    }

    .add {
        padding-top: 0;
        padding-bottom: 45px;
    }

    .flag {
        width: 32px;
        height: 32px;
        @include hover-pointer();
    }
}

#item-page-container {
    width: 100%;
    background: #F6F6F6;
    overflow: auto;

    @at-root #item-page {
        width: $view-width + 168px;
        margin: 0 auto;
        background-color: #F6F6F6;

        .right-side {
            display: inline-block;
            vertical-align: top;
            width: 310px;
            margin: 20px 16px;
        }

        .item-container, .search-results {
            display: inline-block;
            vertical-align: top;
        }

        .item-container {
            position: relative;
            width: 800px;
            height: auto;
            margin: 20px 16px 20px 88px;
            margin-left: 88px;
            background-color: #F6F6F6;

            .item {
                position: relative;
                width: 100%;

                &__type {
                    @extend %item-type;
                }

                &__header {
                    width: 100%;
                    padding: 0 10px;
                    margin-bottom: 15px;
                    background-color: #F6F6F6;

                    .text {
                        color: #999999;
                        font-size: 24px;
                    }
                }
                .item-wrapper {
                    @include box-shadow(0 0 6px 0 #999);
                    background: #ffffff;
                }

                .add-wrapper {
                    position: relative;
                    display: inline-block;

                    &.open {

                        .add-dialog {
                            display: block;
                        }
                    }

                    .add-dialog {
                        display: none;
                        position: absolute;
                        z-index: 1;
                        top: 14px;
                        width: 336px;
                        height: 92px;
                        background: #f5f5f5;
                        border: 2px solid #c4c4c4;
                        text-align: center;
                        padding: 15px 0 25px;
                        font-size: 14px;

                        .en & {
                            left: -15px;
                        }

                        .he & {
                            right: -15px;
                        }

                        &:after, &:before {
                            bottom: 100%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }

                        &:before {
                            border-bottom-color: #c4c4c4;
                            border-width: 9px;
                            
                            .en & {
                                left: 19px;
                            }

                            .he & {
                                right: 19px;
                            }
                        }

                        &:after {
                            border-bottom-color: #f5f5f5;
                            border-width: 6px;

                            .en & {
                                left: 22px;
                            }

                            .he & {
                                right: 22px;
                            }
                        }

                        &__title {
                            font-size: 20px;
                            margin-bottom: 8px;
                        }

                        &__view, &__remove {
                            text-decoration: underline;
                            @include hover-pointer();
                        }

                        &__separator {
                            margin: 0 3px;
                        }

                        .mystory {
                            position: relative;
                            height: 25px;
                            display: inline-block;
                            vertical-align: bottom;
                            z-index: 1;
                            @include hover-pointer();

                            &__icon {
                                width: 25px;
                                height: 24px;
                                display: inline-block;

                                .en & {
                                    margin-left: 3px;
                                }

                                .he & {
                                    margin-right: 3px;                                    
                                }
                            }

                            &__text {
                                display: inline-block;
                                vertical-align: bottom;
                                padding: 0 0 3px;
                            }
                        }
                    }
                }

                .add {
                    display: inline-block;
                    color: #f9af37;
                    padding-top: 12px;
                    @include hover-pointer();

                    &__icon {
                        width: 21px;
                        height: 21px;
                        display: inline-block;
                    }

                    &__text {
                        padding: 0 2px 5px 0;
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }

                &__content {
                    width: 100%;
                    line-height: 20px;
                    background-color: #ffffff;

                    .scroll-to-top {
                        @include hover-pointer();
                        color: #BE3217;
                          text-decoration: underline;
                          font-weight: 600;
                          display: block;
                          margin: 10px 26px;
                    }

                    &__media-container {
                        position: relative;
                        width: 800px;
                        height: 300px;
                        overflow: hidden;
                        background-color: #666666;

                        &:hover {
                            .white-part {
                                width: 172px;
                            }
                            .arrow-left, .arrow-right {
                                opacity: 1;
                            } 
                            .notification {
                                display: block;
                            }
                        }

                        &--movie {
                            height: auto;
                            background-color: #ffffff;
                        }

                        &--photoUnit {

                            .arrows {
                                @extend %arrows;
                            }

                            height: 540px;

                            &:hover {
                                .arrow-left, .arrow-right {
                                    opacity: 1;
                                } 
                            }
                        }

                        video {
                            display: block;
                            margin-left: auto;
                            margin-right: auto; 
                        }

                        %image-wrapper {
                            background-color: #666666;
                            position: absolute;
                            height: 100%;
                            width: 370px;
                            transform: skew(16deg);
                            display: inline-block;
                            left: -43px;
                            overflow: hidden;
                        }

                        .main-img-wrapper {

                              &--display-more {
                                  background-color: #666666;
                                  position: absolute;
                                  height: 100%;
                                  width: 370px;
                                  display: inline-block;
                                  overflow: hidden;

                                  .en & {
                                    transform: skew(16deg);
                                    left: -43px;
                                  }
                                  .he & {
                                    transform: skew(-16deg);
                                    right: -43px;
                                  }

                                .picture {

                                    &--display-more {
                                        
                                        .en & {
                                            transform: translate(-38%, -50%) skew(-16deg);
                                        }
                                        .he & {
                                            transform: translate(-38%, -50%) skew(16deg);
                                        }
                                    }

                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }
                        .add-img-wrapper {
                                background-color: #666666;
                                height: 100%;
                                width: 357px;
                                display: inline-block;
                                position: absolute;
                                overflow: hidden;

                                .en & {
                                    transform: skew(16deg);
                                    left: 327px;
                                }
                                .he & {
                                    transform: skew(-16deg);
                                    right: 327px;
                                }

                                .picture {
                                    &--display-more {
                                        
                                        .en & {
                                            transform: translate(-50%, -50%) skew(-16deg);
                                        }
                                        .he & {
                                            transform: translate(-50%, -50%) skew(16deg);
                                        }
                                    }

                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }

                            .image-separator {
                                position: absolute;
                                height: 100%;
                                width: 10px;
                                background: #FAAE34;

                                .en & {
                                    left: 0;
                                }
                                .he & {
                                    right: 0;
                                }
                            }
                        }

                        .picture {
                            position: absolute;
                            height: initial;
                            width: auto;
                            left: 50%;
                            top: 50%;
                            @include translate(-50%, -50%);
                        }

                        .notification {
                            display: none;
                            position: absolute;
                            top: 50%;
                            color: #ffffff;
                            font-size: 34px;
                            text-shadow: 3px 2px #666666;
                            @include hover-pointer();

                            .en & {
                                left: 40%;
                            }
                            .he & {
                                 right: 40%;
                            }
                        }
                        .white-part {
                            position: absolute;
                            border-top: 367px solid white;
                            height: 0;
                            width: 240px;
                            transition: width 1s;
                            -webkit-transition: width 1s;

                            .en & {
                                border-left: 105px solid transparent;
                                right: 0;
                            }
                            .he & {
                                border-right: 105px solid transparent;
                                left: 0;
                            }
                        
                            .diagonal-block {
                                .he & {
                                    @include flip ();
                                }
                                .diagonal-separator {   
                                    position: absolute;
                                    top: -367px;
                                    height: 300px;
                                    width: 10px;
                                    background: #FAAE34;
                                    @include skew(16deg);
                                    @include box-shadow (61px 363px 239px 55px #999);
                                }
                            }
                        }

                        .pictures-info {
                            display: flex;
                            position: absolute;
                            top: -346px;
                            line-height: 1.5;
                            color: #999999;
                            width: 94px;
                            font-size: 15px;

                            .en & {
                                right: 10px;
                            }
                            .he & {
                                left: 10px;
                            }

                        }

                        video {
                            width: 660px;
                        }
                    }

                    .type {
                        @extend %item-type;
                    }
                }
                .header-wrapper {
                    position: relative;
                    padding: 26px 0;

                    .mjs-widget-wrapper {
                        padding-top: 35px;
                        padding-bottom: 10px;

                        .mjs-widget-dialog {
                            top: 76px;
                        }

                        .en & {
                            float: right;
                        }
                        .he & {
                            float: left;
                        }
                    }
                }

                &__article-header {
                    position: absolute;
                    margin: 0px 26px;
                    color: #BE3217;
                    max-width: 640px;
                    line-height: 26px;
                    .en & {
                        font-weight: 700;
                    }
                    .he & {
                        font-weight: 600;
                    }
                }
                &__article-text {
                    white-space: normal;
                    line-height:26px;
                    margin: 0px 26px;
                    color: #666666;
                    font-size: 18px;
                    br {
                       margin-bottom: 20px;
                    }
                    p {
                        margin: 18px 0;
                    }
                    a, a:visited {
                        color: #666666;
                    }
                    a:hover, a:active {
                        color: #444444;
                    }
                }

                &__bottom-bar {
                    @extend %bottom-bar;
                }
            }
        }
        .search-results {
            width: 306px;
            height: 100%;

            &__header {
                font-size: 24px;
                padding: 0 10px;
                color: #999999;
                margin-bottom: 15px;
            }
            &__field {
                position: relative;
                width: 306px;
                height: 46px;
                color: #B2361A;
                @include box-shadow(0 0 6px 0 #999);
                background-color: #ffffff;
                margin-bottom: 15px;
                font-weight: 600;
                padding: 0 15px;
                @include hover-pointer();

                .type {
                    @extend %item-type;
                    bottom: 10px;
                }

                &:hover {
                    %item-type {
                        width: 28px;
                    }
                    .type-desc-container {
                        width: 0; 
                    }
                }

            }
        }

        .related {
            display: inline-block;
            vertical-align: top;
            width: 306px;
            height: 100%;

            &__header {
                font-size: 24px;
                padding: 0 10px;
                color: #999999;
                margin-bottom: 15px;
            }

            .item-preview {
                @extend %item-preview;

                .type {
                    @extend %item-type;
                    bottom: 10px;
                }

                &:hover {
                    %item-type {
                        width: 26px;

                        .type-desc-container {
                            width: 0; 
                        }
                    }
                    
                }
            }
        }
    }
}
.vertical-middle {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    margin-top: 0;
    margin-bottom: 0;
}
