.mjs-widget-wrapper {
  position: relative;
  display: inline-block;
  line-height: 26px;
  z-index: 1;
  cursor: pointer;

  &.open {
    .mjs-widget-icon svg{
      .btn-backcolor{fill:#666766;}
    }

    .mjs-widget-dialog {
      display: block;
    }
  }

  .mjs-widget-icon{
    position: relative;

    #add_to_story, #in_my_story {
      width: 112px;
      height: 34px;
    }
    #add_to_story_sm, #in_my_story_sm {
      width: 66px;
      height: 34px;
    }

    svg {
      .btn-backcolor {fill: #cb5947;}
      .btn-backcolor-sm {fill:#e6e6e6;}

      .cls-2 {fill:#fff;}
      .cls-2-sm {fill:#666;}

      .circle-sm {fill:#fff;}

      .cls-3 {
        fill:none;
        stroke: #666766;
        stroke-linecap:round;
        stroke-miterlimit:10;
        stroke-width:3.6px;
      }
    }

    svg:hover {
      .btn-backcolor, .btn-backcolor-sm{fill:#666766;}
      .cls-2-sm{fill:#fff;}
    }
  }

  .mjs-widget-dialog {
    display: none;
    @include horizontal-centering();
    z-index: 1;
    top: 40px;
    text-align: center;
    font-size: 14px;
    @include box-shadow(0 0 6px 0 #999);

    &__view, &__remove {
      padding: 10px 15px;
      background-color: #d6d6d6;
      width: 140px;
      color: #666666;
      text-decoration: none;
      cursor: pointer;

      .en & {
        text-align: left;
      }
      .he & {
        text-align: right;
      }

      &:hover {
        background-color: #c8c8c8;
      }
    }

    .mystory {
      position: relative;
      height: 25px;
      display: inline-block;
      vertical-align: bottom;
      z-index: 1;
      cursor: pointer;

      &__icon {
        width: 25px;
        height: 24px;
        display: inline-block;

        .en & {
          margin-left: 3px;
        }

        .he & {
          margin-right: 3px;
        }
      }

      &__text {
        display: inline-block;
        vertical-align: bottom;
        padding: 0 0 3px;
        //text-decoration: underline;
      }
    }
  }
}
