#mjs-container {
	width: $view-width;
	height: 100%;
	margin: 0 auto;
	padding-top: 45px;

	@at-root #unassigned {
		position: absolute;
		top: 30px;
		width: 100px;
		height: 430px;

		.item {
			
		}
	}

	@at-root #molecules {
		position: relative;
		width: 290px;
		height: 290px;
		margin: 0 auto;

		.silhouette {
			position: relative;
			width: 100px;
			height: 100px;
			top: 85px;
			margin: 0 auto;
			background: #ffffff;
			@include border-radius(50%);
		}

		.branch {
			position: absolute; 
			width: 100px;
			height: 100px;
			@include transition(all, 0.5s, linear);

			&--first {
				left: 0;
				top: 0;

				&--selected {
					@include translate(-100px, -75px);
				}
			}

			&--second {
				right: 0;
				top: 0;
			
				&--selected {
					@include translate(100px, -75px);
				}
			}

			&--third {
				bottom: 0;
				right: 0;

				&--selected {
					@include translate(100px, 75px);
				}
			}

			&--fourth {
				bottom: 0;
				left: 0;

				&--selected {
					@include translate(-100px, 75px);
				}
			}

			&__head {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				background: #ffffff;
				border: 14px solid rgba(178, 237, 246, 0.6);
				@include border-radius(50%);
			}

			&__content {
				position: absolute;
				left: 50%;
				top: 50%;
				@include translate(-50%, -50%);
				width: 330px;
				height: 280px;
				background: rgb(178, 237, 246);
				opacity: 0.3; 
				@include transition(all, 0.6s, linear, 0.6s);

				&.ng-hide {
					opacity: 0;
				}

				&.ng-hide-add {
					@include transition(all, 0.4s, linear);
				}
			}
		}
	}
}