.mjs-widget-wrapper {
	position: relative;
	display: inline-block;

	&.open {

		.mjs-widget-dialog {
			display: block;
		}
	}

	.mjs-widget-icon{
		display: inline-block;
		width: 65px;
		height: 64px;
	    
		@include hover-pointer();
	}

	.mjs-widget-dialog {
		//display: none;
		position: absolute;
		z-index: 1;
		top: 75px;
		//width: 336px;
		//height: 92px;
		text-align: center;
		/*padding: 15px 0 25px;*/
		font-size: 14px;

		.en & {
			left: 0;
		}

		.he & {
			right: 0;
		}

		&__title {
			position: relative;
			text-align: center;
			background-color: #999999;
			color: white;
			width: 140px;
			font-size: 16px;
			padding: 3px auto;
			margin-bottom: 2px;

			&:before {
				content: "";
				position: absolute;
				height: 0;
				width: 0;
				border-width: 0 70px 16px;
				border-style: solid;
				border-color: transparent transparent #999999;
				top: -16px;
				left: 0px;
			}
		}

		&__view, &__remove {
			padding: 10px 15px;
			text-align: left;
			background-color: #d6d6d6;
			width: 140px;
			color: #959595;
			text-decoration: none;

			@include hover-pointer();

			&:hover {
				color: #474747;
			}
		}

		.mystory {
			position: relative;
			height: 25px;
			display: inline-block;
			vertical-align: bottom;
			z-index: 1;
			@include hover-pointer();

			&__icon {
				width: 25px;
				height: 24px;
				display: inline-block;

				.en & {
					margin-left: 3px;
				}

				.he & {
					margin-right: 3px;									
				}
			}

			&__text {
				display: inline-block;
				vertical-align: bottom;
				padding: 0 0 3px;
				//text-decoration: underline;
			}
		}
	}
}
