
#mjs-page-container {
	width: 100%;
	height: 100%;
	background-color: $gray7;

	#mjs-header-wrapper {
		height: 250px;
		background-color: $gray5;

		.mjs-header {
			margin: 0 auto;
			width: 1070px;
			height: 100%;
			background-color: #fff;
			
			.en & {
				transform: skew(16deg);
			}
			.he & {
				transform: skew(-16deg);
			}

			.image-separator {
			    height: 100%;
			    width: 10px;
			    background: $yellow3;
			    
			    .en & {
			    	float: right;
			    }
			    .he & {
			    	float: left;
			    }
			}

			.item-preview-pic1, .item-preview-pic2, .ftree-pic-wrapper {
				height: 100%;
				width: 190px;
				position: relative;
				overflow: hidden;

				.en & {
					float: right;
				}

				.he & {
					float: left;
				}
			}

			.top-pic {
				position: absolute;
			    top: 50%;

			    .en & {
			    	left: 50%;
			    	transform: translate(-50%, -50%) skew(-16deg);
			    }

			    .he & {
			    	right: 50%;
			    	transform: translate(50%, -50%) skew(16deg);
			    }
			}

			.diagonal-block {
				position: relative;
    			height: 100%;

    			.en & {
    				float: right;
    			}
    			.he & {
    				float: left;
    				 @include flip ();
    			}

    			.diagonal-separator {
    				position: absolute;
    				background-color: $yellow3;
    				width: 10px;
    				height: 100%;
    			}
			}

			.silhouette {
				position: absolute;
			    top: 50%;
				color: $gray3;
				display: flex;
                align-items: center;

                 &:hover {
                        .edit-branch-icon.username {
                            display: inline-block;
                        }
                    }

				.en & {
                    padding-right: 74px;
					left: -56px;
					transform: translate(0%, -50%) skew(-16deg);
				}

				.he & {
                    padding-left: 74px;
					right: -56px;
					transform: translate(0%, -50%) skew(16deg);
				}

                &__avatar {
                    width: 119px;
                    height: 114px;
                }
				
				&__description {
				 	
				 	.en & {
				 		margin-left: 10px;
				 	}
				 	.he & {
				 		margin-right: 10px;
				 	}

                    &__username {
                        position: relative;
                    }
				}
			}

			.share-item {
				display: flex;
			    bottom: 26px;
			    position: absolute;
			    justify-content: space-between;
    			width: 180px;
			    
			    .en & {
			    	left: 18px;
			    	transform: skew(-16deg);
			    }

			    .he & {
			    	right: 18px;
			    	transform: skew(16deg);
			    }

			    &__header {
			    	margin-top: 6px;
			    	font-size: 10px;
			    }

			    &__icon {
			    	width: 30px;
			    	height: 30px;
			    }
			}
		}
	}

	.mjs-menu {
        position: relative;
        margin: 0 auto;
        width: 100%;
        box-shadow: 0px -10px 10px 0px #b0b0b0;

        ul.nav {
            margin: 0 auto;
            display: block;
            max-width: 1150px;
            padding-left: 0;
            display: flex;
            justify-content: space-between;

            li.menu-item {
            	display: inline-block;
            	width: 174px;
            	height: 70px;
            	line-height: 20px;
            	font-size: 18px;
                position: relative;
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                @include hover-pointer();
                padding: 4px 4px;
                vertical-align: middle;
                margin-top: -10px;

                .en & {
                	text-align: left;
                }

                .he & {
                	text-align: right;
                }

                &:after {
                	content: "";
                	width: 0; 
					height: 0; 
					border-top: 10px solid transparent;
					top: 0;
					position: absolute;

					.en & {
						left: 100%;
						border-left: 6px solid black;
					}
					.he & {
						right: 100%;
						border-right: 6px solid black;
					}
                }

                &:hover {
                	height: 80px;
	                    .edit-branch-icon {
	                    	display: block;
	                    }

                }

                &--active {
                    background-color: $yellow3;
                }

                &--selected {
                	height: 80px;
                }

                .clickable-area {
					width: 100%;
					height: 100%;
				}

				.branch_name {
					position: absolute;
					transform: translate(-50%, -50%);
					top: 50%;
					left: 50%;
					width: 78%;
                    overflow: hidden;
                    word-break: break-word;
                    max-height: 85%;
                    text-overflow: ellipsis;

					&__num {
						font-size: 14px;
                        display: inline-block;
					}
				}
				.rename {
                    @include centering();
					width: 90%;
					background-color: inherit;
				    border: none;
				    font-size: inherit;
				   	color: #fff;
				    font-weight: inherit;
				    outline: none;
				}
            }
            
        }
    }

    .item-preview-wrapper {
	    margin: 20px auto;
	    max-width: 1170px;

	    a {
	        text-decoration: none;
	    }

	    .item-preview {
	        @extend %item-preview;
            margin: 20px 37px;
	    }

	    .mjs {
			width: inherit;
		    line-height: 24px;
		    font-size: 12px;
		    padding: 0 10px;
		    font-weight: 600;
		    color: $gray3;
			background-color: $gray6;
			@include box-shadow(0 0 6px 0 $gray4);
			position: relative;

			&.open {
				.mjs_branches_popover {
					display: block;
				}
			}

			&:hover {
				.arrow-down {
					display: inline-block;
				}
			}

			.branch_preview {
				display: inline-block;
			    list-style-type: none;
			    margin: 0 10px;
			    padding: 0;
			    overflow: hidden;

				li {
					width: 20px;
					height: 20px;
					display: inline-block;
					
					.en & {
						margin-right: 4px;
						float: left;
					}

					.he & {
						margin-left: 4px;
						float: right;
					}
				}
			}

			.arrow-down {
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 18px solid $gray3;
				display: none;

				.en & {
					right: 10px;
				}
				.he & {
					left: 10px;
				}
			}
		}
    }

}

.branch--0 {
	background-color: $red3;
}

.branch--1 {
	background-color: $red4;
}

.branch--2 {
	background-color: $yellow3;
}

.branch--3 {
	background-color: $blue3;
}

.branch--4 {
	background-color: $blue2;
}

.branch--5 {
	background-color: $blue8;
}

.mjs_branches_popover {
	display: none;
	position: absolute;
	z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $gray6;
    color: $gray3;
    font-size: 14px;
    @include border-radius(4px);
    @include box-shadow(0 0 6px 0 $gray4);

    &__line {
    	position: relative;
    	line-height: 2;
    	padding: 0 10px;

    	&:hover {
    		background-color: $gray5;

    		.edit-branch-icon {
    			display: block;
    		}
    	}

    	.remove-icon {
			width: 16px;
			height: 18px;
			margin: 4px 2px;
    		position: absolute;
    	}

    	input[type=checkbox] {
            display: none;

            &:checked + label:after {
                opacity: 1;
            }
        }

        &__desc {
        	
        	.en & {
        		margin-left: 30px;
        	}
        	.he & {
        		margin-right: 30px;
        	}
        }

    	label {
	    	position: relative;
	        width: 20px;
	        height: 20px;
	        border-radius: 5px;
	        margin-top: 4px;
	        @include hover-pointer();

	        .en & {
	           margin-right: 10px;
	           float: left;
	        }
	        .he & {
	            margin-left: 10px;
	            float: right;
	        }

	        &.checked {
				&:after {
					opacity: 1;
				}	        	
	        }

	        &:after {
		        content: '';
		        position: absolute;
		        top: 6px;
		        width: 11px;
		        height: 6px;
		        border: 3px solid #fff;
		        border-top: none;
		        border-right: none;
		        background: transparent;
		        opacity: 0;
		        box-sizing: border-box;
		        @include rotate($degrees:-45deg);

		        .en & {
		            left: 4px;
		        }
		        .he & {
		            right: 4px;
		        }
		    }
	    }
    }

    .close-button-back {
		background-color: $gray4;
	    width: 20px;
	    height: 20px;
	    @include hover-pointer();
	    bottom: 0;
	    position: relative;

	    .en & {
	    	float: right;
	    }
	    .he & {
	    	float: left;
	    }

	    &:hover {
	    	background-color: $red4;
	    }

	    .close-button {
	    	position: absolute;
	    	@include translate (-50%, -50%);
	    	top: 50%;
	    	left: 50%;
		    color: $gray3;
		    font-weight: 700;
	    }
	}
}

.edit-branch-icon {
	display: none;
	width: 14px;
	height: 15px;
	bottom: 6px;
    position: absolute;
    @include hover-pointer();

    .en & {
    	right: 6px;
    }

    .he & {
    	left: 6px;
    }

    &.username {
        //display: inline-block;
        .en & {
            right: -20px;
        }

        .he & {
            left: -20px;
        }

    }
}

.rmdialog {
	//display: none;
	position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    margin-top: 16px;
    @include border-radius(4px);
    @include box-shadow(0 0 6px 0 $gray4);
    background-color: $gray6;
    font-size: inherit;
    color: inherit;
    padding: 4px 20px;
    cursor: default;

    &:after, &:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
	}

	&:after {
		border-bottom-color: $gray6;
		border-width: 9px;
	}
	
	&:before {
		border-bottom-color: $gray4;
		border-width: 9px;
	}

    &__title {
    	display: block;
    	text-align: center;
    }

    &__actions {
    	padding: 0 10px;
    	display: flex;
    	justify-content: center;

    	&__action {
    		width: 80px;
    		line-height: 24px;
    		@include box-shadow(0 0 6px 0 $gray4);
    		font: 20px;
    		text-align: center;
    		color: inherit;
    		@include hover-pointer();

    		&__remove-icon {
    			top: 4px;
    			display: inline-block;
    			width:	16px;
    			height: 18px;
    		}

    	}
    }
}

.rm-popover {
    @include hover-pointer();
	&.open {
		.rmdialog {
			display: block;
		}
	}
}


