%search-input {
		border: 3px solid #91dbe4;
		width: 600px;
		height: 34px;
		color: #666;
		text-transform: capitalize;
		
		.en & {
			padding-left: 10px;
		}
		.he & {
			padding-right: 10px;
		}
	}

.search-button-label {
	color: #666;
	margin-bottom: 20px;
	display: inline-block;

	.en & {
		margin-right: 10px;
	}
	.he & {
		margin-left: 10px;
	}
}	
.gsearch-box-wrapper {
	position: relative;
	display: inline-block;

	#search-input {
		@extend %search-input;
	}

	.search-button-back {
		width: 40px;
		height: 30px;
		background-color: #91dbe4;
		position: absolute;
	    top: 2px;
	    border: none;
	    @include hover-pointer();

	    .en & {
	    	right: 2px;
	    }
	    .he & {
	    	left: 2px;
	    }

	    &:disabled {
	    	opacity: 0.5;
	    	cursor: default;
	    }

		.button {
			width: 18px;
			height: 18px;
			top: 50%;
			position: absolute;
			transform: translate(-50%, -50%);

			.en & {
				left: 50%;
			}
			.he & {
				left: 50%;
			}
		}
	}
}
.sub-header-container {	
	position: relative;
	z-index: 1;
	min-height: 94px;
	width: 100%;
	margin-top: -83px;
	
	@include transition(margin, 1s, ease); 
	
	&--general-search, &--recently-viewed {
		margin-top: 10px;
		@include box-shadow(0 1px 5px 1px #b0b0b0);
		background: #f5f5f5;
	}

	&--closed-add, 
	&--closed-remove { 
		z-index: 0;
		min-height: 94px !important; 
	}

	&--general-search {
		//min-height: 160px;

		.border-adhoc:before {

			.en & {
				left: 175px;
			}

			.he & {
				right: 187px;
			}
		}

		.border-adhoc:after {
			
			.en & {
				left: 178px;
			}

			.he & {
				right: 190px;
			}
		}
	}

	&--recently-viewed {
		//min-height: 92px;

		.border-adhoc:before {
			
			.en & {
				left: 215px;
			}

			.he & {
				right: 226px;
			}
		}

		.border-adhoc:after {

			.en & {
				left: 218px;
			}

			.he & {
				right: 229px;
			}
		}
	}

	.border-adhoc {
		position: relative;
		width: $view-width;

		@at-root #sub-header {
			width: $view-width;
			margin: 0 auto;

			.header-wizard {
				position: relative;
				//width: 865px;
				padding: 35px 0;
				opacity: 1;
				@include transition(all, 0.3s, ease);
				
				&.ng-hide {
					opacity: 0;
				}

				&.ng-hide-remove {
					height: 0;
					opacity: 0;
				}
				
				.wizard-form {
					margin: 0 auto;

					&__field {

						&__suggestions {
							margin: 10px 0 0;
							width: 294px;

							&__suggestion {
								display: inline-block;
								margin: 5px;
								padding: 5px;
								border: 1px solid grey;
								font-size: 11px;
								@include border-radius(5px);
								@include hover-pointer();
							}
						}
					}
				}
			}

			.general-search {
				color: #666;
				padding: 35px 0;

				.link-to-wizard {

					.en & {
						margin-left: 20px;
					}

					.he & {
						margin-right: 20px;
					}

					a {
						text-decoration: underline;
						@include hover-pointer();
					}
				}
			}

			.recently-viewed {
				position: relative;
				width: 100%;
				opacity: 1;
				padding: 11px 0;

				.recently-arrow {
					display: inline-block;
					vertical-align: middle;
					@include hover-pointer();

					&--disabled {

						&:hover {
							cursor: default;
							
							.recently-arrow__icon {
								
								img {
									@include important-translate(0, 0);
								}
							}
						}
					}

					&:hover {

						.recently-arrow__icon {

							img {
								@include translate(0, -39px);
							}
						}
					}

					&__icon {
						width: 24px;
						height: 35px;
					}
				}
				/*
				.arrow-right {
					width: 0; 
					height: 0; 
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;

					.en & {
						border-left: 15px solid #666666;
						margin-left: 5px;
					}

					.he & {
						border-right: 15px solid #666666;
						margin-right: 5px;
					}

					&--disabled {

						.en & {
							border-left: 15px solid #999999;						
						}

						.he & {
							border-right: 15px solid #999999;						
						}
					}
				}

				.arrow-left {
					width: 0; 
					height: 0; 
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent; 

					.en & {
						border-right: 15px solid #666666; 
						margin-right: 5px;
					}

					.he & {
						border-left: 15px solid #666666; 
						margin-left: 5px;
					}

					&--disabled {

						.en & {
							border-right: 15px solid #999999; 
						}

						.he & {
							border-left: 15px solid #999999; 	
						}
					}
				}*/

				&__items {
					display: inline-block;
					width: 952px;
					white-space: nowrap;
					vertical-align: middle;
					overflow: hidden;

					&__scroll {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						@include transition(all, 0.5s, ease);
					}
				}

				.item-thumbnail {
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 70px;
					height: 50px;
					margin: 6px 2px;
					@include border-radius(4px);
					@include hover-pointer();
					overflow: hidden; 
					@include box-shadow(0 0 5px 0 #999);
					background-color: #f4f4f4;
					
					.en & {
						margin-right: 8px;
					}

					.he & {
						margin-left: 8px;
					}

					.title {
							position: absolute;
							max-width: 60px;
							max-height: 40px;
							white-space: normal;
							visibility: hidden;
							font-size: 9px;
  							overflow: hidden;
  							left: 50%;
  							top: 50%;
  							@include translate(-50%, -50%);
						}

					&--text {

						.title {
								visibility: visible;
							}

						&:hover {
							background-color: #e6e6e6;
						}
					}

					&--pic {
						position: relative;
						overflow: hidden;

						&:hover {

							img {
								opacity: 0.3;
							}

							.title {
								visibility: visible;
							}
						}

						img {
							position: absolute;
							left: 50%;
							top: 50%;
							@include translate(-50%, -50%);
						}
					}
				}
			}	
		}
	}
}	
