.tooltip {
	position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;

    &.left {
    	margin-left: -3px;
    	padding: 0 5px;

    	.tooltip-arrow {
    		right: 0;
    		border-left: 5px solid #d6d6d6;
    	}
    }
    &.right {
    	margin-right: -3px;
    	padding: 0 5px;

    	.tooltip-arrow {
    		left: 0;
    		border-right: 5px solid #d6d6d6;
    	}

    }

    .tooltip-inner {
    	max-width: 200px;
	    padding: 4px 8px;
	    color: #666;
	    text-decoration: none;
	    background-color: #d6d6d6;
	    border-radius: 10px;
    }

    .tooltip-arrow {
		position: absolute;
	    top: 50%;
	    margin-top: -5px;
	    border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	    width: 0;
	    height: 0;
    }

}


#upload {
	background: #ffffff;

	@at-root #upload-instructions-container {
		background-image: url(/images/Upload.jpg);
        background-repeat: no-repeat;
        width: 1716px;
        height: 798px;
        margin: 0 auto;
        position: relative;
        color: $gray3;

		@at-root #upload-instructions {
			text-align: center;
            background: rgba(249,249,249,0.75);
            top: 50px;
		    position: absolute;
		    width: 100%;

			.title {
				font-size: 60px;
			}

			.content {
				font-size: 26px;
    			margin-bottom: 10px;
			}
		}
		.description {
			position: absolute;
			bottom: 0;
			background: $gray5;
    		padding: 2px 10px;
    		font-size: 12px;
    		font-weight: 600;
		}
		.arrow-down {
			position: absolute;
			width: 0; 
			height: 0; 
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			border-top: 30px solid;
			border-top-color: $yellow3;
			@include translateX(50%);
			left: 50%;
    		bottom: 60px;

    		&:hover {
    			border-top-color: $gray5;
    		} 
		}	
	}

	@at-root #tabs-container {
		width: 100%;
		background: #fff;
		@include box-shadow(0 1px 5px 1px #b0b0b0);

		.nav-tabs {
			display: flex;
			justify-content: space-between;
			width: 300px;
			margin: 0 auto;
			padding: 0;
			
			li {
				display: inline-block;
				width: 134px;
				line-height: 40px;
				font-size: 20px;
				color: $gray3;
				text-align: center;
				@include hover-pointer();

				&.active { 
					background-color: $red4;
					color: #fff;
					font-weight: 700;
				}

				a {
					text-decoration: none;
					color: inherit;
				}
				&.inactive {
					color: $gray5;
					cursor: default;
					 a {
					 	cursor: default;
					 }
				}
			}
		}
	}

	.upload-introduction {
		color: $gray3;
		h2 {
			font-weight: normal;
		}

		p {
			margin-bottom: 16px;

			&.emph {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}
	}

	@at-root #upload-view-container {
		width: 100%;

		@at-root #upload-view {
			width: 800px;
			margin: 0 auto;
			padding: 30px 0 10px;

			.upload-success {
				text-align: center;

				&__title {
					font-size: 38px;
				}	

				&__text,
				&__instructions{
					font-size: 18px;
				}

				&__text {
					margin-top: 10px;
				}

				&__instructions {
					margin-top: 45px;
				}

				&__button {
					width: 268px;
					height: 66px;
					margin-top: 3px;
					font-size: 18px;
					@extend %submit-btn;
					text-align: center;
					border: 2px solid #d2d7d3;
				}
			}

			.upload-droparea {
				position: relative;
				overflow: hidden;
				height: 110px;
				width: 100%;
				margin-bottom: 20px;
				border: 2px dotted $gray3;

				&__cloud {
					width: 57px;
					height: 43px;
					@include vertical-align(absolute);
					left: 184px;
				}

				&__rain-cloud {
					width: 92px;
					height: 91px;
					margin: 0 auto 16px;
					@include bg_image("rain_cloud.png");
				}

				.upload-droparea-text {
					display: table-cell;
					margin: 0 auto;
					@include vertical-align(absolute);
					left: 250px;
					color: $gray3;
				}
				&__instructions {
					font-size: 16px;
				}

				&__browse {
					text-decoration: underline;
					font-size: 22px;
					@include hover_pointer();
				}

				&__remove {
					width: 65px;
					height: 75px;
					margin: 0 auto;
					@include hover_pointer();
				}

				&__try-again-btn {
					width: 220px;
					height: 66px;
					margin-top: 18px;
					font-size: 18px;
					@extend %submit-btn;
					text-align: center;
					border: 2px solid #d2d7d3;
				}

				&__progressbar {
					
					.progress{
						background: #999999;

						.progress-bar {
							background: green;
						}
					}
				}

				&__image {
					position: absolute;
					max-height: 80%;
					width: auto;
				}

				@at-root #upload-form {

					.checkbox {
						display: block;
						width: 100%;
						color: $gray3;

						&.rtl {
							direction: rtl;

							.checkbox-label {
								padding-right: 25px;

								&:before {
									right: 0;
								}
							}

							input[type=checkbox]:checked + .checkbox-label:after {
								right: 3px;
							}
						}

						&.ltr {
							direction: ltr;

							.checkbox-label {
								padding-left: 25px;

								&:before {
									left: 0;
								}
							}

							input[type=checkbox]:checked + .checkbox-label:after {
								left: 3px;
							}
						}
						
						input[type=checkbox] {
	                        display: none;
	                    }

	                    .checkbox-label {
	                    	position: relative;
	                    	display: inline-block;
	                    	font-size: 16px;
	                    	@include hover-pointer();

	                    	.en & {
	                    		padding-left: 25px;
	                    	}
	                    	.he & {
	                    		padding-right: 25px;
	                    	}
	                    }

		                .checkbox-label:before {
		                	content: "";
		                	position: absolute;
		                	width: 20px;
						    height: 20px;
						    background-color: $pink;
						    @include border-radius(4px);

						    .en & {
						    	left: 0;
						    }
						    .he & {
						    	right: 0;
						    }
		                }

		                input[type=checkbox]:checked + .checkbox-label:after {
		                	content: "";
		                	display: inline-block;
		                	position: absolute;
		                	top: 4px;
		                	width: 11px;
	                        height: 6px;
	                        border: 3px solid $gray3;
	                        border-top: none;
	                        border-right: none;
	                        background: transparent;
	                        @include rotate($degrees:-45deg);

	                        .en & {
	                        	left: 3px;
	                        }
	                        .he & {
	                        	right: 3px;
	                        }
		                }
					}

					.cc {
						display: block;
						width: 100%;
						img {
							margin-top: 10px;
							.en & {
								float: left;
								margin-right: 10px;
							}

							.he & {
								float: right;
								margin-left: 10px;
							}
						}

						a {
							color: inherit;
							font-size: 17px;

							&:hover {
								color: $gray2;
							}
						}
					}

					.upf {
						margin: 0;
						padding: 0;
						border: none;
						width: 800px;

						&--bilingual {
							width: 370px;
						}

						&--en {

							float: left;
							direction: ltr;

							label {
								left: 10px;
							}

							.upf__field__error {
								left: 10px;
							}
						}

						&--he {
							float: right;
							direction: rtl;

							label {
								right: 10px;
							}

							.upf__field__error {
								right: 10px;
							}
						}

						&__field {
							position: relative;

							label {
								display: block;
								max-width: 370px;
								//opacity: 1;
								//position: absolute;
								color: $gray3;
								//@include transition(all, 0.5s, linear);

								/*&.ng-hide {
									opacity: 0;
									top: 24px;
								}*/
							}

							&__label {

								/*&--up {
									top: 10px;
									font-size: 14px;
								}

								&--down {
									top: 36px;
									font-size: 25px;
								}*/
							}

							input, textarea {
								width: 100%;
								border: 2px solid $red4;
								margin-bottom: 6px;
								padding: 0px 10px;
							    font-size: 18px;
							    font-family: inherit;
							}

							&__title,
							&__location,
							&__date,
							&__creator_name,
							&__people_present {
								height: 75px;
							}

							&__description {
								height: 153px;
								//padding-top: 26px !important;
							}

							&__error {
								opacity: 1;
								position: absolute;
								bottom: 12px;
								font-size: 24px;
								color: #c73420;
								@include transition(all, 0.5s, linear);

								&.ng-hide {
									opacity: 0;
									bottom: 0;
								}
							}
						}

						&__alt-instructions {
							color: $gray3;
							//margin: 35px 0 42px;
							font-size: 20px;

							.en & {
								direction: rtl;
							}

							.he & {
								direction: ltr;
							}
						}

						&__submit {
							display: inline-block;
							width: 146px;
							height: 41px;
							margin: 29px 0 48px;
							background: #48c3d4;
							font-size: 21px;
							color: #ffffff;
							text-align: center;
							border: none;
							@include border-radius(4px);
							@include hover_pointer();
						}

						&__in-progress {
							display: inline-block;
							vertical-align: middle;
							
							img {
								width: 41px;
								height: 41px;
							}
						}
					} 
				}
			}
		}
	}
}