.wizard-form {
	
	&__instructions {
		font-size: 20px;
		margin-bottom: 5px;
	}
			
	&__field {
		display: inline-block;
		vertical-align: top;
		width: 300px;

		label {
			font-size: 12px;
		}

		input {
			width: 100%;
			height: 38px;
			padding: 0 8px;
		}
	
		&--place {

			.en & {
				margin: 0 0 0 35px;	
			}

			.he & {
				margin: 0 35px 0 0;	
			}
		}

		&__autosuggest-wrapper {
			position: relative;
			height: 100%;

			.autosuggest {
				position: absolute;
				width: 100%;
				background: #ffffff;
			}
		}
	}

	&__btn {
		display: inline-block;
		vertical-align: top;
		width: 144px;
		height: 38px;
		color: #f9f9f9;
		font-size: 22px;
		background: #5dc2d4;
		border: none;
		@include border-radius(2px);

		.en & {
			margin-left: 35px;
		}

		.he & {
			margin-right: 35px;
		}

		&:disabled {
			background: grey;
			cursor: default;
		}
	}
}