.wizard-form {
	
	&__instructions {
		font-size: 20px;
		margin-bottom: 5px;
	}
			
	&__field {
		display: inline-block;
		vertical-align: top;
		width: 300px;

		label {
			font-size: 12px;
		}

		input {
			width: 100%;
			height: 38px;
			padding: 0 8px;
			border: 1px solid #a09e9b;
			@include border-radius(3px);
		}
	
		&--place {

			.en & {
				margin: 0 0 0 35px;	
			}

			.he & {
				margin: 0 35px 0 0;	
			}
		}

		&__autosuggest-wrapper {
			position: relative;

			&__autosuggest {
				position: absolute;
				width: 100%;
				padding: 0;
				background: #ffffff;
				border-left: 1px solid #a09e9b;
				border-right: 1px solid #a09e9b;
				border-bottom: 1px solid #a09e9b;

				&__instuctions {
					width: 100%;
					color: #ffffff;
					background-color: #999999;
					padding: 0 8px;
				}

				&__type-wrapper {
					padding: 0 5px;

					&__type {
						margin: 5px auto;

						&__title {
							color: #b0b0b0;
							font-weight: bold;
							padding: 0 3px;

							&--selected {
								color: #68d1d7;
							}
						}

						&__item {
							width: 100%;
							padding: 0 33px;
							margin: 0 auto;
							@include hover_pointer();
							
							&--selected {
								background: #c4edf1;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	&__btn {
		display: inline-block;
		vertical-align: top;
		width: 144px;
		height: 38px;
		@extend %submit-btn;

		.en & {
			margin-left: 35px;
		}

		.he & {
			margin-right: 35px;
		}

		&:disabled {
			background: grey;
			cursor: default;
		}
	}
}