@at-root #wizard-result {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #eeeeee;

	.items {
		width: 610px;
		margin: 0 auto;
		padding: 60px 0;
		
		&__name, &__place {
			width: 300px;
			vertical-align: top;
			padding: 10px;
			margin: 0 auto;

			&.inline {
				display: inline-block;
			}

			.item-preview-container, .no-result {
				@extend %item-preview;
				display: inline-block;

				.item-preview {

					.type {
						
						.type-icon-container {
							padding-top: 6px;
						}
					}

					.header {
						margin: 33px 0 26px;
					}

					.text {
						line-height: 16px;
					}
				}
			}

			.item-preview-container {

				.item-preview {
					@include hover-pointer();

					.header {

						.en & {
							padding: 0 0 0 10px;
						}

						.he & {
							padding: 0 10px 0 0;
						}
					}

					.text {
						height: 46px;
						margin: 0 0 28px;
					}

					.thumbnail {
						width: 260px;
						height: 170px;
					}
				}
			}

			.no-result {

				.item-preview {

					.header, .text {
						color: grey;
						font-weight: normal;
					}
				}
			}
		}

		&__name {

			.item-preview, .no-result {
				width: 280px;
				height: 330px;
			}
		}

		&__place {

			.item-preview, .no-result {
				width: 280px;
				height: 330px;
			}
		}

		&__tree {

			.item-preview, .no-result, .multiple-result {
				height: 85px;
				width: 260px;
			}
		}
	}
}
