@at-root #wizard-result {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #eeeeee;

	.items {
		width: 100%;
		padding: 60px 0;
		text-align: center;

		&__name, &__place, &__individuals {
			display: inline-block;
			vertical-align: top;
			width: 220px;
			padding: 10px;
			margin: 0 auto;

			.en & {
				text-align: left;
			}

			.he & {
				text-align: right;
			}
			
			.item-preview {
				@extend %item-preview;
				display: inline-block;
			}
		}
	}
}
