@at-root #wizard-result {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #eeeeee;
	overflow: auto;

	.items {
		width: 654px;
		margin: 0 auto;
		padding: 60px 0;
		
		&__name-tree, &__place {
			display: inline-block;
			vertical-align: top;
			padding: 10px;

			.item-preview, .no-result, .multiple-result {
				@extend %item-preview;
				display: inline-block;
			}

			.item-arrow-container {
				display: inline-block;
				vertical-align: top;
				width: 40px;
				height: 100%;

				.item-arrow-left, .item-arrow-right, .item-arrow-down {
					width: 22px;
					height: 22px;
				}

				.item-arrow-left {
					@include icon(-55px -106px);
				}

				.item-arrow-right {
					@include icon(-55px -133px);
				}
			}
		}

		&__name-tree {

			&__name {
				margin: 20px 0 10px;

				.item-preview, .no-result, .multiple-result, .item-arrow-container {
					height: 165px;
				}

				.item-preview, .no-result, .multiple-result {
					width: 260px;	
				}

				.item-arrow-container {
					padding: 72px 9px;
				}
			}
		}

		&__place {

			.item-preview {

				.thumbnail {
					margin: 0 auto;
					width: 100%;
					height: 170px;
				}

				.below-thumbnail {

					.text {
						height: 20px;
					}
				}
			}

			.item-arrow-container, .item-preview, .no-result, .multiple-result {
				height: 260px;
			}

			.item-arrow-container {
				padding: 119px 9px;
			}

			.item-preview, .no-result, .multiple-result {
				width: 260px;
			}
		}

		&__tree {

			.item-preview, .no-result, .multiple-result {
				height: 85px;
				width: 260px;
			}
		}
	}
}
