<div class="auth-modal">
	<icon class="xsign" position="[-224, -333]" ng-click="authController.dismiss()"></icon>
	<div>
		<div class="auth-modal__title">
			<en>Sign In</en>
			<he>כניסה</he>
		</div>
    <p>
      <en>
        To save your family's story you need to be logged in.<br />
        To log in just enter your email and we will send you a login link.
     </en>
     <he>
       כדי לשמור את סיפור המשפחה שלך עליך להכנס לחשבונך.<br />
       אנא הכנס את הדואל שלך ואנו נשלח קישור שיכניסך.
     </he>
    </p>
		<form name="signin_form" class="auth-form" rc-submit="authController.signin()" novalidate>
			<fieldset class="bhf bhf--{{authController.lang}}">
				<div class="bhf__field">
					<input 	type="text"
							name="email"
							id="signin-name"
							ng-model="authController.signin_data.email"
							ng-focus="authController.select_field('email')"
							ng-blur="authController.select_field(null)"
							required>
					<label for="signin-name" ng-class="{'bhf__field__label--up': authController.selected_field === 'email' || authController.signin_data.email || rc.signin_form.needsAttention(signin_form.email), 'bhf__field__label--down': authController.selected_field !== 'email' && !(authController.signin_data.email) && !(rc.signin_form.needsAttention(signin_form.email))}">
						<en>Email</en>
						<he>מייל</he>
					</label>
					<div class="bhf__field__error" ng-show="rc.signin_form.needsAttention(signin_form.email)">
						<en>Please enter an email</en>
						<he>אנא הכניסו דוא"ל</he>
					</div>
				</div>
			</fieldset>
			<div>{{authController.message[authController.lang]}}</div>
			<input class="auth-form__submit" type="submit" value="{{authController.submit_values.signin[authController.lang]}}">
		</form>
	</div>
</div>
