<div id="item-page-container">
    <pre ng-if="itemController.error" style="color:red;">
        {{itemController.error.data.error}}
    </pre>
    <div id="item-page" class="clearfix" ng-show="itemController.content_loaded">
        <div class="item-container">
            <div class="item">
                <div class="item__header">
                   <div class="text">
                        <en>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) == itemController.item_data.Header.En">
                                Your Search Result for {{itemController.item_data.Header.En}}:
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) !== itemController.item_data.Header.En">
                                Your Selected Item:
                            </span>
                        </en>
                        <he>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) == itemController.item_data.Header.He">
                                תוצאות חיפוש עבור {{itemController.item_data.Header.He}}:
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) !== itemController.item_data.Header.He">
                                הערך הנבחר:
                            <span>
                        </he>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div id="printSection" class="item__content">
                        <div    class="item__content__media-container"
                                ng-class="{'item__content__media-container--movie': itemController.item_type === 'movies'}">
                                <video ng-src="{{itemController.item_data.video_url}}" controls type="video/mp4" prevent-rightclick autoplay></video>
                        </div>

                <uib-accordion class="media-accordion">
                  <div uib-accordion-group
                       class="panel-default"
                       is-open="itemController.accordion_is_open">
                    <uib-accordion-heading>
                      <div ng-show="!itemController.accordion_is_open" class="dropdown-btn">
                        <span class="arrow arrow--down"></span>
                      </div>
                    </uib-accordion-heading>
                    <div class="content">
                      <mjs-widget item="itemController.item_data"></mjs-widget>
                      <div class="print-btn" ng-click="itemController.print()">
                        <ng-include src="'templates/svgs/print-btn.svg'"></ng-include>
                      </div>
                      <share href="itemController.public_url" text="{{itemController.item_data.Header[itemController.proper_lang]}}"/>
                      <div class="font-size">
                        <span class="large"
                              ng-click="itemController.resize_font('l')"
                              ng-class="{'active': itemController.active_font=='l'}">אA</span>
                        <span class="medium"
                              ng-click="itemController.resize_font('m')"
                              ng-class="{'active': itemController.active_font=='m'}">אA</span>
                        <span class="small"
                              ng-click="itemController.resize_font('s')"
                              ng-class="{'active': itemController.active_font=='s'}">אA</span>
                      </div>
                    </div>
                    <div  class="dropdown-btn"
                          ng-click="itemController.accordion_is_open = false"
                          ng-show="itemController.accordion_is_open">
                      <span class="arrow arrow--up"></span>
                    </div>
                  </div>
                </uib-accordion>
                        <div class="header-wrapper">
                            <item-type type="itemController.item_type"
                              image="itemController.item_data.thumbnail_url"></item-type>
                            <h1 class="item__article-header">
                                <en><span>{{itemController.item_data.Header.En}}</span></en>
                                <he><span>{{itemController.item_data.Header.He}}</span></he>
                            </h1>
                        </div>
                        <div class="gallery-modal__info">
                            <div class="gallery-modal__info__picture-info">
                                <en><span class="field-name">Title: </span>{{itemController.item_data.Header.En}}</en><br/>
                                <he><span class="field-name">כותרת: </span>{{itemController.item_data.Header.He}}</he>
                                <en><span class="field-name">In this film: </span>{{itemController.item_data.UnitText1.En}}</en><br/>
                                <he><span class="field-name">מה בסרט: </span>{{itemController.item_data.UnitText1.He}}</he>
                                <en><span class="field-name">Film Length: </span>{{itemController.item_data.Minutes}}</en><br/>
                                <he><span class="field-name">אורך הסרט: </span>{{itemController.item_data.Minutes}}</he>
                                <en><span class="field-name">Production company: </span>{{itemController.item_data.ProductionCompany.En}}</en><br/>
                                <he><span class="field-name">חברת הפקה: </span>{{itemController.item_data.ProductionCompany.He}}</he>
                                <en><span class="field-name">Production Date: </span>{{itemController.item_data.ProductionYear}}</en><br/>
                                <he><span class="field-name">תאריך הפקה: </span>{{itemController.item_data.ProductionYear}}</he>
                                <en>© All Rights Reserved</en><br/>
                                <he>© כל הזכויות שמורות</he>
                            </div>
                            <div class="gallery-modal__info__gallery-preview">
                                <div class="gallery-modal__info__gallery-preview__title">
                                    <en>More languages / subtitles:</en>
                                    <he>More languages / subtitles:</he>
                                </div>
                                 <ul class="gallery-modal__info__gallery-preview__minified-picture">
                                    <li ng-repeat="pic in gallery.Pictures" ng-class="{'active':isActive($index)}" ng-hide="isHidden($index)">
                                        <img ng-src="https://storage.googleapis.com/bhs-flat-pics/{{pic.PictureId}}.jpg" ng-click="showPhoto($index)"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__bottom-bar">
                          <!-- <img class="museum-icon" src="/templates/svgs/museum.svg" alt="Museum"> -->
                          <en></en>
                          <he></he>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <ng-include src="'templates/item/right_side.html'"></ng-include>
        </div>
    </div>
</div>

