<div id="item-page-container">
    <div id="item-page" ng-show="itemController.content_loaded">
        <div class="item-container">
            <div class="item">
                <div class="item__header">
                   <div class="text">
                        <en>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) == itemController.item_data.Header.En">
                                Your search result for {{itemController.item_data.Header.En}} 
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) !== itemController.item_data.Header.En">
                                Your selected item
                            </span>
                        </en>
                        <he>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) == itemController.item_data.Header.He">
                                תוצאות חיפוש עבור {{itemController.item_data.Header.He}}
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) !== itemController.item_data.Header.He">
                                נושא הנבחר
                            <span>
                        </he>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div id="printSection" class="item__content">
                        <div    class="item__content__media-container"
                                ng-class="{'item__content__media-container--movie': itemController.item_type === 'movies'}">
                                <video ng-src="{{itemController.item_data.video_url}}" controls type="video/mp4" prevent-rightclick autoplay></video>
                        </div> 
                        <div class="header-wrapper">
                            <h2 class="item__article-header">
                                <en>{{itemController.item_data.Header.En}}</en>
                                <he>{{itemController.item_data.Header.He}}</he>
                            </h2>
                            <item-type type="itemController.item_type" image="itemController.item_data.thumbnail.data"></item-type>
                            <mjs-widget item="itemController.item_data"></mjs-widget>
                        </div>
                        <div class="gallery-modal__info">
                            <div class="gallery-modal__info__picture-info">
                                <en><span class="field-name">Title: </span>{{itemController.item_data.Header.En}}</en><br/>
                                <he><span class="field-name">כותרת: </span>{{itemController.item_data.Header.He}}</he>
                                <en><span class="field-name">In this film: </span>{{itemController.item_data.UnitText1.En}}</en><br/>
                                <he><span class="field-name">מה בסרט: </span>{{itemController.item_data.UnitText1.He}}</he>
                                <en><span class="field-name">Film Length: </span>{{itemController.item_data.Minutes}}</en><br/>
                                <he><span class="field-name">אורך הסרט: </span>{{itemController.item_data.Minutes}}</he>
                                <en><span class="field-name">Production company: </span>{{itemController.item_data.ProductionCompany.En}}</en><br/>
                                <he><span class="field-name">חברת הפקה: </span>{{itemController.item_data.ProductionCompany.He}}</he>
                                <en><span class="field-name">Production Date: </span>{{itemController.item_data.ProductionYear}}</en><br/>
                                <he><span class="field-name">תאריך הפקה: </span>{{itemController.item_data.ProductionYear}}</he>
                                <en>© All Rights Reserved</en><br/>
                                <he>© כל הזכויות שמורות</he>
                            </div> 
                            <div class="gallery-modal__info__gallery-preview">
                                <div class="gallery-modal__info__gallery-preview__title">
                                    <en>More languages / subtitles:</en>
                                    <he>More languages / subtitles:</he>
                                </div>
                                 <ul class="gallery-modal__info__gallery-preview__minified-picture">
                                    <li ng-repeat="pic in gallery.Pictures" ng-class="{'active':isActive($index)}" ng-hide="isHidden($index)">
                                        <img ng-src="https://storage.googleapis.com/bhs-flat-pics/{{pic.PictureId}}.jpg" ng-click="showPhoto($index)"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__bottom-bar">
                            <div class="footer">
                                <div class="share-item vertical-middle">
                                    <div class="share-item-header">
                                        <en>Share this item</en>
                                        <he>פרסמו</he>
                                    </div>
                                    <tweet text="{{title}} via @BeitHatfutsot"></tweet>
                                    <fb-share></fb-share>
                                </div>
                                <div id="printbutton" class="print-icon-wrapper vertical-middle" ng-click="itemController.print()">
                                    <span class="print-descr">
                                        <en>Print</en>
                                        <he>הדפסה<he>
                                    </span>
                                    <span class="print-icon" ng-click="window.print()">
                                        <icon position="[-411, -408]" alt-text="{en: 'Print', he: 'הדפסה'}" hover-offset="[0, -35]"></icon>
                                    </span>
                            </div>
                            </div>
                            <mjs-widget item="itemController.item_data"></mjs-widget>
                            <div class="check-related vertical-middle">
                                <div class="check-related__text vertical-middle">
                                    <en>Check the<br>related items</en>
                                    <he>באותו עניין</he>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="right-side">
            <div ng-if="itemController.search_result" class="search-results">
                <div class="search-results__header">
                    <en>Your Search Results:</en>
                    <he>תוצאות חיפוש:</he>
                </div>
                <div class="search-results__field" ng-if="itemController.search_result.name.isNotEmpty()" ng-click="itemController.goto_item(itemController.search_result.name)">
                    <p class="vertical-middle">
                        <en>{{itemController.search_result.name.Header.En}}</en>
                        <he>{{itemController.search_result.name.Header.He}}</he>
                    </p>
                    <item-type type="'familyNames'"></item-type>
                </div>
                <div class="search-results__field" ng-if="itemController.search_result.place.isNotEmpty()" ng-click="itemController.goto_item(itemController.search_result.place)">
                    <p class="vertical-middle">
                        <en>{{itemController.search_result.place.Header.En}}</en>
                        <he>{{itemController.search_result.place.Header.He}}</he>
                    </p>
                    <item-type type="'places'"></item-type>
                </div>
                <div class="search-results__field" ng-if="itemController.search_result.individuals" ng-click="itemController.goto_tree()">
                    <p class="vertical-middle">
                        <span ng-if="itemController.search_result.name.isNotEmpty()">
                            <en>{{itemController.search_result.name.Header.En}}</en>
                            <he>{{itemController.search_result.name.Header.He}}</he>
                        </span>
                        <span ng-if="itemController.search_result.name.isNotEmpty() && itemController.search_result.place.isNotEmpty()">
                            <br />
                            <en>at</en>
                            <he>מ</he>
                        </span>
                        <span ng-if="itemController.search_result.place.isNotEmpty()">
                            <en>{{itemController.search_result.place.Header.En}}</en>
                            <he>{{itemController.search_result.place.Header.He}}</he>
                        </span>
                    </p>
                    <item-type type="'genTreeIndividuals'"></item-type>
                </div>
            </div>
            <div class="related">
                <div class="related__header">
                    <en>Related Items</en>
                    <he>פרטים קשורים</he>
                </div>
                <!-- <trees-preview ng-if="itemController.related_individuals" individuals="itemController.related_individuals" query-params="itemController.related_individuals_query_params"></trees-preview> -->
                <item-preview ng-repeat="r_data in itemController.related_data | limitTo: 6" preview-data="r_data"></item-preview> 
            </div>
        </div>
    </div>
</div>

