<div id="item-page-container">
    <pre ng-if="itemController.error" style="color:red;">
        {{itemController.error.data.error}}
    </pre>
    <div id="item-page" class="clearfix" ng-show="itemController.content_loaded">
        <div class="item-container">
            <div class="item">
                <div class="item__header">
                    <div class="text">
                        <en>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) == itemController.item_data.Header.En">
                                Your Search Result for {{itemController.item_data.Header.En}}:
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.En || itemController.search_result.name.Header.En) !== itemController.item_data.Header.En">
                                Your Selected Item:
                            </span>
                        </en>
                        <he>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) == itemController.item_data.Header.He">
                                תוצאות חיפוש עבור {{itemController.item_data.Header.He}}:
                            </span>
                            <span ng-if="(itemController.search_result.place.Header.He || itemController.search_result.name.Header.He) !== itemController.item_data.Header.He">
                                הערך הנבחר:
                            <span>
                        </he>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div printSection class="item__content">
                        <div  class="item__content__media-container"
                              ng-class="{'item__content__media-container--photoUnit': itemController.item_type === 'photoUnits'}">
                            <div ng-repeat="pic in itemController.sort_pictures()" ng-switch on="pic.PictureId != undefined">
                              <img  ng-switch-when="true"
                                    class="picture"
                                    ng-show="itemController.isActive($index)"
                                    ng-src="https://storage.googleapis.com/bhs-flat-pics/{{pic.PictureId}}.jpg"
                                    ng-click="itemController.open_gallery()"
                                    prevent-rightclick
                                    fit-thumb>

                              <a    ng-switch-when="false"
                                    ng-href="{{itemController.lang=='en'?'http://www.bh.org.il/about-us/volunteering/':'http://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/'}}"
                                    target="blank">
                                <img  class="picture notdigitized"
                                      ng-show="itemController.isActive($index)"
                                      ng-src="images/digitization-{{itemController.lang}}.jpg"
                                      prevent-rightclick>
                              </a>
                            </div>
                            <div class="arrows" ng-if="itemController.item_data.Pictures.length > 1">
                                <div class="arrow-left" ng-click="itemController.showPrev()"></div>
                                <div class="arrow-right" ng-click="itemController.showNext()"></div>
                            </div>
                        </div>

                        <uib-accordion class="media-accordion">
                          <div uib-accordion-group
                               class="panel-default"
                               is-open="itemController.accordion_is_open">
                            <uib-accordion-heading>
                              <div ng-show="!itemController.accordion_is_open" class="dropdown-btn">
                                <span class="arrow arrow--down"></span>
                              </div>
                            </uib-accordion-heading>
                            <div class="content">
                              <mjs-widget item="itemController.item_data"></mjs-widget>
                              <div class="print-btn" ng-click="itemController.print()">
                                <ng-include src="'templates/svgs/print-btn.svg'"></ng-include>
                              </div>
                              <share href="itemController.public_url" text="{{itemController.item_data.Header[itemController.proper_lang]}}"></share>
                              <div class="font-resize">
                                <span class="large"
                                      ng-click="itemController.resize_font('l')"
                                      ng-class="{'active': itemController.active_font=='l'}">אA</span>
                                <span class="medium"
                                      ng-click="itemController.resize_font('m')"
                                      ng-class="{'active': itemController.active_font=='m'}">אA</span>
                                <span class="small"
                                      ng-click="itemController.resize_font('s')"
                                      ng-class="{'active': itemController.active_font=='s'}">אA</span>
                              </div>
                            </div>
                            <div  class="dropdown-btn"
                                  ng-click="itemController.accordion_is_open = false"
                                  ng-show="itemController.accordion_is_open">
                              <span class="arrow arrow--up"></span>
                            </div>
                          </div>
                        </uib-accordion>

                        <div class="header-wrapper">
                            <item-type type="itemController.item_type"
                              image="itemController.item_data.thumbnail_url"></item-type>
                            <h1 class="item__article-header">
                                <en>{{itemController.item_data.Header.En}}</en>
                                <he>{{itemController.item_data.Header.He}}</he>
                            </h1>
                        </div>
                        <div class="gallery-modal__info">
                            <div class="gallery-modal__info__picture-info">
                                <en><span class="field-name" ng-if="itemController.item_data.UnitText1.En.isNotEmpty()">Description: </span>{{itemController.item_data.UnitText1.En}}<br></en>
                                <he><span class="field-name" ng-if="itemController.item_data.UnitText1.He.isNotEmpty()">תיאור: </span>{{itemController.item_data.UnitText1.He}}<br></he>
                                <span ng-if="itemController.item_data.UnitId">
                                    <span class="field-name">
                                        <en>Photo Unit Number: </en>
                                        <he>מספר תמונה יחידה: </he>
                                    </span>
                                    {{itemController.item_data.UnitId}}
                                    <br>
                                </span>
                                <span>
                                    <en>© All Rights Reserved</en>
                                    <he>© כל הזכויות שמורות</he>
                                    <br>
                                </span>
                            </div>
                            <div class="gallery-modal__info__gallery-preview">
                                <div class="gallery-modal__info__gallery-preview__title">
                                    <en>{{itemController.item_data.Header.En}} Pictures ({{itemController.item_data.Pictures.length}} found)</en>
                                    <he>{{itemController.item_data.Header.He}} Pictures ({{itemController.item_data.Pictures.length}} found)</he>
                                </div>
                                 <ul class="gallery-modal__info__gallery-preview__minified-picture">
                                    <li ng-repeat="pic in itemController.sort_pictures()" ng-class="{'active':itemController.isActive($index)}" ng-hide="isHidden($index)">
                                        <img ng-src="{{pic.PictureId == undefined ? 'images/digitization-sm-'+itemController.lang+'.jpg' : 'https://storage.googleapis.com/bhs-flat-pics/'+pic.PictureId+'.jpg' }}"
                                             ng-click="itemController.showPhoto($index)"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="item__bottom-bar">
                          <img class="museum-icon" src="/templates/svgs/museum.svg" alt="Museum">
                          <en>Official text written by Researchers of The Museum of The Jewish People at Beit Hatfutsot</en>
                          <he>תוצופתה תיבב ידוהיה םעה ןואיזומ - ונלש םירקוח י“ע בתכנש ימשר טסקט</he>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
        <div class="right-side">
            <ng-include src="'templates/item/right_side.html'"></ng-include>
        </div>
    </div>
</div>

