<div ng-if="itemController.search_result" class="search-results">
    <div class="search-results__header">
        <en>Your Search Results:</en>
        <he>תוצאות חיפוש:</he>
    </div>
    <div class="search-results__field" ng-if="itemController.search_result.name.isNotEmpty()" ng-click="itemController.goto_item(itemController.search_result.name)">
        <p class="vertical-middle">
            <en>{{itemController.search_result.name.Header.En}}</en>
            <he>{{itemController.search_result.name.Header.He}}</he>
        </p>
        <item-type type="'familyNames'"></item-type>
    </div>
    <div class="search-results__field" ng-if="itemController.search_result.place.isNotEmpty()" ng-click="itemController.goto_item(itemController.search_result.place)">
        <p class="vertical-middle">
            <en>{{itemController.search_result.place.Header.En}}</en>
            <he>{{itemController.search_result.place.Header.He}}</he>
        </p>
        <item-type type="'places'"></item-type>
    </div>
    <div class="search-results__field"
         ng-click="itemController.goto_persons()">
        <p class="vertical-middle">
            <span ng-if="itemController.search_result.name.Header">
                <en>{{itemController.search_result.name.Header.En}}</en>
                <he>{{itemController.search_result.name.Header.He}}</he>
            </span>
            <span ng-if="itemController.search_result.name.Header &&
                         itemController.search_result.place.Header">
                <br/>
                    <en>at</en>
                    <he>מ</he>
            </span>
            <span ng-if="itemController.search_result.place.Header">
                <en>{{itemController.search_result.place.Header.En}}</en>
                <he>{{itemController.search_result.place.Header.He}}</he>
            </span>
        </p>
        <item-type type="'genTreeIndividuals'"></item-type>
    </div>
</div>
<div class="related">
    <div class="related__header">
        <en>Related Items:</en>
        <he>ערכים קשורים:</he>
    </div>
    <item-preview ng-repeat="r_data in itemController.related_data | limitTo: 6" preview-data="r_data" item-source="bh"></item-preview> 
</div>
