<div id="item-page-container">
    <pre ng-if="itemController.error" style="color:red;">
      {{itemController.error.data.error}}
  </pre>
    <div id="item-page" class="clearfix" ng-show="itemController.content_loaded">
        <div class="item-container">
            <div class="item">
                <div class="item__header">
                    <div class="text">
                        <en>
                          <span ng-if="itemController.item_data.title_en">
                            Your Search Result for {{itemController.item_data.title_en}}:
                          </span>
                          <!-- TODO: figure out why this logic is needed -->
                                        <!--<span ng-if="(itemController.search_result.place.title_en || itemController.search_result.name.title_en) == itemController.item_data.title_en">-->
                  <!--Your Search Result for {{itemController.item_data.title_en}}:-->
              <!--</span>-->
                            <!--<span ng-if="(itemController.search_result.place.title_en || itemController.search_result.name.title_en) !== itemController.item_data.title_en">-->
                  <!--Your Selected Item:-->
              <!--</span>-->
                        </en>
                        <he>
                          <span ng-if="itemController.item_data.title_he">
                                        תוצאות חיפוש עבור {{itemController.item_data.title_he}}:
                          </span>
                          <!-- TODO: figure out why this logic is needed -->
                            <!--<span ng-if="(itemController.search_result.place.title_he || itemController.search_result.name.title_he) == itemController.item_data.title_he">-->
                  <!--תוצאות חיפוש עבור {{itemController.item_data.title_he}}:-->
              <!--</span>-->
                            <!--<span ng-if="(itemController.search_result.place.title_he || itemController.search_result.name.title_he) !== itemController.item_data.title_he">-->
                  <!--הערך הנבחר:-->
              <!--<span>-->
            </he>
          </div>
        </div>

				<div class="item-wrapper">
					<div id="printSection" class="item__content">
						<div 	class="item__content__media-container"
								ng-if="itemController.item_data.main_image_url">
								<div class="main-img-wrapper" ng-class="{'main-img-wrapper--display-more': itemController.item_data.Pictures.length > 1}">
									<img 	class="picture"
											ng-class="{'picture--display-more': itemController.item_data.Pictures.length > 1}"
											ng-src="{{itemController.item_data.main_image_url}}"
											alt="Item Image"
											ng-click="itemController.open_gallery(itemController.get_main_pic_index())"
											prevent-rightclick/>
								</div>
								<div class="add-img-wrapper" ng-if="itemController.item_data.Pictures.length > 1">
									<img  	class="picture"
											ng-class="{'picture--display-more': itemController.item_data.Pictures.length > 1}"
											ng-click="itemController.open_gallery(itemController.get_additional_pic_index())"
											ng-src="{{itemController.get_additional_pic_url()}}"
											prevent-rightclick>
									<div  class="image-separator"></div>
								</div>
							<div class="white-part" ng-show="itemController.item_data.Pictures.length > 1">
								<div class="pictures-info">
									<en> + {{itemController.item_data.Pictures.length-1}} Pictures<br/>Click to View</en>
									<he> + {{itemController.item_data.Pictures.length-1}} תמונות<br/>לחצו לצפייה</he>
								</div>
								<div class="diagonal-block">
									<div  class="diagonal-separator" style="left:-63px; opacity:1;"></div>
									<div  class="diagonal-separator" style="left:-43px; opacity:0.7;"></div>
									<div  class="diagonal-separator" style="left:-23px; opacity:0.4;"></div>
								</div>
							</div>
						</div>


            <uib-accordion class="media-accordion">
              <div uib-accordion-group
                   class="panel-default"
                   is-open="itemController.accordion_is_open">
                <uib-accordion-heading>
                  <div ng-show="!itemController.accordion_is_open" class="dropdown-btn">
                    <span class="arrow arrow--down"></span>
                  </div>
                </uib-accordion-heading>
                <div class="content">
                  <mjs-widget item="itemController.item_data"></mjs-widget>
                  <div class="print-btn" ng-click="itemController.print()">
                     <ng-include src="'templates/svgs/print-btn.svg'"></ng-include>
                  </div>
                  <share href="itemController.public_url" text="{{itemController.item_data.Header[itemController.proper_lang]}}"></share>
                  <div class="font-resize">
                    <span class="large"
                          ng-click="itemController.resize_font('l')"
                          ng-class="{'active': itemController.active_font=='l'}">אA</span>
                    <span class="medium"
                          ng-click="itemController.resize_font('m')"
                          ng-class="{'active': itemController.active_font=='m'}">אA</span>
                    <span class="small"
                          ng-click="itemController.resize_font('s')"
                          ng-class="{'active': itemController.active_font=='s'}">אA</span>
                  </div>
                </div>
                </uib-accordion-heading>
                  <div class="dropdown-btn" ng-click="itemController.accordion_is_open = false" ng-show="itemController.accordion_is_open">
                    <span class="arrow arrow--up"></span>
                  </div>
                </div>
              </uib-accordion>

                <div class="header-wrapper">
                    <item-type type="itemController.item_type"></item-type>
                    <h1 class="item__article-header">
                        <en>{{itemController.item_data.title_en}}</en>
                        <he>{{itemController.item_data.title_he}}</he>
                    </h1>
                </div>

                <ng-switch on="itemController.hasTextContentForCurrentLang()">
                    <div ng-switch-when="true" class="item__article-texts" ng-class="{'expand': itemController.is_expanded}">
                        <en>
                            <p marked="itemController.getTextContentForCurrentLang()"></p>
                        </en>
                        <he>
                            <span marked="itemController.getTextContentForCurrentLang()"></span>
                        </he>
                    </div>
                    <div ng-switch-default="false" class="item__article-texts">
                        <en>
                            <span>
                    <p class="err-preview">This item only exists in Hebrew at the moment...<br>
                    But not all is lost! <span class="err-preview-sm"><a ng-href="{{itemController.proper_link}}" target="_self">Click here</a> to view it in Hebrew.</span></p>
                            <h3>Why is this happening?</h3>
                            <p>The search results are derived from a wide array of sources, including a rich repository of Hebrew texts. Our experts are hard at work translating these texts, but unfortunately there are some results we haven't gotten to yet.
                                Rest assured, we're working on it!</p>
                            <h3>Can you help us translate this item?</h3>
                            <p>If you are fluent in both English and Hebrew, we invite you to contribute to our database by translating, editing and giving feedback on items such as this.
                                <a ng-href="http://www.bh.org.il/about-us/volunteering/" target="_blank">Click here for more details</a>.</p>
                            </span>
                        </en>
                        <he>
                            <span>
                    <p class="err-preview">Sorry, עמוד זה קיים באנגלית בלבד.<br> אבל יש תקווה באופק - <span class="err-preview-sm">
                      <a ng-href="{{itemController.proper_link}}" target="_self">לחצו כאן</a> כדי לעבור לעמוד באנגלית.</span></p>
                            <h3>מדוע זה קורה?</h3>
                            <p>מאגר המדע של בית התפוצות נבנה לאורך עשרות שנים בעמל רב בידי אנשי מקצוע מסורים.<br> האייטמים נאספו ממספר מקורות רחב ומגוון - עבודה שהתקשתה על עבודה התרגום לעברית.<br> בימים אלו צוות בית התפוצות עובד על תרגום כל האייטמים, אולם
                                לצערנו עדיין נותרו מםפר דפים לא מתורגמים.
                            </p>
                            <h3>רוצים לעזור בתרגום?</h3>
                            <p>אם אתם שולטים בעברית ובאנגלית ברמת שפת אם, הנכם מוזמנים לסייע לנו בעבודת התרגום, העריכה, ההגהה ועוד
                                <a ng-href="http://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/" target="_blank">לפרטים נוספים</a>.
                            </p>
                            </span>
                        </he>
                    </div>
                </ng-switch>

                <div class="item__article-options">
                    <p class="read-more" ng-if="!itemController.is_expanded && itemController.is_expandable" ng-click="itemController.is_expanded = true">
                        <a href="#" class="button">
                            <en>Continue reading</en>
                            <he>להמשך קריאה</he>
                        </a>
                    </p>
                    <mjs-widget item="itemController.item_data"></mjs-widget>
                </div>

                <div class="item__bottom-bar">
                    <ng-include class="museum-icon" src="'templates/svgs/museum.svg'" alt="Museum"></ng-include>
                    <en>Official text written by Researchers of The Museum of The Jewish People at Beit Hatfutsot</en>
                    <he>טקסט רשמי שנכתב ע“י חוקרים שלנו - מוזיאון העם היהודי בבית התפוצות</he>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-side">
    <ng-include src="'templates/item/right_side.html'"></ng-include>
</div>
</div>
