<upload-area ctrl="uploadPictureCtrl" flow-instance-init="uploadCtrl.flow_init"></upload-area>
<form name="upload_form" id="upload-picture-form" rc-submit="uploadPictureCtrl.submit()" novalidate>
	<upload-fieldset	ng-if="uploadPictureCtrl.lang === 'he'" 
						ctrl="uploadPictureCtrl" 
						upload-form="upload_form" 
						rc="rc" lang="he" 
						is-required="true">
	</upload-fieldset>
	<div class="upf__alt-instructions" ng-if="uploadPictureCtrl.lang === 'he'">
		<en>במידה ואתם דוברי עברית, אנא מלאו את אותם הפרטים גם בעברית</en>
		<he>If you speak English, please fill the same details below</he>
	</div>
	<upload-fieldset 	ctrl="uploadPictureCtrl" 
						upload-form="upload_form" 
						rc="rc" lang="en" 
						is-required="uploadPictureCtrl.lang === 'en' ? true : false">
	</upload-fieldset>
	<div class="upf__alt-instructions" ng-if="uploadPictureCtrl.lang === 'en'">
		<en>במידה ואתם דוברי עברית, אנא מלאו את אותם הפרטים גם בעברית</en>
		<he>If you speak English, please fill the same details below</he>
	</div>
	<upload-fieldset 	ng-if="uploadPictureCtrl.lang === 'en'" 
						ctrl="uploadPictureCtrl" 
						upload-form="upload_form" 
						rc="rc" lang="he" 
						is-required="false">
	</upload-fieldset>
	<input type="submit" value="{{uploadPictureCtrl.submit_value[uploadPictureCtrl.lang]}}" class="upf__submit">
	<div class="upf__in-progress" ng-show="uploadPictureCtrl.in_progress">
		<img src="images/progress.gif">
	</div>
</form>