<p>
    <en>Thank you. Your image has been successfully uploaded and is awaiting approval by our team. You will receive an email shortly letting you know whether or not your upload was approved.</en>
    <he>תודה רבה, התמונה הועלתה בהצלחה ונשלחה אלינו לאישור. בקרוב תקבלו מאתנו מייל שמודיע לכם האם התמונה אושרה או לא, ואם לא למה.</he>
</p>
<p>
    <en>What would you like to do now?</en>
    <he>מה תרצו לעשות עכשיו?
</he>
</p>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="return()">
        <en>Upload another item</en>
        <he>להעלות עוד תמונה</he>
    </button>
    <button class="btn btn-warning" type="button" ng-click="go_to_story()">
        <en>Go to My Story</en>
        <he>לעמוד "הסיפור שלי"</he>
    </button>
</div>