<fieldset class="upf upf--{{fieldsetLang}}">
	<div class="upf__field" ng-repeat="type in metaData.order">
		<input 	ng-if="type !== 'description'" 
				type="text" 
				id="upf-{{type}}-{{fieldsetLang}}" 
				class="upf__field__{{type}}" 
				later-name="{{type}}_{{fieldsetLang}}" 
				placeholder="{{rc.upload_form.needsAttention(upload_form[type + '_' + fieldsetLang]) ? '' : metaData.placeholders[type][fieldsetLang][isRequired]}}"
				ng-model="metaData.values[type][fieldsetLang]" 
				ng-required="isRequired">
		<textarea 	ng-if="type === 'description'" 
					type="text" id="upf-{{type}}-{{fieldsetLang}}" 
					class="upf__field__{{type}}" 
					later-name="{{type}}_{{fieldsetLang}}" 
					placeholder="{{rc.upload_form.needsAttention(upload_form[type + '_' + fieldsetLang]) ? '' : metaData.placeholders[type][fieldsetLang][isRequired]}}" 
					ng-model="metaData.values[type][fieldsetLang]" ng-required="isRequired">
		</textarea>
		<label 	for="upf-{{type}}-{{fieldsetLang}}" 
				ng-show="metaData.values[type][fieldsetLang] || rc.upload_form.needsAttention(upload_form[type + '_' + fieldsetLang])">
			{{metaData.placeholders[type][fieldsetLang][isRequired]}}
		</label>
        <div class="upf__field__error" ng-show="rc.upload_form.needsAttention(upload_form[type + '_' + fieldsetLang])">
        	{{metaData.validation_errors[type][fieldsetLang]}}
        </div>
	</div>
</fieldset>