<form name="upload_form" id="upload-form" rc-submit="ctrl.submit()" novalidate>
	<upload-fieldset	ng-if="lang === 'he'" 
						meta-data="metaData" 
						upload-form="upload_form" 
						rc="rc" 
						lang="he" 
						is-required="true">
	</upload-fieldset>
	<div class="upf__alt-instructions" ng-if="uploadImageCtrl.lang === 'he'">
		<en>במידה ואתם דוברי עברית, אנא מלאו את אותם הפרטים גם בעברית</en>
		<he>If you speak English, please fill the same details below</he>
	</div>
	<upload-fieldset 	meta-data="metaData" 
						upload-form="upload_form" 
						rc="rc" 
						lang="en" 
						is-required="lang === 'en' ? true : false">
	</upload-fieldset>
	<div class="upf__alt-instructions" ng-if="lang === 'en'">
		<en>במידה ואתם דוברי עברית, אנא מלאו את אותם הפרטים גם בעברית</en>
		<he>If you speak English, please fill the same details below</he>
	</div>
	<upload-fieldset 	ng-if="lang === 'en'" 
						meta-data="metaData" 
						upload-form="upload_form" 
						rc="rc" 
						lang="he" 
						is-required="false">
	</upload-fieldset>
	<input type="submit" value="{{ctrl.submit_value[lang]}}" class="upf__submit">
	<div class="upf__in-progress" ng-show="ctrl.in_progress">
		<img src="images/progress.gif">
	</div>
</form>