<fieldset class="upf upf--{{lang}}">
	<div class="upf__field" ng-repeat="type in ctrl.meta_data_order">
		<input 	ng-if="type !== 'description'" 
				type="text" 
				id="upf-{{type}}-{{lang}}" 
				class="upf__field__{{type}}" 
				later-name="{{type}}_{{lang}}" 
				placeholder="{{rc.upload_form.needsAttention(upload_form[type + '_' + lang]) ? '' : ctrl.meta_data_placeholders[type][lang][isRequired]}}"
				ng-model="ctrl.meta_data[type][lang]" 
				ng-required="isRequired">
		<textarea 	ng-if="type === 'description'" 
					type="text" id="upf-{{type}}-{{lang}}" 
					class="upf__field__{{type}}" 
					later-name="{{type}}_{{lang}}" 
					placeholder="{{rc.upload_form.needsAttention(upload_form[type + '_' + lang]) ? '' : ctrl.meta_data_placeholders[type][lang][isRequired]}}" 
					ng-model="ctrl.meta_data[type][lang]" ng-required="isRequired">
		</textarea>
		<label 	for="upf-{{type}}-{{lang}}" 
				ng-show="ctrl.meta_data[type][lang] || rc.upload_form.needsAttention(upload_form[type + '_' + lang])">
			{{ctrl.meta_data_placeholders[type][lang][isRequired]}}
		</label>
		<!--<div ng-class="{'validation-icon-invalid': rc.form.needsAttention(form.phone), 'validation-icon-valid': !rc.form.needsAttention(form.phone) && rc.form.attempted}"></div>-->
        <div class="upf__field__error" ng-show="rc.upload_form.needsAttention(upload_form[type + '_' + lang])">
        	{{ctrl.validation_errors[type][lang]}}
        </div>
	</div>
</fieldset>