<auth-private>
<div id="upload" ng-controller="UploadController as uploadCtrl">
     <div id="upload-instructions-container">
        <div id="upload-instructions" ng-hide="uploadCtrl.success">
            <div class="title">
                <en>Upload your item</en>
                <he>הוסיפו את הפריטים שלכם</he>
            </div>
            <div class="content">
                <en>
                    Uploaded items will be added to your story. Some may be included in the database for others to search and view.
                </en>
                <he>
                    פריטים שתעלו יתווספו לסיפור שלכם. חלק מהפריטים שיימצאו מתאימים יתווספו למאגרים כדי שגם אנשים אחרים יוכלו להנות מהם.
                </he>
            </div>
        </div>
    </div>
    <div id="tabs-container">
        <div class="tabs">
            <tabset justified="true">
                <tab heading="{{uploadCtrl.get_tab_heading('image')}}" active="uploadCtrl.tab_status.image"></tab>
                <tab heading="{{uploadCtrl.get_tab_heading('family_tree')}}" active="uploadCtrl.tab_status.family_tree"></tab>
            </tabset>
        </div>
    </div>
    <div id="upload-view-container">
        <div id="upload-view" ui-view></div>
    </div>
</div>
</auth-private>
